<template>
  <div class="corps">
    <div style="height: 100vh; background: black" id="zoom">
     <vs-button color="black" style="background: white; z-index: 10; color: black; margin: 5px; position: absolute" type="gradient" icon="zoom_in_map">Fermer</vs-button>
        <carousel style="height: 100vh; background: orange" :per-page="1"  :mouse-drag="false" :navigationEnabled="true" :autoplay="true" paginationActiveColor="#ff9800">
                <slide>
                  <center>
                    <img src="../../assets/1845244.jpg" style="max-height: 225px">
                  </center>
                </slide>
                <slide>
                  <center>
                    
                     <cld-image publicId="gologolo" >
                      <cld-transformation height="225" crop="scale" />
                    </cld-image>
                  </center>
                </slide>
                <slide>
                  <center>
                     <cld-image publicId="gologolo" >
                      <cld-transformation height="225" crop="scale" />
                    </cld-image>
                  </center>
                </slide>
                <slide>
                 <center>
                     <cld-image publicId="gologolo" >
                      <cld-transformation height="225" crop="scale" />
                    </cld-image>
                  </center>
                </slide>
                <slide>
                  <center>
                     <cld-image publicId="gologolo" >
                      <cld-transformation height="225" crop="scale" />
                    </cld-image>
                  </center>
                </slide>
              </carousel>
    </div>
  </div>
</template>

<script>
import { Carousel, Slide } from 'vue-carousel';
// @ is an alias to /src

export default {
  name: 'Web',
  components: {
    Carousel,
    Slide
  },
  data(){
    return {
      residences: null,
    }
  },
  methods: {
      lala() {
          this.residences = this.$route.query.user;
      }

  },

  mounted() {
      this.lala();
  }
}
</script>
