<template>
  <div class="corps">
    <div class=" zone-of-work-m" style="margin-top: -15px">
      <div class="card-nav" style="margin-bottom: 5px; border: 2px solid #5e5eff">
        <span style="color: #1f74ff; position: absolute; z-index: 100; width: 95%">
              <vs-button @click="retour" color="primary" style="background: white; z-index: 10; margin: 5px" type="filled" icon="keyboard_backspace"></vs-button>
              
              
            </span>
            <carousel :per-page="1"  :mouse-drag="false" :navigationEnabled="true" :autoplay="true" paginationActiveColor="#ff9800" v-if="!videoCall">
                <slide v-if="residences.imagea.length > 5">
                  <center>
                  <img :src="residences.imagearef" style="height:225px">
                  </center>
                </slide>
                <slide v-if="residences.imageb.length > 5">
                  <center>
                    <img :src="residences.imageb" height="225">
                  </center>
                </slide>
                <slide v-if="residences.imagec.length > 5">
                  <center>
                    <img :src="residences.imagec" height="225">
                  </center>
                </slide>
                <slide v-if="residences.imaged.length > 5">
                  <center>
                    <img :src="residences.imaged" height="225">
                  </center>
                </slide>

                <slide v-if="residences.imagee.length > 5">
                  <center>
                    <img :src="residences.imagee" height="225">
                  </center>
                </slide>
                <slide v-if="residences.imagef.length > 5">
                  <center>
                    <img :src="residences.imagef" height="225">
                  </center>
                </slide>
                <slide v-if="residences.imageg.length > 5">
                  <center>
                    <img :src="residences.imageg" height="225">
                  </center>
                </slide>
                <slide v-if="residences.imageh.length > 5">
                  <center>
                    <img :src="residences.imageh" height="225">
                  </center>
                </slide>
              </carousel>
              <iframe v-else style="width: 100%; margin: 0 auto; height: 230px;" src="https://www.youtube.com/embed/CEBdaFd_Uts?controls=0"></iframe>
            </div>
           
             <vs-card style="border-radius: 10px; width: 100%; padding-bottom: 1px;">
              
              <vs-row>
                          <vs-col vs-type="inline-flex" vs-w="7" style="background-color: #e2fdfd; border-radius: 20px; margin: 8px">
                            <div style="display: inline-flex;">
                              <div style="display: flex;">
                                <span><vs-avatar  color="primary" icon="location_city" style=""/></span>
                                <span style="padding-top: 9px; font-size: 12px; font-weight: normal; color: #64688c;">{{residences.ville}}</span>
                              </div>
                              <div style="display: flex;" v-if="residences.zone.length>2">
                                <span><vs-avatar color="primary" icon="location_on" style=""/></span>
                                <span style="padding-top: 9px; font-size: 12px; font-weight: normal; color: #64688c;">{{residences.zone}}</span>
                              </div>
                            </div>
                          </vs-col>
                          <vs-col vs-type="flex"  vs-align="center" vs-w="4" style="margin: 0; padding: 0">
                            <h2 style="text-align: left; padding: 8px; font-size: 18px;">{{residences.typer}}</h2>
                          </vs-col>
                        </vs-row>
                        <span style="padding: 10px; font-size: 16px; font-weight: normal; color: #64688c;">{{residences.quartier}}</span>
                        <vs-divider/>
                        <el-row style="margin-top: -30px">
                                <el-col :span="11" v-if="residences.s_securite == 'true'">
                                  <div class="grid-content bg-purple">
                                    <vs-list-item icon="timer" title="" :subtitle="'Dispo à '+residences.jourhe"></vs-list-item>
                                  </div>
                                  </el-col>
                                  <el-col :span="13" v-if="residences.s_securite == 'true'">
                                  <div class="grid-content bg-purple">
                                    <vs-list-item icon="timer" title="" :subtitle="'Libérer avant '+residences.jourhs"></vs-list-item>
                                  </div>
                                  </el-col>
                             </el-row>
                            
            </vs-card>
            
            <vs-card style="border-radius: 10px; width: 100%;">
              <vs-alert
              style="color: white;"
                :active.sync="active1"
                closable
                color="green"
                close-icon="cancel">
                  Réduction Activée
                </vs-alert>
              <p style="text-align: center; font-weight: 600; font-size: 26px; line-height: 30px; padding: 16px; color: #64BC5F; font-family: 'Jost', sans-serif"><vs-icon v-if="argent.nom == 'Dollar'" class="" size="20px" :icon="argent.icone"></vs-icon>{{Intl.NumberFormat().format(Math.round(residences.jourt/argent.value * 10) / 10)}} <vs-icon v-if="argent.nom == 'Euro'" class="" size="20px" :icon="argent.icone"></vs-icon><span v-if="argent.nom == 'CFA'">CFA</span><span style="color:#64688c; font-size: 16px; font-weight: normal;"> par jour</span></p>
              <p style="font-size: 14px; text-align: center; padding-bottom: 10px;" class="result-price-reduction" v-if="residences.reductionok == 'true'">Réduction à partir de {{residences.reductionj}}</p>
                                  <p v-if="residences.reductionok == 'true'" class="result-price-delay" style="font-size: 12px; text-align: center;">Tarif réduction : <b>{{residences.reductiont}}</b> / jour</p>
                                  <center><vs-button style="font-family: 'Jost', sans-serif; font-size: 16px; color: white; margin-top: 15px; width: 100%; letter-spacing: 1px;" color="primary" type="filled" @click="reservation = true">Réserver</vs-button></center>
            </vs-card>
            
            <vs-card style="border-radius: 10px; width: 100%;">
                <vs-button style="margin: 5px; color: black; font-size: 17px;" color="white" type="filled" icon="videocam" @click="$modal.show('my-first-modal')" v-if="residences.video.length > 9">Voir vidéo</vs-button>

            </vs-card>
            <div style="padding: 10px;">
             <div style="margin-top: 20px">
                <p style="font-size: 25px; font-family: 'Jost', sans-serif;">Caractéristiques</p>
                <div class="accueil-bodyservice-themea" style="margin: 15px auto;">
                    <vs-row>
                      <vs-col v-tooltip="'col - 3'" vs-justify="center" vs-align="center" vs-w="4" style="padding: 10px;" v-if="residences.nb_chambre >=1">
                        <div class="accueil-bodyserviceitemdetail-themea21">
                          <center><vs-icon icon="meeting_room" size="30px" color="#1f74ff" ></vs-icon></center>
                          <span style="letter-spacing: 1px; font-size: 11px; font-weight: normal; color: #1f74ff;">{{residences.nb_chambre}} Chambre</span>
                        </div>
                      </vs-col>
                      <vs-col v-tooltip="'col - 3'" vs-justify="center" vs-align="center" vs-w="4" style="padding: 10px;" v-if="residences.nb_toilette >=1">
                        <div class="accueil-bodyserviceitemdetail-themea21">
                          <center><vs-icon icon="shower" size="30px" color="#1f74ff" ></vs-icon></center>
                          <span style="letter-spacing: 1px; font-size: 11px; font-weight: normal; color: #1f74ff;">{{residences.nb_toilette}} Douche</span>
                        </div>
                      </vs-col>
                      <vs-col v-tooltip="'col - 3'" vs-justify="center" vs-align="center" vs-w="4" style="padding: 10px;" v-if="residences.nb_salon >=1">
                        <div class="accueil-bodyserviceitemdetail-themea21">
                          <center><vs-icon icon="chair" size="30px" color="#1f74ff" ></vs-icon></center>
                          <span style="letter-spacing: 1px; font-size: 11px; font-weight: normal; color: #1f74ff;">{{residences.nb_salon}} Salon</span>
                        </div>
                      </vs-col>
                    
                      <vs-col v-tooltip="'col - 3'" vs-justify="center" vs-align="center" vs-w="4" style="padding: 10px;" v-if="residences.nb_cuisine >=1">
                        <div class="accueil-bodyserviceitemdetail-themea21">
                          <center><vs-icon icon="kitchen" size="30px" color="#1f74ff" ></vs-icon></center>
                          <span style="letter-spacing: 1px; font-size: 11px; font-weight: normal; color: #1f74ff;">{{residences.nb_cuisine}} Cuisine</span>
                        </div>
                      </vs-col>
                      <vs-col v-tooltip="'col - 3'" vs-justify="center" vs-align="center" vs-w="4" style="padding: 10px;" v-if="residences.s_parking =='true'">
                        <div class="accueil-bodyserviceitemdetail-themea21">
                          <center><vs-icon icon="emoji_transportation" size="30px" color="#1f74ff" ></vs-icon></center>
                          <span style="letter-spacing: 1px; font-size: 11px; font-weight: normal; color: #1f74ff;">Parking</span>
                        </div>
                      </vs-col>  
                      <vs-col v-tooltip="'col - 3'" vs-justify="center" vs-align="center" vs-w="4" style="padding: 10px;" v-if="residences.jardin =='true'">
                        <div class="accueil-bodyserviceitemdetail-themea21">
                          <center><vs-icon icon="local_florist" size="30px" color="#1f74ff" ></vs-icon></center>
                          <span style="letter-spacing: 1px; font-size: 11px; font-weight: normal; color: #1f74ff;">Jardin</span>
                        </div>
                      </vs-col>  
                      <vs-col v-tooltip="'col - 3'" vs-justify="center" vs-align="center" vs-w="4" style="padding: 10px;" v-if="residences.s_securite =='true'">
                        <div class="accueil-bodyserviceitemdetail-themea21">
                          <center><vs-icon icon="verified_user" size="30px" color="#1f74ff" ></vs-icon></center>
                          <span style="letter-spacing: 1px; font-size: 11px; font-weight: normal; color: #1f74ff;">Sécurité</span>
                        </div>
                      </vs-col>  
                      <vs-col v-tooltip="'col - 3'" vs-justify="center" vs-align="center" vs-w="4" style="padding: 10px;" v-if="residences.s_piscine =='true'">
                        <div class="accueil-bodyserviceitemdetail-themea21">
                          <center><vs-icon icon="pool" size="30px" color="#1f74ff" ></vs-icon></center>
                          <span style="letter-spacing: 1px; font-size: 11px; font-weight: normal; color: #1f74ff;">Piscine</span>
                        </div>
                      </vs-col>    
                    </vs-row>
                </div>
              </div>
              <div style="margin-top: 20px">
                <p style="font-size: 25px; font-family: 'Jost', sans-serif;">Services TV - Internet</p>
                <div class="accueil-bodyservice-themea" style="margin: 15px auto;">
                    <vs-row>
                      <vs-col v-tooltip="'col - 3'" vs-justify="center" vs-align="center" vs-w="4" style="padding: 10px;" v-if="residences.s_tv == 'true'">
                        <div class="accueil-bodyserviceitemdetail-themea21">
                          <center><vs-icon icon="tv" size="30px" color="#1f74ff" ></vs-icon></center>
                          <span style="letter-spacing: 1px; font-size: 11px; font-weight: normal; color: #1f74ff;">TV</span>
                        </div>
                      </vs-col>
                      <vs-col v-tooltip="'col - 3'" vs-justify="center" vs-align="center" vs-w="4" style="padding: 10px;" v-if="residences.s_wifi == 'true'">
                        <div class="accueil-bodyserviceitemdetail-themea21">
                          <center><vs-icon icon="wifi" size="30px" color="#1f74ff" ></vs-icon></center>
                          <span style="letter-spacing: 1px; font-size: 11px; font-weight: normal; color: #1f74ff;">Wifi</span>
                        </div>
                      </vs-col>
                      <vs-col v-tooltip="'col - 3'" vs-justify="center" vs-align="center" vs-w="4" style="padding: 10px;" v-if="residences.canal == 'true'">
                        <div class="accueil-bodyserviceitemdetail-themea21">
                          <center><img src="../../assets/Canal.jpg" width="100%"></center>
                          
                        </div>
                      </vs-col>
                      <vs-col v-tooltip="'col - 3'" vs-justify="center" vs-align="center" vs-w="4" style="padding: 10px;" v-if="residences.star == 'true'">
                        <div class="accueil-bodyserviceitemdetail-themea21" style="background-color: #f39105;">
                          <center><img src="../../assets/star.jpg" width="100%"></center>
                        </div>
                      </vs-col>
                    
                      <vs-col v-tooltip="'col - 3'" vs-justify="center" vs-align="center" vs-w="4" style="padding: 10px;" v-if="residences.iptv == 'true'">
                        <div class="accueil-bodyserviceitemdetail-themea21">
                          <center><img src="../../assets/iptv.jpg" width="100%"></center>
                        </div>
                      </vs-col>
                      <vs-col v-tooltip="'col - 3'" vs-justify="center" vs-align="center" vs-w="4" style="padding: 10px;" v-if="residences.netflix == 'true'">
                        <div class="accueil-bodyserviceitemdetail-themea21" style="background-color: black;">
                          <center><img src="../../assets/netflix.jpg" width="100%"></center>
                        </div>
                      </vs-col>  
                                
                    </vs-row>
                </div>
              </div>
              <div style="margin-top: 20px">
                <p style="font-size: 25px; font-family: 'Jost', sans-serif;">Equipements Douche</p>
                <div class="accueil-bodyservice-themea" style="margin: 15px auto;">
                    <vs-row>
                      <vs-col v-tooltip="'col - 3'" vs-justify="center" vs-align="center" vs-w="4" style="padding: 10px;" v-if="residences.nb_toilette >=1">
                        <div class="accueil-bodyserviceitemdetail-themea21">
                          <center><vs-icon icon="shower" size="30px" color="#1f74ff" ></vs-icon></center>
                          <span style="letter-spacing: 1px; font-size: 11px; font-weight: normal; color: #1f74ff;">Douche</span>
                        </div>
                      </vs-col>
                      <vs-col v-tooltip="'col - 3'" vs-justify="center" vs-align="center" vs-w="4" style="padding: 10px;" v-if="residences.s_baignoire == 'true'">
                        <div class="accueil-bodyserviceitemdetail-themea21">
                          <center><vs-icon icon="bathtub" size="30px" color="#1f74ff" ></vs-icon></center>
                          <span style="letter-spacing: 1px; font-size: 11px; font-weight: normal; color: #1f74ff;">Baignoire</span>
                        </div>
                      </vs-col>
                      <vs-col v-tooltip="'col - 3'" vs-justify="center" vs-align="center" vs-w="4" style="padding: 10px;" v-if="residences.echaude == 'true'">
                        <div class="accueil-bodyserviceitemdetail-themea21">
                          <center><vs-icon icon="water_heater" size="30px" color="#1f74ff" ></vs-icon></center>
                          <span style="letter-spacing: 1px; font-size: 11px; font-weight: normal; color: #1f74ff;">Chauffe Eau</span>
                        </div>
                      </vs-col>
                      <vs-col v-tooltip="'col - 3'" vs-justify="center" vs-align="center" vs-w="4" style="padding: 10px;" v-if="residences.lavema == 'true'">
                        <div class="accueil-bodyserviceitemdetail-themea21">
                          <center><vs-icon icon="local_laundry_service" size="30px" color="#1f74ff" ></vs-icon></center>
                          <span style="letter-spacing: 1px; font-size: 11px; font-weight: normal; color: #1f74ff;">Lave Machine</span>
                        </div>
                      </vs-col>
                        
                    </vs-row>
                </div>
              </div>
              <div style="margin-top: 20px">
                <p style="font-size: 25px; font-family: 'Jost', sans-serif;">Equipements Cuisine</p>
                <div class="accueil-bodyservice-themea" style="margin: 30px auto;">
                    <vs-row>
                      <vs-col v-tooltip="'col - 3'" vs-justify="center" vs-align="center" vs-w="4" style="padding: 10px;" v-if="residences.s_petitdej == 'true'">
                        <div class="accueil-bodyserviceitemdetail-themea21">
                          <center><vs-icon icon="microwave" size="30px" color="#1f74ff" ></vs-icon></center>
                          <span style="letter-spacing: 1px; font-size: 11px; font-weight: normal; color: #1f74ff;">Micro-ondes</span>
                        </div>
                      </vs-col>
                      <vs-col v-tooltip="'col - 3'" vs-justify="center" vs-align="center" vs-w="4" style="padding: 10px;" v-if="residences.frigo == 'true'">
                        <div class="accueil-bodyserviceitemdetail-themea21">
                          <center><vs-icon icon="kitchen" size="30px" color="#1f74ff" ></vs-icon></center>
                          <span style="letter-spacing: 1px; font-size: 11px; font-weight: normal; color: #1f74ff;">Réfrigérateur</span>
                        </div>
                      </vs-col>
                      <vs-col v-tooltip="'col - 3'" vs-justify="center" vs-align="center" vs-w="4" style="padding: 10px;" v-if="residences.echaude == 'true'">
                        <div class="accueil-bodyserviceitemdetail-themea21">
                          <center><vs-icon icon="water_heater" size="30px" color="#1f74ff" ></vs-icon></center>
                          <span style="letter-spacing: 1px; font-size: 11px; font-weight: normal; color: #1f74ff;">Chauffe Eau</span>
                        </div>
                      </vs-col>
                      <vs-col v-tooltip="'col - 3'" vs-justify="center" vs-align="center" vs-w="4" style="padding: 10px;" v-if="residences.ustensile == 'true'">
                        <div class="accueil-bodyserviceitemdetail-themea21">
                          <center><vs-icon icon="restaurant" size="30px" color="#1f74ff" ></vs-icon></center>
                          <span style="letter-spacing: 1px; font-size: 11px; font-weight: normal; color: #1f74ff;">Ustensiles </span>
                        </div>
                      </vs-col>
                      <vs-col v-tooltip="'col - 3'" vs-justify="center" vs-align="center" vs-w="4" style="padding: 10px;" v-if="residences.macafe == 'true'">
                        <div class="accueil-bodyserviceitemdetail-themea21">
                          <center><vs-icon icon="coffee_maker" size="30px" color="#1f74ff" ></vs-icon></center>
                          <span style="letter-spacing: 1px; font-size: 11px; font-weight: normal; color: #1f74ff;">Machine Café </span>
                        </div>
                      </vs-col>
                        
                    </vs-row>
                </div>
              </div>
              <div style="margin-top: 20px">
                <p style="font-size: 25px; font-family: 'Jost', sans-serif;">Autres Services</p>
                <div class="accueil-bodyservice-themea" style="margin: 30px auto;">
                    <vs-row>
                      <vs-col v-tooltip="'col - 3'" vs-justify="center" vs-align="center" vs-w="2" style="padding: 10px;" v-if="residences.nb_chambre == 'true'">
                        <div class="accueil-bodyserviceitemdetail-themea21">
                          <center><vs-icon icon="ac_unit" size="30px" color="#1f74ff" ></vs-icon></center>
                          <span style="letter-spacing: 1px; font-size: 11px; font-weight: normal; color: #1f74ff;">Climatisation</span>
                        </div>
                      </vs-col>
                      <vs-col v-tooltip="'col - 3'" vs-justify="center" vs-align="center" vs-w="2" style="padding: 10px;" v-if="residences.nb_chambre == 'true'">
                        <div class="accueil-bodyserviceitemdetail-themea21">
                          <center><vs-icon icon="filter_vintage" size="30px" color="#1f74ff" ></vs-icon></center>
                          <span style="letter-spacing: 1px; font-size: 11px; font-weight: normal; color: #1f74ff;">Ventilateur</span>
                        </div>
                      </vs-col>
                      <vs-col v-tooltip="'col - 3'" vs-justify="center" vs-align="center" vs-w="2" style="padding: 10px;" v-if="residences.nb_chambre == 'true'">
                        <div class="accueil-bodyserviceitemdetail-themea21">
                          <center><vs-icon icon="balcony" size="30px" color="#1f74ff" ></vs-icon></center>
                          <span style="letter-spacing: 1px; font-size: 11px; font-weight: normal; color: #1f74ff;">Balcon</span>
                        </div>
                      </vs-col>
                    
                        
                    </vs-row>
                </div>
              </div>
              <div style="margin-top: 50px">
                <p style="font-size: 25px; font-family: 'Jost', sans-serif">Description</p>
                <p style="padding-top: 20px; letter-spacing: .5px; line-height: 30px; text-align: justify; color: #64688c; font-size: 16px; font-family: 'Jost', sans-serif" v-html="residences.description"></p>
              </div>
              <div style="margin-top: 50px">
                <p style="font-size: 25px; font-family: 'Jost', sans-serif">Localisation</p>
                <gmap-map
                  :center="center"
                  :zoom="12"
                  style="width:100%;  height: 400px; margin-top: 30px;" 
                >
                  <gmap-marker
                    :key="index"
                    v-for="(m, index) in markers"
                    :position="m.position"
                    @click="center=m.position"
                  ></gmap-marker>
                </gmap-map>
              </div>

              <div style="margin-top: 50px">
                <p style="font-size: 25px; font-family: 'Jost', sans-serif">A Proximité</p>
                <div v-if="proxy.length < 1" >
                  <p style="padding-top: 15px;">Pas de service à proximité</p>
                </div>
                <div v-else>
                  <el-timeline style="padding-top: 20px; letter-spacing: .5px; line-height: 30px; text-align: justify; color: #64688c; font-size: 16px; font-family: 'Jost', sans-serif" >
                    <el-timeline-item
                      v-for="(activity, index) in proxy"
                      :key="index"
                      icon="el-icon-circle-plus"
                      type="primary"
                      size="large"
                      :timestamp="activity.detail">
                      {{activity.service}} - <i style="color: blue; font-weight: 12px;">100m</i>
                    </el-timeline-item>
                  </el-timeline>
                </div>
                
              </div>
              <div class="accueil-bodyservice-themea" style="margin: 30px auto;">
                <div style="margin-top: 50px">
                    <p style="font-size: 25px; padding-bottom: 20px; font-family: 'Jost', sans-serif">Avis Client</p>
                    
                  </div>
                <div class="block" v-if="proxy.length > 1">
                  <el-timeline>
                    <el-timeline-item :timestamp="av.dte" placement="top" v-for="av in aviss" :key="av.id_avis">
                      <el-card>
                        <h4 style="padding: 15px;font-family: 'Jost', sans-serif;">{{av.nom}}</h4>
                        <p style="padding: 15px;color: #64688c; font-size: 16px; font-family: 'Jost', sans-serif; line-height: 25px;">{{av.message}}</p>
                      </el-card>
                    </el-timeline-item>
                  </el-timeline>
                  
                </div>
                <div v-else>
                  <p style="padding-bottom: 15px">Pas d'avis</p>
                </div>
                <vs-button @click="activePrompt22=true" style="padding: 15px; font-size: 20px" color="primary" type="filled">Donnez votre avis</vs-button>
                
              </div>
            </div>



           
    </div>
    <vs-prompt
     title="Commentaire"
      color="primary"
      @cancel="valMultipe.value1='',valMultipe.value2=''"
      @accept="acceptAlert"
      @close="close"
      :is-valid="validName"
      :active.sync="activePrompt22">
       <div class="con-exemple-prompt">
        <vs-card class="result-item accueil-bodysearch-themea" style="margin-top: 5px; margin-bottom: 10px; padding: 10px;">
                  <div>  
                    <h1>Donnez votre avis</h1><br>
                    <span  style="padding: 7px 20px">Note</span>
                    <el-rate style="padding: 7px 20px" v-model="etoilecom"></el-rate><br>
                    <div style="padding: 7px 20px">
                      <span>Nom</span>
                      <el-input
                          placeholder="Nom & Prenom"
                          v-model="nomcom"
                          clearable>
                      </el-input>
                    </div>
                    <div style="padding: 7px 20px">
                      <span>Votre message</span>
                      <el-input
                          type="textarea"
                          placeholder="Entrez votre commentaire"
                          v-model="messagecom">
                      </el-input>
                    </div>
                    
                    <vs-button style="margin-top: 10px; width: 100%;" color="warning" type="filled" @click="sendAvis()">Enregistrer</vs-button>
                  </div>
                  
                  </vs-card>
       </div>
     </vs-prompt>
    <vs-prompt
      color="warning"
      style="margin-left:"
      @close="dezoomer"
      cancel-text="Fermer"
      button-accept="false"
      :cancel="dezoomer"
      :is-valid="validName"
      :active.sync="activePrompt2">
       <div class="con-exemple-prompt" style="height: 80vh; margin: -10px">
         <div id="zoom">
           <swiper style="margin-left: -10px" :autoplay="numberOk" page-transition="scale">
              <swiper-item v-if="residences.imagea.length > 5">
                <center>
                     <cld-image :publicId="residences.imagea" >
                      <cld-transformation height="600" width="335" crop="pad" background="white"/>
                       <cld-transformation overlay="logoico_d6xi0s" />
                              <cld-transformation width="55" crop="scale" />
                              <cld-transformation flags="layer_apply" gravity="south_east" x="20" y="190" />
                    </cld-image>
                  </center>
              </swiper-item>
              <swiper-item v-if="residences.imageb.length > 5">
                <center>
                     <cld-image :publicId="residences.imageb" >
                      <cld-transformation height="600" width="335" crop="pad" background="white"/>
                       <cld-transformation overlay="logoico_d6xi0s" />
                              <cld-transformation width="55" crop="scale" />
                              <cld-transformation flags="layer_apply" gravity="south_east" x="20" y="190" />
                    </cld-image>
                  </center>
              </swiper-item>
              <swiper-item v-if="residences.imagec.length > 5">
                <center>
                     <cld-image :publicId="residences.imagec" >
                      <cld-transformation height="600" width="335" crop="pad" background="white"/>
                       <cld-transformation overlay="logoico_d6xi0s" />
                              <cld-transformation width="55" crop="scale" />
                              <cld-transformation flags="layer_apply" gravity="south_east" x="20" y="190" />
                    </cld-image>
                  </center>
              </swiper-item>
              <swiper-item v-if="residences.imaged.length > 5">
                <center>
                     <cld-image :publicId="residences.imaged" >
                      <cld-transformation height="600" width="335" crop="pad" background="white"/>
                       <cld-transformation overlay="logoico_d6xi0s" />
                              <cld-transformation width="55" crop="scale" />
                              <cld-transformation flags="layer_apply" gravity="south_east" x="20" y="190" />
                    </cld-image>
                  </center>
              </swiper-item>
            </swiper>
          
        </div>
       </div>
     </vs-prompt>

     <vs-prompt
      color="primary"
      title="Réservation"
      accept-text="Réserver"
      cancel-text="Annuler"
      @cancel="valMultipe.value1='',valMultipe.value2=''"
      @accept="reservationValide()"
      @close="close"
      :buttons-hidden="errorReserve"
      :is-valid="validName"
      :active.sync="reservation">
       <div class="con-exemple-prompt">
      <b>Choisissez la période</b>.
       <el-row>
          <el-col :span="12">
            <div class="grid-content bg-purple" style="display: grid">
                <span>DU</span>
                <input  @change="reservationform()" :min="new Date().toISOString().split('T')[0]" style="padding: 5px; border-radius: 5px; width: 95%" type="date" placeholder="Name" v-model="dateDu"/>
            </div>
          </el-col>
          <el-col :span="12">
            <div class="grid-content bg-purple" style="display: grid">
                <span>AU</span>
                <input :min="dateDu" @change="reservationform()" style="padding: 5px; border-radius: 5px; width: 95%" type="date" placeholder="Name" v-model="dateAu"/>
            </div>
          </el-col>
       </el-row>
        <br>
        <el-row>
          <el-col :span="24">
            <div class="grid-content bg-purple">
                <el-timeline :reverse="reverse">

                  <el-timeline-item v-if="dateDu == dateAu"
                    timestamp="Réservation journéee">
                    Nombres de jour(s)
                  </el-timeline-item>
                  <el-timeline-item v-else
                    :timestamp="jourreserve + ' jours'">
                    Nombres de jour(s)
                  </el-timeline-item>

                  <div v-if="dateDu == dateAu">
                  <el-timeline-item
                    :timestamp="formatPrice(residences.journeet)">
                    Total Prix
                  </el-timeline-item>
                  </div>

                  <div v-else>
                  <el-timeline-item v-if="residences.reductionok == 'true'"
                    :timestamp="formatPrice(residences.reductiont * jourreserve)">
                    Total Prix
                  </el-timeline-item>
                  <el-timeline-item v-else
                    :timestamp="formatPrice(residences.jourt * jourreserve)">
                    Total Prix
                  </el-timeline-item>
                  </div>
                  

                </el-timeline>
            </div>
          </el-col>
          
       </el-row>
       
      
        
       </div>
     </vs-prompt>

      <vs-prompt
      color="success"
      title="Paiement réservation"
      accept-text="Réserver"
      cancel-text="Annuler"
      @cancel="valMultipe.value1='',valMultipe.value2=''"
      @accept="reservationValide"
      @close="close"
      :is-valid="validName"
      :active.sync="payement">
       <div class="con-exemple-prompt">
      <b>Choisissez la période</b>
        <vs-alert :active="!validName" color="danger" icon="new_releases" >
          Vous devez payer une avance de <span style="color: black; font-weight: bold">{{ formatPrice(avance * jourreserve) }}</span> pour valider la réservation
        </vs-alert>
       <el-row>
          <el-col :span="12">
            <div class="grid-content bg-purple" style="display: grid">
                <span>Nom</span>
                 <vs-input class="inputx" placeholder="Nom" v-model="nomr" style="width: 99%"/>
            </div>
          </el-col>
          <el-col :span="12">
            <div class="grid-content bg-purple" style="display: grid">
                <span>Prenom</span>
                <vs-input class="inputx" placeholder="Prenom" v-model="prenomr" style="width: 99%"/>
            </div>
          </el-col>
          <el-col :span="12">
            <div class="grid-content bg-purple" style="display: grid">
                <span>Contact</span>
                 <vs-input class="inputx" placeholder="Contact" v-model="nomr" style="width: 99%"/>
            </div>
          </el-col>
          <el-col :span="12">
            <div class="grid-content bg-purple" style="display: grid">
                <span>Email</span>
                <vs-input class="inputx" placeholder="Email" v-model="prenomr" style="width: 99%"/>
            </div>
          </el-col>
       </el-row>
        <br>
        <el-row>
          <el-col :span="12">
            <div class="grid-content bg-purple">
                <el-timeline :reverse="reverse">

                  <el-timeline-item v-if="dateDu == dateAu"
                    timestamp="Réservation journéee">
                    Nombres de jour(s)
                  </el-timeline-item>
                  <el-timeline-item v-else
                    :timestamp="jourreserve + ' jours'">
                    Nombres de jour(s)
                  </el-timeline-item>

                  <div v-if="dateDu == dateAu">
                  <el-timeline-item
                    :timestamp="formatPrice(residences.journeet)">
                    Total Prix
                  </el-timeline-item>
                  </div>

                  <div v-else>
                  <el-timeline-item v-if="residences.reductionok == 'true'"
                    :timestamp="formatPrice(residences.reductiont * jourreserve)">
                    Total Prix
                  </el-timeline-item>
                  <el-timeline-item v-else
                    :timestamp="formatPrice(residences.jourt * jourreserve)">
                    Total Prix
                  </el-timeline-item>
                  </div>
                  

                </el-timeline>
            </div>
          </el-col>
          <el-col :span="12">
            <div class="grid-content bg-purple" style="display: grid">
                 
            </div>
          </el-col>
       </el-row>
       
      
        
       </div>
     </vs-prompt>
    
  </div>
</template>

<script>
import axios from 'axios';
import { Carousel, Slide } from 'vue-carousel';
import { Swiper, SwiperItem } from 'vue-h5-swiper';
// @ is an alias to /src

export default {
  name: 'Web',
  computed: {
    argent() {
      return this.$store.state.money;
    }
  },
  components: {
    Carousel,
    Slide,
    Swiper,
    SwiperItem,
  },
  data(){
    return {
      center: {lat: 51.093048, lng: 6.842120},
      markers: [{
          id: 'dfsldjl3r',
          position: {
            lat: 51.093048, lng: 6.842120, title: 'Surat'
          },
        }],
      proxy: [],
      active1: false,
      aviss: null,
      currentPlacelat: null,
      currentPlacelng: null,
      places: [],
      videoCall: false,
      ip:null,
      avance: 5000,
      dateaujourdhui: null,
      jourreserve: null,
      moisreserve: null,
      dateDu: null,
      dateAu: '',
      value1: null,
      reservation: false,
      payement: false,
      val:'',
      valMultipe:{
        value1:'',
        value2:''
      },
      activePrompt2:false,
      activePrompt22:false,
      options1:[
        {text:'IT',value:0},
        {text:'Blade Runner',value:2},
        {text:'Thor Ragnarok',value:3},
      ],
      outerVisible: false,
        innerVisible: false,
      linkroute: '',
      numberOk: true,
      select1:2,
      select2:0,
      select3:0,
      select4:0,
      errorReserve: true,
      vue: 0,
      zooma: true,
      messagewhatsapp: 'Bonjour je souhaite reserver votre résidence',
      residences: null,
       options2:[
        {text:'Toutes les zones',value:0},
        {text:'Abobo',value:1},
        {text:'Adjamé',value:2},
        {text:'Angré',value:3},
        {text:'Anyama',value:4},
        {text:'Attécoubé',value:5},
        {text:'Bingerville',value:6},
        {text:'Cocody',value:7},
        {text:'II Plateau',value:8},
        {text:'Koumassi',value:9},
        {text:'Marcory',value:10},
        {text:'Plateau',value:11},
        {text:'Port-Bouet',value:12},
        {text:'Riviera',value:13},
        {text:'Treichville',value:14},
        {text:'Yopougon',value:15},
      ],
      options3:[
        {text:'Tous types',value:0},
        {text:'Studio',value:1},
        {text:'2 pièces',value:2},
        {text:'3 pièces',value:3},
        {text:'4 pièces',value:4},
        {text:'Autres',value:5},
      ],
      options4:[
        {text:'Tous les prix',value:0},
        {text:'0 à 15.000',value:1},
        {text:'15.000 à 25.000',value:2},
        {text:'25.000 à 50.000',value:3},
        {text:'Plus',value:4},
      ],
    }
  },
  watch: {
      jourreserve: function(val) {
          //do something when the data changes.
          if (val >= this.residences.reductionj) {
            this.active1 = true;
            } else {
              this.active1 = false;
            }
      }
  },
  methods: {
    reservationValide() {
      this.avance = 1;
        let formData = new FormData();
        formData.append('du', this.dateDu);
        formData.append('au', this.dateAu);
        formData.append('jour', this.jourreserve);
        formData.append('avance', this.avance);
        formData.append('residence', this.residences.id_resid);
          this.$vs.loading({
          type:'point',
        })
        axios.post('https://autre.sarezide.com/sarezide_reservationn.php', formData)
       .then((response) => {
        this.$vs.loading.close();
        console.log(response);
        this.$vs.notify({
        color:'success',
        position: 'top-right',
        title:'Réservation',
        text:'Réservation en cours'
        });
        const ref = response.data.ref;
        this.$router.push({ path: '/wreservation', query: { ref: ref } });
      })
      .catch(function (error) {
        this.$vs.loading.close();
        console.log(error);
      });
      this.$vs.loading.close();
    },
    getproximite() {
      this.$vs.loading({
        type:'point',
      })
      axios.get('https://autre.sarezide.com/proximitessa.php?resid=' + this.residences.ref)
      .then((response) => {
        this.proxy = response.data.data;
        console.log(response);
        this.$vs.loading.close()
      }, (error) => {
        console.log(error);
        this.$vs.loading.close()
      });
      
    },
    getavis() {
      this.$vs.loading({
        type:'point',
      })
      axios.get('https://autre.sarezide.com/sarezide_get_avis.php?resid=' + this.residences.id_resid)
      .then((response) => {
        this.aviss = response.data.data;
        console.log(response);
        this.$vs.loading.close()
      }, (error) => {
        console.log(error);
        this.$vs.loading.close()
      });
      
    },
    formatPrice(value) {
        var formatter = new Intl.NumberFormat('xof', {
            style: 'currency',
            currency: 'CFA',
            minimumFractionDigits: 0
        });
        return formatter.format(value);
    },
    reservationform() {
      const dt = new Date(this.dateDu);
      const month = dt.getMonth() + 1;
      const year = dt.getFullYear();
      const daysInMonth = new Date(year, month, 0).getDate();
      
      const mf = this.dateAu.substring(5, 7);
      const md = this.dateDu.substring(5, 7);
      const fin = this.dateAu.slice(-2);
      const debut = this.dateDu.slice(-2);
      const dif = mf - md;
      if(dif == '0') {
        this.moisreserve = 0;
      }
      if(dif == '1') {
        this.moisreserve = daysInMonth;
      }
      
      this.jourreserve = fin - debut + this.moisreserve;
      this.errorReserve = false;
      if(this.dateAu == '') {
        this.jourreserve = null;
        this.errorReserve = true;
      }
    },
    position() {
      if(navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(position =>{
          console.log(position.coords.latitude);
          console.log(position.coords.longitude);
        },
        error => {
          console.log(error.message);
        });
      }
    },
    zoomer() {
      this.zooma = false;
      this.activePrompt2 = true;
    },
    dezoomer() {
      this.zooma = true;
      this.activePrompt2 = false;
    },
    retour() {
      this.$router.back()
    },
    imageZoom() {
      const user = this.residences;
      this.$router.push({ name: '/image-zoom', params: { user } });
    },
    getResidences() {
      this.$vs.loading({
        type:'point',
      })
      axios.get('https://autre.sarezide.com/sarezide_get_residence_id.php?id=' + this.$route.query.id)
      .then((response) => {
        this.$vs.loading.close();
        this.residences = response.data.data[0];
        console.log(this.residences)
      }, (error) => {
        this.$vs.loading.close();
        console.log(error);
      });

      axios.get('https://autre.sarezide.com/sarezide_get_vue.php?id=' + this.$route.query.id)
      .then((response) => {
        this.$vs.loading.close();
        this.vue = response.data.nb;
      }, (error) => {
        console.log(error);
        this.$vs.loading.close()
      });
      this.$vs.loading.close();
    },

    Visite() {
      fetch('https://api.ipify.org?format=json')
      .then(x => x.json())
      .then(({ ip }) => {
          this.ip = ip;
          console.log(this.ip);
          this.vues();
      });
    },

    vues() {
      this.linkroute = window.location.href;
      console.log(this.linkroute);
      let formData = new FormData();
      formData.append('resid', this.$route.query.id);
      formData.append('ip', this.ip);
      this.$vs.loading({
        type:'point',
      })
      axios.post('https://autre.sarezide.com/sarezide_vuer.php', formData,)
      .then((response) => {
        this.$vs.loading.close();
        this.verif(response);
      }, (error) => {
        console.log(error);
        this.$vs.loading.close()
      });
      this.$vs.loading.close();
      
    },
    geolocate: function() {
      navigator.geolocation.getCurrentPosition(position => {
        this.center = {
          lat: position.coords.latitude,
          lng: position.coords.longitude
        };
        this.markers[0].position.lat = this.residences.lat;
        this.markers[0].position.lng = this.residences.longi;
       
      });
    }

  },

  mounted() {
    this.getResidences();
    this.Visite();
    this.geolocate();
    this.getproximite();
    this.dateaujourdhui = new Date();
  }
}
</script>
