<template>
  <div class="hello">
    <div class="head-head-resid">
        <div class="zone-of-work-mobile">
          <div class="accueil-bodysearch-themea">
            <vs-card style="padding: 10px; box-shadow: 0 0 0 10px rgb(255 255 255 / 15%), 0 2px 48px 0 rgb(0 0 0 / 4%); border-radius: 10px; margin-top: -40px">
              <p style="font-family: 'Jost', sans-serif; font-size: 20px;font-weight: 600;letter-spacing: 1px; color: #383a4e;">Détail de la réservation N° : <b style="color: blue">{{ref}}</b></p>
              <vs-divider/>
              <p style="margin-bottom: 1rem;font-family: 'Jost', sans-serif; font-size: 14px;letter-spacing: 1px; color: #383a4e;">Du <b>03/04/2022</b>, à partir de 12h00</p>
              <p style="margin-bottom: 1rem; font-family: 'Jost', sans-serif; font-size: 14px;letter-spacing: 1px; color: #383a4e;">Au <b>03/04/2022</b>, jusqu'à 12h00</p>
              <div style="background-color: #f2ffff; padding: 10px;">
                <p style="font-family: 'Jost', sans-serif; font-size: 20px;font-weight: 600;letter-spacing: 1px; color: #383a4e;">Informations Client</p>
                <vs-divider/>
                <vs-row style="padding-bottom: 25px">
                  <vs-col vs-justify="center" vs-align="center" vs-w="6">
                    <div style="display: grid; width: 95%;">
                      <span style="font-size: 14px; letter-spacing:.5px; color: #64688c; padding: 5px; font-family: 'Jost', sans-serif">Nom</span>
                          <el-input
                            style="width: 100%;  float: right;"
                            placeholder="Entrez une date"
                            suffix-icon="el-icon-date"
                            v-model="input1">
                          </el-input>
                          
                        </div>
                  </vs-col>
                  <vs-col vs-justify="center" vs-align="center" vs-w="6">
                    <div style="display: grid; width: 95%;">
                      <span style="font-size: 14px; letter-spacing:.5px; color: #64688c; padding: 5px; font-family: 'Jost', sans-serif">Prenom</span>
                          <el-input
                            style="width: 100%;  float: right;"
                            placeholder="Entrez une date"
                            suffix-icon="el-icon-date"
                            v-model="input1">
                          </el-input>
                          
                        </div>
                  </vs-col>
                </vs-row>
                <vs-row style="padding-bottom: 25px">
                  <vs-col vs-justify="center" vs-align="center" vs-w="6">
                    <div style="display: grid; width: 95%;">
                      <span style="font-size: 14px; letter-spacing:.5px; color: #64688c; padding: 5px; font-family: 'Jost', sans-serif">Email</span>
                          <el-input
                            style="width: 100%;  float: right;"
                            placeholder="Entrez une date"
                            suffix-icon="el-icon-date"
                            v-model="input1">
                          </el-input>
                          
                        </div>
                  </vs-col>
                  <vs-col vs-justify="center" vs-align="center" vs-w="6">
                    <div style="display: grid; width: 95%;">
                      <span style="font-size: 14px; letter-spacing:.5px; color: #64688c; padding: 5px; font-family: 'Jost', sans-serif">Téléphone</span>
                          <el-input
                            style="width: 100%;  float: right;"
                            placeholder="Entrez une date"
                            suffix-icon="el-icon-date"
                            v-model="input1">
                          </el-input>
                          
                        </div>
                  </vs-col>
                </vs-row>
                <vs-row style="padding-bottom: 25px">
                  <vs-col vs-justify="center" vs-align="center" vs-w="6">
                    <div style="display: grid; width: 95%;">
                      <span style="font-size: 14px; letter-spacing:.5px; color: #64688c; padding: 5px; font-family: 'Jost', sans-serif">Pays de résidence</span>
                      <el-select v-model="value" filterable placeholder="Select">
                        <el-option
                          style="display: grid;"
                          v-for="item in options"
                          :key="item.value"
                          :label="item.label"
                          :value="item.value">
                        </el-option>
                      </el-select>
                          
                        </div>
                  </vs-col>
                  <vs-col vs-justify="center" vs-align="center" vs-w="6">
                  
                  </vs-col>
                  
                </vs-row>
                <vs-divider/>
                <p style="font-family: 'Jost', sans-serif; font-size: 20px;font-weight: 600;letter-spacing: 1px; color: #383a4e; margin-top: 50px;">Plus d'info sur la réservation</p>
                <vs-divider/>
                <vs-row style="padding-bottom: 25px">
                  <vs-col vs-justify="center" vs-align="center" vs-w="6">
                    <div style="display: grid; width: 95%;">
                      <span style="font-size: 14px; letter-spacing:.5px; color: #64688c; padding: 5px; font-family: 'Jost', sans-serif">Nombre de personne</span>
                          <el-input
                            style="width: 100%;  float: right;"
                            placeholder="Entrez une date"
                            suffix-icon="el-icon-date"
                            v-model="input1">
                          </el-input>
                          
                        </div>
                  </vs-col>
                  <vs-col vs-justify="center" vs-align="center" vs-w="6">
                    <div style="display: grid; width: 95%;">
                      <span style="font-size: 14px; letter-spacing:.5px; color: #64688c; padding: 5px; font-family: 'Jost', sans-serif">Ya t'il des <b>moins de 14 ans</b></span>
                          <el-input
                            style="width: 100%;  float: right;"
                            placeholder="Entrez une date"
                            suffix-icon="el-icon-date"
                            v-model="input1">
                          </el-input>
                          
                        </div>
                  </vs-col>
                </vs-row>
                <vs-row>
                  <vs-col  v-tooltip="'col - 3'" vs-align="center" vs-w="5.9">
                    <div style="display: grid; width: 95%;">
                    <span style="font-size: 14px; letter-spacing:.5px; color: #64688c; padding: 5px; font-family: 'Jost', sans-serif"><b style="color: blue;">Service Taxi</b>, Je veux qu'un véhicule vienne me chercher</span>
                    <el-select v-model="value" filterable placeholder="Select">
                        <el-option
                          style="display: grid;"
                          v-for="item in options"
                          :key="item.value"
                          :label="item.label"
                          :value="item.value">
                        </el-option>
                      </el-select>  
                    </div> 
                  </vs-col>
                  <vs-col  v-tooltip="'col - 3'" vs-type="grid" vs-align="center" vs-w="0.2">
                  </vs-col>
                  
              </vs-row>
              </div>
            </vs-card>
            ss
          </div>
          <div class="card-nav">
          <span style="font-weight: bold; margin: 10px">Réservation - ref : <b style="color: orange">{{ref}}</b></span>
       <vs-alert :active="!validName" color="danger" icon="new_releases" style="margin-top: 5px" v-if="reservation.nbjour > 2">
                    Vous devez payer une avance de <span style="color: black; font-weight: bold">{{ formatPrice(20000 ) }}</span> pour valider la réservation
                  </vs-alert>
                  <vs-alert :active="!validName" color="danger" icon="new_releases" style="margin-top: 5px" v-else>
                    Vous devez payer une avance de <span style="color: black; font-weight: bold">{{ formatPrice(10000 ) }}</span> pour valider la réservation
                  </vs-alert>
      </div>
      <span v-if="validerreserve" style="font-size: 12px; padding: 5px; display: block; color: orange; text-align: center">Informations Client</span>
      <span v-if="!validerreserve" style="font-size: 12px; padding: 5px; display: block; color: orange; text-align: center">Réservation en cours</span>
      
      <vs-card v-if="validerreserve" class="result-item" style="margin-top: 5px; max-width: 400px; margin-bottom: 10px; ">
        
        <vs-row>
            <vs-col  v-tooltip="'col - 3'" vs-type="grid" vs-align="center" vs-w="12">
                <span>Nom & Prenom</span>
                <el-input
                    placeholder="Nom & Prenom"
                    v-model="useri.name"
                    clearable>
                </el-input>
            </vs-col>
            
        </vs-row>
        <br>
        <vs-row>
            <vs-col  v-tooltip="'col - 3'" vs-type="grid" vs-align="center" vs-w="5.9">
                <span>Contact</span>
                <el-input
                    placeholder="Contact"
                    v-model="useri.contact"
                    clearable>
                </el-input>
            </vs-col>
            <vs-col  v-tooltip="'col - 3'" vs-type="grid" vs-align="center" vs-w="0.2">
            </vs-col>
            <vs-col  v-tooltip="'col - 3'" vs-type="grid" vs-align="center" vs-w="5.9">
                <span>Email</span>
                <el-input
                    placeholder="Votre adresse email"
                    v-model="useri.email"
                    clearable>
                </el-input>
            </vs-col>
        </vs-row>
        <br>
        <vs-row>
            <vs-col  v-tooltip="'col - 3'" vs-type="grid" vs-align="center" vs-w="5.9">
                <span>Nombre de personne</span>
                <el-select v-model="useri.nbper" placeholder="Select">
                  <el-option
                    v-for="item in optionsnb"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value">
                  </el-option>
                </el-select>
            </vs-col>
            <vs-col  v-tooltip="'col - 3'" vs-type="grid" vs-align="center" vs-w="0.2">
            </vs-col>
            
        </vs-row>
         <vs-button style="margin-top: 15px; width: 100%" color="warning" type="filled" @click="confirmer()">Confirmer réservation</vs-button>
         </vs-card>
        
      <vs-card v-if="!validerreserve" class="result-item" style="margin-top: 5px; max-width: 400px; margin-bottom: 10px; ">
        <center><img src="https://img.icons8.com/material-outlined/192/000000/checked--v3.png"/></center>
      <!--
        <vs-row>
            <vs-col  v-tooltip="'col - 3'" vs-type="grid" vs-align="center" vs-w="4">
              <el-badge is-dot class="item" style="display: grid; width: 70px; margin: 0 auto">
                <el-button @click="money('orange')" class="share-button" type="primary" style="background:none; padding: 0px; width: 70px; border: none">
                  <img src="../../assets/orange.png" style="max-width: 70px; height: 50px">
                </el-button>
                <span style="text-align: center; font-size: 10px">Orange Money</span>
              </el-badge>
            </vs-col>
            <vs-col  v-tooltip="'col - 3'" vs-type="grid" vs-align="center" vs-w="4">
              <el-badge is-dot class="item" style="display: grid; width: 70px; margin: 0 auto">
                <el-button @click="money('moov')" class="share-button" type="primary" style="background:none; padding: 0px; width: 70px; border: none">
                  <img src="../../assets/moov.png" style="max-width: 70px; height: 50px">
                </el-button>
                <span style="text-align: center; font-size: 10px">Moov Money</span>
              </el-badge>
            </vs-col>
             <vs-col  v-tooltip="'col - 3'" vs-type="grid" vs-align="center" vs-w="4">
              <el-badge is-dot class="item" style="display: grid; width: 70px; margin: 0 auto">
                <el-button @click="money('wave')" class="share-button" type="primary" style="background:none; padding: 0px; width: 70px; border: none">
                  <img src="../../assets/wave.png" style="max-width: 70px; height: 50px">
                </el-button>
                <span style="text-align: center; font-size: 10px">Wave</span>
              </el-badge>
            </vs-col>
        </vs-row> -->
         <vs-alert :active="!validName" color="success" icon="new_releases" style="margin-top: 5px">
                    Vous récevrez un appel dans une (1) heure pour la confirmation. 
                  </vs-alert>
                  <vs-alert :active="!validName" color="warning" icon="new_releases" style="margin-top: 5px">
                    Appelez le 0101081722 pour valider plus rapidement votre réservation. 
                  </vs-alert>
                  <vs-button style="margin-top: 15px; width: 100%" color="warning" type="filled" @click="retour()">Retour aux résidences</vs-button>
        <br>
        <span>{{method}}</span>
        <el-input v-if="orangeOk"
          placeholder="Entrez votre numéro orange money"
          v-model="numeroOrange"
          clearable>
        </el-input>
         <el-input v-if="moovOk"
          placeholder="Entrez votre numéro moov money"
          v-model="numeroOrange"
          clearable>
        </el-input>
         <el-input v-if="waveOk"
          placeholder="Entrez votre numéro wave"
          v-model="numeroOrange"
          clearable>
        </el-input>
       
      </vs-card>
      
      </div>
    </div>
    
    
  </div>
</template>

<script>
import axios from 'axios';
import HorizontalScroll from 'vue-horizontal-scroll'
import 'vue-horizontal-scroll/dist/vue-horizontal-scroll.css'
export default {
  name: 'Head',
  computed: {
    users() {
      return this.$store.state.users;
    },
    components: {
        HorizontalScroll
    }
  },
   data(){
    return {
      orangeOk: false,
      moovOk: false,
      waveOk: false,
      method: null,
      useri: {
        name: '',
        email: '',
        contact: '',
        nbper: '',
      },
       optionsnb: [{
          value: '1',
          label: '1 personne '
        }, {
          value: '2',
          label: '2 personnes'
        }, {
          value: '3',
          label: '3 personnes'
        }, {
          value: '4',
          label: '4 personnes'
        }, {
          value: '5',
          label: '5 personnes'
        }, {
          value: 'plus',
          label: 'plus'
        }],
      numeroOrange: null,
      reservation: null,
      validerreserve: true,
      ref:'',
      nom:'',
      email:'',
      contact:'',
      message:'',
      nomr: '',
      prenomr:'',
       con: true,
       transaction: {
        cpm_site_id: "296911",
        signature: "4dfbf5b8f40818abffe754b8a8aa04e4d29af25f",
        cpm_amount: "11",
        cpm_trans_date: "04092017140045",
        cpm_trans_id: "50445985950",
        cpm_custom: "08373459U",
        cpm_currency: "XOF",
        cpm_payid: "MP170904.1401.A91088",
        cpm_payment_date: "2017-09-04",
        cpm_payment_time: "14:01:35",
        cpm_error_message: "SUCCES",
        payment_method: "OM",
        cpm_phone_prefixe: "225",
        cel_phone_num: "79557788",
        cpm_ipn_ack: "Y",
        created_at: "2017-09-04 14:00:54",
        updated_at: "2017-09-04 14:01:06",
        cpm_result: "00",
        cpm_trans_status: "ACCEPTED",
        cpm_designation: "Test",
        buyer_name: ""
    }

    }
  },
  methods: {
      formatPrice(value) {
        var formatter = new Intl.NumberFormat('xof', {
            style: 'currency',
            currency: 'CFA',
            minimumFractionDigits: 0
        });
        return formatter.format(value);
    },
    retour() {
      this.$router.push({ path: '/recherche'});
    },
    confirmer() {
      let formData = new FormData();
      formData.append('nom', this.useri.name);
      formData.append('contact', this.useri.contact);
      formData.append('email', this.useri.email);
      formData.append('nbper', this.useri.nbper);
      formData.append('ref', this.ref);
      this.$vs.loading({
        type:'point',
      })
       axios.post('https://autre.sarezide.com/sarezide_reservation_info.php', formData)
       .then((response) => {
         this.envoi = true;
         this.validerreserve = false;
         console.log(response);
         setTimeout(function () {
        this.$vs.loading.close()}.bind(this), 1000);
      })
      .catch(function (error) {
        console.log(error);
        this.$vs.loading.close()
      });
    },
    money(reseau) {
      if(reseau == 'orange') {
        this.orangeOk = true;
        this.moovOk = false;
        this.waveOk = false;
        this.method = "Orange Money";
      }
      if(reseau == 'moov') {
        this.orangeOk = false;
        this.moovOk = true;
        this.waveOk = false;
        this.method = "Moov Money";
      }
      if(reseau == 'wave') {
        this.orangeOk = false;
        this.moovOk = false;
        this.waveOk = true;
        this.method = "Wave";
      }
    },
    deconnexion() {
      this.$store.commit('Connexion', this.useri);
      this.users.name = '';
      this.$router.push({ path: '/about' });
    },

    getReservation() {
      this.$vs.loading({
        type:'point',
      })

      axios.get('https://autre.sarezide.com/sarezide_get_reservation.php?ref=' + this.$route.query.ref)
      .then((response) => {
        this.reservation = response.data.data[0];
        console.log(this.reservation)
        this.$vs.loading.close()
      }, (error) => {
        console.log(error);
        this.$vs.loading.close()
      });
    },

    envoyera() {
     
       let formData = new FormData();
      formData.append('nom', this.nom);
      formData.append('contact', this.contact);
      formData.append('email', this.email);
      formData.append('message', this.message);
      this.$vs.loading({
        type:'point',
      })
       axios.post('https://autre.sarezide.com/envoyer.php', formData)
       .then((response) => {
         this.envoi = true;
         console.log(response);
         setTimeout(function () {
        this.$vs.loading.close()}.bind(this), 1000);
      })
      .catch(function (error) {
        console.log(error);
        this.$vs.loading.close()
      });
    },

  },

  mounted() {
      this.ref = this.$route.query.ref;
      this.getReservation();
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}

.vs-select--label {
    font-size: .85rem;
    color: rgba(0,0,0,.6);
}

</style>
