<template>
  <div class="corps">
    <div class="accueil-bodysearch-themea">
      <vs-row>
        <vs-col vs-justify="center" vs-align="center" vs-w="7.5">
          <vs-card style="padding: 8px; border-radius: 20px; width: 100%; margin-bottom: -8px; padding-bottom: -20px;">
           
            
            <div style="margin-top: 5px;">
              <vueper-slides
              :arrows="false"
              class="no-shadow thumbnail"
                ref="vueperslides1"
                @slide="$refs.vueperslides2 && $refs.vueperslides2.goToSlide($event.currentSlide.index, { emit: false })"
                :slide-ratio="1 / 4"
                :bullets="false"
                fixed-height="450px">
                <vueper-slide
                v-for="(slide, i) in slides"
                :image="slide.image"
                  :key="i"
                  v-show="slide.image.length > 2"
                  :title="i.toString()"
                  :style="'background-color: ' + ['#ff5252', '#42b983'][i % 2]" />
              </vueper-slides>
              <br>
              <vueper-slides
              class="thumbnails"
                ref="vueperslides2"
                :bullets="false"
                :slide-ratio="1 / 8"
                :dragging-distance="50"
                @slide="$refs.vueperslides1 && $refs.vueperslides1.goToSlide($event.currentSlide.index, { emit: false })"
                :visible-slides="4"
                fixed-height="120px"
                :style="'width: 600px'">
                <vueper-slide
                  v-for="(slide, i) in slides"
                  :key="i"
                  :image="slide.image"
                  @click.native="$refs.vueperslides2 && $refs.vueperslides2.goToSlide(i - 1)">
                  
                </vueper-slide>
              </vueper-slides>
            </div>
          </vs-card>
          <div style="margin-top: 50px">
            <p style="font-size: 25px; font-family: 'Jost', sans-serif;">Caractéristiques</p>
            <div class="accueil-bodyservice-themea" style="margin: 30px auto;">
                <vs-row>
                  <vs-col v-tooltip="'col - 3'" vs-justify="center" vs-align="center" vs-w="2" style="padding: 10px;" v-if="residences.nb_chambre >=1">
                    <div class="accueil-bodyserviceitemdetail-themea21">
                      <center><vs-icon icon="meeting_room" size="30px" color="#1f74ff" ></vs-icon></center>
                      <span style="letter-spacing: 1px; font-size: 11px; font-weight: normal; color: #1f74ff;">{{residences.nb_chambre}} Chambre</span>
                    </div>
                  </vs-col>
                  <vs-col v-tooltip="'col - 3'" vs-justify="center" vs-align="center" vs-w="2" style="padding: 10px;" v-if="residences.nb_toilette >=1">
                    <div class="accueil-bodyserviceitemdetail-themea21">
                      <center><vs-icon icon="shower" size="30px" color="#1f74ff" ></vs-icon></center>
                      <span style="letter-spacing: 1px; font-size: 11px; font-weight: normal; color: #1f74ff;">{{residences.nb_toilette}} Douche</span>
                    </div>
                  </vs-col>
                  <vs-col v-tooltip="'col - 3'" vs-justify="center" vs-align="center" vs-w="2" style="padding: 10px;" v-if="residences.nb_salon >=1">
                    <div class="accueil-bodyserviceitemdetail-themea21">
                      <center><vs-icon icon="chair" size="30px" color="#1f74ff" ></vs-icon></center>
                      <span style="letter-spacing: 1px; font-size: 11px; font-weight: normal; color: #1f74ff;">{{residences.nb_salon}} Salon</span>
                    </div>
                  </vs-col>
                 
                  <vs-col v-tooltip="'col - 3'" vs-justify="center" vs-align="center" vs-w="2" style="padding: 10px;" v-if="residences.nb_cuisine >=1">
                    <div class="accueil-bodyserviceitemdetail-themea21">
                      <center><vs-icon icon="kitchen" size="30px" color="#1f74ff" ></vs-icon></center>
                      <span style="letter-spacing: 1px; font-size: 11px; font-weight: normal; color: #1f74ff;">{{residences.nb_cuisine}} Cuisine</span>
                    </div>
                  </vs-col>
                  <vs-col v-tooltip="'col - 3'" vs-justify="center" vs-align="center" vs-w="2" style="padding: 10px;" v-if="residences.s_parking =='true'">
                    <div class="accueil-bodyserviceitemdetail-themea21">
                      <center><vs-icon icon="emoji_transportation" size="30px" color="#1f74ff" ></vs-icon></center>
                      <span style="letter-spacing: 1px; font-size: 11px; font-weight: normal; color: #1f74ff;">Parking</span>
                    </div>
                  </vs-col>  
                  <vs-col v-tooltip="'col - 3'" vs-justify="center" vs-align="center" vs-w="2" style="padding: 10px;" v-if="residences.jardin =='true'">
                    <div class="accueil-bodyserviceitemdetail-themea21">
                      <center><vs-icon icon="local_florist" size="30px" color="#1f74ff" ></vs-icon></center>
                      <span style="letter-spacing: 1px; font-size: 11px; font-weight: normal; color: #1f74ff;">Jardin</span>
                    </div>
                  </vs-col>  
                  <vs-col v-tooltip="'col - 3'" vs-justify="center" vs-align="center" vs-w="2" style="padding: 10px;" v-if="residences.s_securite =='true'">
                    <div class="accueil-bodyserviceitemdetail-themea21">
                      <center><vs-icon icon="verified_user" size="30px" color="#1f74ff" ></vs-icon></center>
                      <span style="letter-spacing: 1px; font-size: 11px; font-weight: normal; color: #1f74ff;">Sécurité</span>
                    </div>
                  </vs-col>  
                  <vs-col v-tooltip="'col - 3'" vs-justify="center" vs-align="center" vs-w="2" style="padding: 10px;" v-if="residences.s_piscine =='true'">
                    <div class="accueil-bodyserviceitemdetail-themea21">
                      <center><vs-icon icon="pool" size="30px" color="#1f74ff" ></vs-icon></center>
                      <span style="letter-spacing: 1px; font-size: 11px; font-weight: normal; color: #1f74ff;">Piscine</span>
                    </div>
                  </vs-col>    
                </vs-row>
            </div>
          </div>
          <div style="margin-top: 20px">
            <p style="font-size: 25px; font-family: 'Jost', sans-serif;">Services TV - Internet</p>
            <div class="accueil-bodyservice-themea" style="margin: 30px auto;">
                <vs-row>
                  <vs-col v-tooltip="'col - 3'" vs-justify="center" vs-align="center" vs-w="2" style="padding: 10px;" v-if="residences.s_tv == 'true'">
                    <div class="accueil-bodyserviceitemdetail-themea21">
                      <center><vs-icon icon="tv" size="30px" color="#1f74ff" ></vs-icon></center>
                      <span style="letter-spacing: 1px; font-size: 11px; font-weight: normal; color: #1f74ff;">TV</span>
                    </div>
                  </vs-col>
                  <vs-col v-tooltip="'col - 3'" vs-justify="center" vs-align="center" vs-w="2" style="padding: 10px;" v-if="residences.s_wifi == 'true'">
                    <div class="accueil-bodyserviceitemdetail-themea21">
                      <center><vs-icon icon="wifi" size="30px" color="#1f74ff" ></vs-icon></center>
                      <span style="letter-spacing: 1px; font-size: 11px; font-weight: normal; color: #1f74ff;">Wifi</span>
                    </div>
                  </vs-col>
                  <vs-col v-tooltip="'col - 3'" vs-justify="center" vs-align="center" vs-w="2" style="padding: 10px;" v-if="residences.canal == 'true'">
                    <div class="accueil-bodyserviceitemdetail-themea21">
                      <center><img src="../../assets/Canal.jpg" width="100%"></center>
                      
                    </div>
                  </vs-col>
                  <vs-col v-tooltip="'col - 3'" vs-justify="center" vs-align="center" vs-w="2" style="padding: 10px;" v-if="residences.star == 'true'">
                    <div class="accueil-bodyserviceitemdetail-themea21" style="background-color: #f39105;">
                      <center><img src="../../assets/star.jpg" width="100%"></center>
                    </div>
                  </vs-col>
                 
                  <vs-col v-tooltip="'col - 3'" vs-justify="center" vs-align="center" vs-w="2" style="padding: 10px;" v-if="residences.iptv == 'true'">
                    <div class="accueil-bodyserviceitemdetail-themea21">
                      <center><img src="../../assets/iptv.jpg" width="100%"></center>
                    </div>
                  </vs-col>
                  <vs-col v-tooltip="'col - 3'" vs-justify="center" vs-align="center" vs-w="2" style="padding: 10px;" v-if="residences.netflix == 'true'">
                    <div class="accueil-bodyserviceitemdetail-themea21" style="background-color: black;">
                      <center><img src="../../assets/netflix.jpg" width="100%"></center>
                    </div>
                  </vs-col>  
                             
                </vs-row>
            </div>
          </div>
          <div style="margin-top: 20px">
            <p style="font-size: 25px; font-family: 'Jost', sans-serif;">Equipements Douche</p>
            <div class="accueil-bodyservice-themea" style="margin: 30px auto;">
                <vs-row>
                  <vs-col v-tooltip="'col - 3'" vs-justify="center" vs-align="center" vs-w="2" style="padding: 10px;" v-if="residences.nb_toilette >=1">
                    <div class="accueil-bodyserviceitemdetail-themea21">
                      <center><vs-icon icon="shower" size="30px" color="#1f74ff" ></vs-icon></center>
                      <span style="letter-spacing: 1px; font-size: 11px; font-weight: normal; color: #1f74ff;">Douche</span>
                    </div>
                  </vs-col>
                  <vs-col v-tooltip="'col - 3'" vs-justify="center" vs-align="center" vs-w="2" style="padding: 10px;" v-if="residences.s_baignoire == 'true'">
                    <div class="accueil-bodyserviceitemdetail-themea21">
                      <center><vs-icon icon="bathtub" size="30px" color="#1f74ff" ></vs-icon></center>
                      <span style="letter-spacing: 1px; font-size: 11px; font-weight: normal; color: #1f74ff;">Baignoire</span>
                    </div>
                  </vs-col>
                  <vs-col v-tooltip="'col - 3'" vs-justify="center" vs-align="center" vs-w="2" style="padding: 10px;" v-if="residences.echaude == 'true'">
                    <div class="accueil-bodyserviceitemdetail-themea21">
                      <center><vs-icon icon="water_heater" size="30px" color="#1f74ff" ></vs-icon></center>
                      <span style="letter-spacing: 1px; font-size: 11px; font-weight: normal; color: #1f74ff;">Chauffe Eau</span>
                    </div>
                  </vs-col>
                  <vs-col v-tooltip="'col - 3'" vs-justify="center" vs-align="center" vs-w="2.3" style="padding: 10px;" v-if="residences.lavema == 'true'">
                    <div class="accueil-bodyserviceitemdetail-themea21">
                      <center><vs-icon icon="local_laundry_service" size="30px" color="#1f74ff" ></vs-icon></center>
                      <span style="letter-spacing: 1px; font-size: 11px; font-weight: normal; color: #1f74ff;">Lave Machine</span>
                    </div>
                  </vs-col>
                     
                </vs-row>
            </div>
          </div>
          <div style="margin-top: 20px">
            <p style="font-size: 25px; font-family: 'Jost', sans-serif;">Equipements Cuisine</p>
            <div class="accueil-bodyservice-themea" style="margin: 30px auto;">
                <vs-row>
                  <vs-col v-tooltip="'col - 3'" vs-justify="center" vs-align="center" vs-w="2" style="padding: 10px;" v-if="residences.s_petitdej == 'true'">
                    <div class="accueil-bodyserviceitemdetail-themea21">
                      <center><vs-icon icon="microwave" size="30px" color="#1f74ff" ></vs-icon></center>
                      <span style="letter-spacing: 1px; font-size: 11px; font-weight: normal; color: #1f74ff;">Micro-ondes</span>
                    </div>
                  </vs-col>
                  <vs-col v-tooltip="'col - 3'" vs-justify="center" vs-align="center" vs-w="2" style="padding: 10px;" v-if="residences.frigo == 'true'">
                    <div class="accueil-bodyserviceitemdetail-themea21">
                      <center><vs-icon icon="kitchen" size="30px" color="#1f74ff" ></vs-icon></center>
                      <span style="letter-spacing: 1px; font-size: 11px; font-weight: normal; color: #1f74ff;">Réfrigérateur</span>
                    </div>
                  </vs-col>
                  <vs-col v-tooltip="'col - 3'" vs-justify="center" vs-align="center" vs-w="2" style="padding: 10px;" v-if="residences.echaude == 'true'">
                    <div class="accueil-bodyserviceitemdetail-themea21">
                      <center><vs-icon icon="water_heater" size="30px" color="#1f74ff" ></vs-icon></center>
                      <span style="letter-spacing: 1px; font-size: 11px; font-weight: normal; color: #1f74ff;">Chauffe Eau</span>
                    </div>
                  </vs-col>
                  <vs-col v-tooltip="'col - 3'" vs-justify="center" vs-align="center" vs-w="2" style="padding: 10px;" v-if="residences.ustensile == 'true'">
                    <div class="accueil-bodyserviceitemdetail-themea21">
                      <center><vs-icon icon="restaurant" size="30px" color="#1f74ff" ></vs-icon></center>
                      <span style="letter-spacing: 1px; font-size: 11px; font-weight: normal; color: #1f74ff;">Ustensiles </span>
                    </div>
                  </vs-col>
                  <vs-col v-tooltip="'col - 3'" vs-justify="center" vs-align="center" vs-w="2.3" style="padding: 10px;" v-if="residences.macafe == 'true'">
                    <div class="accueil-bodyserviceitemdetail-themea21">
                      <center><vs-icon icon="coffee_maker" size="30px" color="#1f74ff" ></vs-icon></center>
                      <span style="letter-spacing: 1px; font-size: 11px; font-weight: normal; color: #1f74ff;">Machine Café </span>
                    </div>
                  </vs-col>
                     
                </vs-row>
            </div>
          </div>
          <div style="margin-top: 20px">
            <p style="font-size: 25px; font-family: 'Jost', sans-serif;">Autres Services</p>
            <div class="accueil-bodyservice-themea" style="margin: 30px auto;">
                <vs-row>
                  <vs-col v-tooltip="'col - 3'" vs-justify="center" vs-align="center" vs-w="2" style="padding: 10px;" v-if="residences.nb_chambre == 'true'">
                    <div class="accueil-bodyserviceitemdetail-themea21">
                      <center><vs-icon icon="ac_unit" size="30px" color="#1f74ff" ></vs-icon></center>
                      <span style="letter-spacing: 1px; font-size: 11px; font-weight: normal; color: #1f74ff;">Climatisation</span>
                    </div>
                  </vs-col>
                  <vs-col v-tooltip="'col - 3'" vs-justify="center" vs-align="center" vs-w="2" style="padding: 10px;" v-if="residences.nb_chambre == 'true'">
                    <div class="accueil-bodyserviceitemdetail-themea21">
                      <center><vs-icon icon="filter_vintage" size="30px" color="#1f74ff" ></vs-icon></center>
                      <span style="letter-spacing: 1px; font-size: 11px; font-weight: normal; color: #1f74ff;">Ventilateur</span>
                    </div>
                  </vs-col>
                  <vs-col v-tooltip="'col - 3'" vs-justify="center" vs-align="center" vs-w="2" style="padding: 10px;" v-if="residences.nb_chambre == 'true'">
                    <div class="accueil-bodyserviceitemdetail-themea21">
                      <center><vs-icon icon="balcony" size="30px" color="#1f74ff" ></vs-icon></center>
                      <span style="letter-spacing: 1px; font-size: 11px; font-weight: normal; color: #1f74ff;">Balcon</span>
                    </div>
                  </vs-col>
                 
                     
                </vs-row>
            </div>
          </div>


          <div style="margin-top: 50px">
            <p style="font-size: 25px; font-family: 'Jost', sans-serif">Description</p>
            <p style="padding-top: 20px; letter-spacing: .5px; line-height: 30px; text-align: justify; color: #64688c; font-size: 16px; font-family: 'Jost', sans-serif" v-html="residences.description"></p>
          </div>
          <div style="margin-top: 50px">
            <p style="font-size: 25px; font-family: 'Jost', sans-serif">Localisation</p>
            <gmap-map
              :center="center"
              :zoom="10"
              style="width:100%;  height: 400px; margin-top: 30px;" 
            >
              <gmap-marker
                :key="index"
                :position="marker.position"
                @click="center=m.position"
              ></gmap-marker>
            </gmap-map>
          </div>
          <div style="margin-top: 50px">
            <p style="font-size: 25px; font-family: 'Jost', sans-serif">A Proximité</p>
            <div v-if="proxy.length < 1" >
              <p style="padding-top: 15px;">Pas de service à proximité</p>
            </div>
            <div v-else>
              <el-timeline style="padding-top: 20px; letter-spacing: .5px; line-height: 30px; text-align: justify; color: #64688c; font-size: 16px; font-family: 'Jost', sans-serif" >
                <el-timeline-item
                  v-for="(activity, index) in proxy"
                  :key="index"
                  icon="el-icon-circle-plus"
                  type="primary"
                  size="large"
                  :timestamp="activity.detail">
                  {{activity.service}} - <i style="color: blue; font-weight: 12px;">100m</i>
                </el-timeline-item>
              </el-timeline>
            </div>
            
          </div>
          
        </vs-col>
        <vs-col vs-w="4.5" style="padding: 0px 20px">
          <div class="testss">
            <vs-card style="border-radius: 10px; width: 100%; padding-bottom: 1px;">
              <vs-row>
                          <vs-col vs-type="inline-flex" vs-w="7" style="background-color: #e2fdfd; border-radius: 20px; margin: 8px">
                            <div style="display: inline-flex;">
                              <div style="display: flex;">
                                <span><vs-avatar  color="primary" icon="location_city" style=""/></span>
                                <span style="padding-top: 9px; font-size: 12px; font-weight: normal; color: #64688c;">{{residences.ville}}</span>
                              </div>
                              <div style="display: flex;" v-if="residences.zone.length>2">
                                <span><vs-avatar color="primary" icon="location_on" style=""/></span>
                                <span style="padding-top: 9px; font-size: 12px; font-weight: normal; color: #64688c;">{{residences.zone}}</span>
                              </div>
                            </div>
                          </vs-col>
                          <vs-col vs-type="flex"  vs-align="center" vs-w="4" style="margin: 0; padding: 0">
                            <h2 style="text-align: left; padding: 8px; font-size: 21px;">{{residences.typer}}</h2>
                          </vs-col>
                        </vs-row>
                        <span style="padding: 10px; font-size: 16px; font-weight: normal; color: #64688c;">{{residences.quartier}}</span>
                        <vs-divider/>
                        <el-row style="margin-top: -30px">
                                <el-col :span="11" v-if="residences.s_securite == 'true'">
                                  <div class="grid-content bg-purple">
                                    <vs-list-item icon="timer" title="" :subtitle="'Dispo à '+residences.jourhe"></vs-list-item>
                                  </div>
                                  </el-col>
                                  <el-col :span="13" v-if="residences.s_securite == 'true'">
                                  <div class="grid-content bg-purple">
                                    <vs-list-item icon="timer" title="" :subtitle="'Libérer avant '+residences.jourhs"></vs-list-item>
                                  </div>
                                  </el-col>
                             </el-row>
            </vs-card>

            <vs-card style="border-radius: 10px; width: 100%;">
              <vs-alert
              style="color: white;"
                :active.sync="active1"
                closable
                color="green"
                close-icon="cancel">
                  Réduction Activée
                </vs-alert>
              <p style="text-align: center; font-weight: 600; font-size: 26px; line-height: 30px; padding: 16px; color: #64BC5F; font-family: 'Jost', sans-serif"><vs-icon v-if="argent.nom == 'Dollar'" class="" size="20px" :icon="argent.icone"></vs-icon>{{Intl.NumberFormat().format(Math.round(residences.jourt/argent.value * 10) / 10)}} <vs-icon v-if="argent.nom == 'Euro'" class="" size="20px" :icon="argent.icone"></vs-icon><span v-if="argent.nom == 'CFA'">CFA</span><span style="color:#64688c; font-size: 16px; font-weight: normal;"> par jour</span></p>
              <p style="font-size: 14px; text-align: center; padding-bottom: 10px;" class="result-price-reduction" v-if="residences.reductionok == 'true'">Réduction à partir de {{residences.reductionj}}</p>
            </vs-card>
            <vs-card style="border-radius: 10px; width: 100%;">
                <vs-button style="margin: 5px; color: black; font-size: 17px;" color="white" type="filled" icon="videocam" @click="$modal.show('my-first-modal')" v-if="residences.video.length > 9">Voir vidéo</vs-button>

            </vs-card>
            <vs-divider/>
            <vs-card style="border-radius: 10px; padding: 13px; width: 100%;">
              <span style="font-family: 'Jost', sans-serif; font-size: 16px; color: #64688c">Réservation</span>
              <el-date-picker
                lang="fr"
                style="margin-top: 10px;"
                @change="reservationform()" :min="new Date().toISOString().split('T')[0]"
                v-model="timo"
                type="daterange"
                range-separator="à"
                start-placeholder="Date de début"
                value-format="yyyy-MM-dd"
                end-placeholder="Date de fin">
              </el-date-picker>
              <div v-if="jourreserve>=1" style="font-family: 'Jost', sans-serif; font-size: 20px; color: #64688c; padding: 10px; background-color: #ecfafb; font-weight: bold; width: 100%; text-align: center;">{{jourreserve + ' jour(s)'}}</div>
              <center v-if="jourreserve>=1"><vs-button style="font-family: 'Jost', sans-serif; font-size: 16px; color: white; margin-top: 15px; width: 100%; letter-spacing: 1px;" color="primary" type="filled" @click="reservationValide()">Réserver</vs-button></center>
              <center v-else><vs-button style="font-family: 'Jost', sans-serif; font-size: 16px; color: white; margin-top: 15px; width: 100%; letter-spacing: 1px;" color="primary" type="filled" disabled>Réserver</vs-button></center>
            </vs-card>
          </div>
        </vs-col>
      </vs-row>
      <div class="accueil-bodyservice-themea" style="margin: 30px auto;">
        <div style="margin-top: 50px">
            <p style="font-size: 25px; padding-bottom: 20px; font-family: 'Jost', sans-serif">Avis Client</p>
            
          </div>
        <div class="block" v-if="proxy.length > 1">
          <el-timeline>
            <el-timeline-item :timestamp="av.dte" placement="top" v-for="av in aviss" :key="av.id_avis">
              <el-card>
                <h4 style="padding: 15px;font-family: 'Jost', sans-serif;">{{av.nom}}</h4>
                <p style="padding: 15px;color: #64688c; font-size: 16px; font-family: 'Jost', sans-serif; line-height: 25px;">{{av.message}}</p>
              </el-card>
            </el-timeline-item>
          </el-timeline>
          
        </div>
        <div v-else>
          <p style="padding-bottom: 15px">Pas d'avis</p>
        </div>
        <vs-button @click="activePrompt2=true" style="padding: 15px; font-size: 20px" color="primary" type="filled">Donnez votre avis</vs-button>
        
      </div>
      
      
    </div>
    <div class=" zone-of-work" style="width: 900px">
      <br>
     
    </div>
     <vs-prompt
      color="success"
      title="Réservation"
      accept-text="Réserver"
      cancel-text="Annuler"
      @cancel="valMultipe.value1='',valMultipe.value2=''"
      @accept="reservationValide()"
      @close="close"
      :buttons-hidden="errorReserve"
      :is-valid="validName"
      :active.sync="reservation">
       <div class="con-exemple-prompt">
      <b>Choisissez la période</b>.
       <el-row>
          <el-col :span="12">
            <div class="grid-content bg-purple" style="display: grid">
                <span>DU</span>
                <input  @change="reservationform()" :min="new Date().toISOString().split('T')[0]" style="padding: 5px; border-radius: 5px; width: 95%" type="date" placeholder="Name" v-model="dateDu"/>
            </div>
          </el-col>
          <el-col :span="12">
            <div class="grid-content bg-purple" style="display: grid">
                <span>AU</span>
                <input :min="dateDu" @change="reservationform()" style="padding: 5px; border-radius: 5px; width: 95%" type="date" placeholder="Name" v-model="dateAu"/>
            </div>
          </el-col>
       </el-row>
        <br>
        <el-row>
          <el-col :span="12">
            <div class="grid-content bg-purple">
                <el-timeline :reverse="reverse">

                  <el-timeline-item v-if="dateDu == dateAu"
                    timestamp="Réservation journéee">
                    Nombres de jour(s)
                  </el-timeline-item>
                  <el-timeline-item v-else
                    :timestamp="jourreserve + ' jours'">
                    Nombres de jour(s)
                  </el-timeline-item>

                  <div v-if="dateDu == dateAu">
                  <el-timeline-item
                    :timestamp="formatPrice(residences.journeet)">
                    Total Prix
                  </el-timeline-item>
                  </div>

                  <div v-else>
                  <div v-if="residences.reductionok == 'true'">
                  <el-timeline-item v-if="jourreserve >= residences.reduction"
                    :timestamp="formatPrice(residences.reductiont * jourreserve)">
                    Total Prix*
                  </el-timeline-item>
                  <el-timeline-item v-else
                    :timestamp="formatPrice(residences.jourt * jourreserve)">
                    Total Prixs
                  </el-timeline-item>
                  </div>
                 
                  
                  </div>
                  

                </el-timeline>

            </div>
            
          </el-col>
          <el-col :span="12">
            <div class="grid-content bg-purple" style="display: grid">
                 <vs-alert :active="!validName" color="danger" icon="new_releases" >
                    Vous devez payer une avance de <span style="color: black; font-weight: bold">{{ formatPrice(avance * jourreserve) }}</span> pour valider la réservation
                  </vs-alert>
            </div>
          </el-col>
       </el-row>
       
      
        
       </div>
     </vs-prompt>

     <vs-prompt
     title="Commentaire"
      color="primary"
      @cancel="valMultipe.value1='',valMultipe.value2=''"
      @accept="acceptAlert"
      @close="close"
      :is-valid="validName"
      :active.sync="activePrompt2">
       <div class="con-exemple-prompt">
        <vs-card class="result-item accueil-bodysearch-themea" style="margin-top: 5px; margin-bottom: 10px; padding: 10px;">
                  <div>  
                    <h1>Donnez votre avis</h1><br>
                    <span  style="padding: 7px 20px">Note</span>
                    <el-rate style="padding: 7px 20px" v-model="etoilecom"></el-rate><br>
                    <div style="padding: 7px 20px">
                      <span>Nom</span>
                      <el-input
                          placeholder="Nom & Prenom"
                          v-model="nomcom"
                          clearable>
                      </el-input>
                    </div>
                    <div style="padding: 7px 20px">
                      <span>Votre message</span>
                      <el-input
                          type="textarea"
                          placeholder="Entrez votre commentaire"
                          v-model="messagecom">
                      </el-input>
                    </div>
                    
                    <vs-button style="margin-top: 10px; width: 100%;" color="warning" type="filled" @click="sendAvis()">Enregistrer</vs-button>
                  </div>
                  
                  </vs-card>
       </div>
     </vs-prompt>


     <modal name="my-first-modal" height="auto">
      <iframe  style="width: 100%; padding: 0; margin: -30px auto; height: 350px;" :src="'https://www.youtube.com/embed/'+residences.video+'?controls=1'"></iframe>
     </modal>
      
  </div>
</template>

<script>

import axios from 'axios';
import { VueperSlides, VueperSlide } from 'vueperslides'
import 'vueperslides/dist/vueperslides.css'

export default {
  name: 'Web',
  computed: {
    argent() {
      return this.$store.state.money;
    }
  },
  components: { VueperSlides, VueperSlide },
  data(){
    return {
      slides: [],
      marker: { position: { lat: 5.343924, lng: -4.0645722 } },
      activePrompt2: false,
      proxy: null,
      aviss: null,
      center: {lat: 5.343924, lng: -4.0645722},
      markers: [{
          id: 'dfsldjl3r',
          position: {
            lat: 55, lng: 55, title: 'Surat'
          },
        }],
      currentPlacelat: null,
      currentPlacelng: null,
      places: [],
      borda: 'border: 3px solid #EBA744',
      bordb: '',
      bordc: '',
      bordd: '',
      active1: false,
      imgselect: null,
      price: 15000,
      videoCall: false,
      reservation: false,
      avance: 5000,
      dateaujourdhui: null,
      jourreserve: null,
      moisreserve: null,
      dateDu: null,
      dateAu: '',
      timo: null,
      value1: null,
      payement: false,
      voirNum: false,
      numberOk: true,
      select1:0,
      select2:0,
      select3:0,
      select4:0,
      nomcom: '',
      etoilecom: '',
      messagecom: '',
      messagewhatsapp: 'Bonjour je souhaite reserver votre résidence',
      residences: null,
       options1:[
        {text:'Abidjan',value:0},
        {text:'Grand-Bassam',value:1},
        {text:'Yamoussoukro',value:2},
      ],
      activities: [{
          content: 'Salle de Sport',
          timestamp: 'Une salle de sport disponible à 200 mètres de la résidence',
          size: 'large',
          type: 'primary',
          icon: 'el-icon-circle-plus'
        }, {
          content: 'Couleur',
          timestamp: '2018-04-03 20:46',
          type: 'primary',
          icon: 'el-icon-circle-plus'
        }, {
          content: 'Taille',
          timestamp: '2018-04-03 20:46',
          size: 'large',
          type: 'primary',
          icon: 'el-icon-circle-plus'
        }, {
          content: 'Défaut',
          type: 'primary',
          timestamp: '2018-04-03 20:46',
          icon: 'el-icon-circle-plus'
        }],
       options2:[
        {text:'Toutes les zones',value:0},
        {text:'Abobo',value:1},
        {text:'Adjamé',value:2},
        {text:'Angré',value:3},
        {text:'Anyama',value:4},
        {text:'Attécoubé',value:5},
        {text:'Bingerville',value:6},
        {text:'Cocody',value:7},
        {text:'II Plateau',value:8},
        {text:'Koumassi',value:9},
        {text:'Marcory',value:10},
        {text:'Plateau',value:11},
        {text:'Port-Bouet',value:12},
        {text:'Riviera',value:13},
        {text:'Treichville',value:14},
        {text:'Yopougon',value:15},
      ],
      options3:[
        {text:'Tous types',value:0},
        {text:'Studio',value:1},
        {text:'2 pièces',value:2},
        {text:'3 pièces',value:3},
        {text:'4 pièces',value:4},
        {text:'Autres',value:5},
      ],
      options4:[
        {text:'Tous les prix',value:0},
        {text:'0 à 15.000',value:1},
        {text:'15.000 à 25.000',value:2},
        {text:'25.000 à 50.000',value:3},
        {text:'Plus',value:4},
      ],
    }
  },
  watch: {
      jourreserve: function(val) {
          //do something when the data changes.
          if (val >= this.residences.reductionj) {
            this.active1 = true;
            } else {
              this.active1 = false;
            }
      }
  },
  methods: {
    changeselect(l) {
      if(l == 'a'){
        this.imgselect = this.residences.imagea;
        this.borda = 'border: 3px solid #EBA744';
        this.bordb = '';
        this.bordc = '';
        this.bordd = '';
      }
      if(l == 'b'){
        this.imgselect = this.residences.imageb;
        this.borda = '';
        this.bordb = 'border: 3px solid #EBA744';
        this.bordc = '';
        this.bordd = '';
      }
      if(l == 'c'){
        this.imgselect = this.residences.imagec;
        this.borda = '';
        this.bordb = '';
        this.bordc = 'border: 3px solid #EBA744';
        this.bordd = '';
      }
      if(l == 'd'){
        this.imgselect = this.residences.imaged;
        this.borda = '';
        this.bordb = '';
        this.bordc = '';
        this.bordd = 'border: 3px solid #EBA744';
      }
    },
    retour() {
      this.$router.back(0)
    },
    Maps(){
      this.videoCall = true;
    },
    getResidences() {
      this.$vs.loading({
        type:'point',
      })
      axios.get('https://autre.sarezide.com/sarezide_get_residence_id.php?id=' + this.$route.query.id)
      .then((response) => {
        this.residences = response.data.data[0];
        this.imgselect = this.residences.imagea;
        this.marker = { position: { lat: parseInt(response.data.data[0].lat), lng: parseInt(response.data.data[0].longi) } };
        this.center = {lat: parseInt(response.data.data[0].lat), lng: parseInt(response.data.data[0].longi)};
        this.getproximite();
        this.progress();
        this.getavis();
        this.slideer();
        this.$vs.loading.close()
        console.log(this.residences)
      }, (error) => {
        console.log(error);
        this.$vs.loading.close()
      });
      
    },
    slideer() {
      if(this.residences.imagea.length > 5){
        const sli = {
          title: 'El Teide Volcano, Spain',
          content: 'Photo by Max Rive',
          // You can also provide a URL for the image.
          image: this.residences.imagea
        };
        this.slides.push( sli );
      }
      if(this.residences.imageb.length > 5){
        const sli = {
          title: 'El Teide Volcano, Spain',
          content: 'Photo by Max Rive',
          // You can also provide a URL for the image.
          image: this.residences.imageb
        };
        this.slides.push( sli );
      }
      if(this.residences.imagec.length > 5){
        const sli = {
          title: 'El Teide Volcano, Spain',
          content: 'Photo by Max Rive',
          // You can also provide a URL for the image.
          image: this.residences.imagec
        };
        this.slides.push( sli );
      }
      if(this.residences.imaged.length > 5){
        const sli = {
          title: 'El Teide Volcano, Spain',
          content: 'Photo by Max Rive',
          // You can also provide a URL for the image.
          image: this.residences.imaged
        };
        this.slides.push( sli );
      }
      if(this.residences.imagee.length > 5){
        const sli = {
          title: 'El Teide Volcano, Spain',
          content: 'Photo by Max Rive',
          // You can also provide a URL for the image.
          image: this.residences.imagee
        };
        this.slides.push( sli );
      }
      if(this.residences.imagef.length > 5){
        const sli = {
          title: 'El Teide Volcano, Spain',
          content: 'Photo by Max Rive',
          // You can also provide a URL for the image.
          image: this.residences.imagef
        };
        this.slides.push( sli );
      }
      if(this.residences.imageg.length > 5){
        const sli = {
          title: 'El Teide Volcano, Spain',
          content: 'Photo by Max Rive',
          // You can also provide a URL for the image.
          image: this.residences.imageg
        };
        this.slides.push( sli );
      }
      if(this.residences.imageh.length > 5){
        const sli = {
          title: 'El Teide Volcano, Spain',
          content: 'Photo by Max Rive',
          // You can also provide a URL for the image.
          image: this.residences.imageh
        };
        this.slides.push( sli );
      }
    },

    progress: function () {
        setTimeout(function () { 
          this.marker.position.lat = parseInt(this.residences.lat);
          this.marker.position.lng = parseInt(this.residences.longi);
          this.center.lat = parseInt(this.residences.lat);
          this.center.lat = parseInt(this.residences.longi);
         }.bind(this), 2000)
    },

    getproximite() {
      
      this.$vs.loading({
        type:'point',
      })
      axios.get('https://autre.sarezide.com/proximitessa.php?resid=' + this.residences.ref)
      .then((response) => {
        this.proxy = response.data.data;
        console.log(response);
        this.$vs.loading.close()
      }, (error) => {
        console.log(error);
        this.$vs.loading.close()
      });
      
    },
    getavis() {
      this.$vs.loading({
        type:'point',
      })
      axios.get('https://autre.sarezide.com/sarezide_get_avis.php?resid=' + this.residences.id_resid)
      .then((response) => {
        this.aviss = response.data.data;
        console.log(response);
        this.$vs.loading.close()
      }, (error) => {
        console.log(error);
        this.$vs.loading.close()
      });
      
    },
    formatPrice(value) {
        var formatter = new Intl.NumberFormat('xof', {
            style: 'currency',
            currency: 'CFA',
            minimumFractionDigits: 0
        });
        return formatter.format(value);
    },
    reservationValide() {
      this.avance = 1;
        let formData = new FormData();
        formData.append('du', this.dateDu);
        formData.append('au', this.dateAu);
        formData.append('jour', this.jourreserve);
        formData.append('avance', this.avance);
        formData.append('residence', this.residences.id_resid);
          this.$vs.loading({
          type:'point',
        })
        axios.post('https://autre.sarezide.com/sarezide_reservationn.php', formData)
       .then((response) => {
        console.log(response);
        this.$vs.loading.close();
        this.$vs.notify({
        color:'success',
        position: 'top-right',
        title:'Réservation',
        text:'Réservation en cours'
        });
        const ref = response.data.ref;
        this.$router.push({ path: '/wreservation', query: { ref: ref } });
      })
      .catch(function (error) {
        console.log(error);
        this.$vs.loading.close()
      });
    },
    sendAvis() {
        this.activePrompt2 = false;
        let formData = new FormData();
        formData.append('resid', this.residences.id_resid);
        formData.append('nom', this.nomcom);
        formData.append('message', this.messagecom);
        formData.append('etoile', this.etoilecom);
          this.$vs.loading({
          type:'point',
        })
        axios.post('https://autre.sarezide.com/sarezide_post_aviss.php', formData)
       .then((response) => {
        console.log(response);
        this.$vs.loading.close();
        this.$vs.notify({
        color:'success',
        position: 'top-right',
        title:'Avis Enregistré',
        text:'Votre avis à bien été enregistré'
        });
      })
      .catch(function (error) {
        console.log(error);
        this.$vs.loading.close()
      });
      this.getavis();
    },
    reservationform() {
      this.dateDu = this.timo[0];
      this.dateAu = this.timo[1];
      const dt = new Date(this.dateDu);
      const month = dt.getMonth() + 1;
      const year = dt.getFullYear();
      const daysInMonth = new Date(year, month, 0).getDate();
      
      const mf = this.dateAu.substring(5, 7);
      const md = this.dateDu.substring(5, 7);
      const fin = this.dateAu.slice(-2);
      const debut = this.dateDu.slice(-2);
      const dif = mf - md;
      if(dif == '0') {
        this.moisreserve = 0;
      }
      if(dif == '1') {
        this.moisreserve = daysInMonth;
      }
      
      this.jourreserve = fin - debut + this.moisreserve;
      this.errorReserve = false;
      if(this.dateAu == '') {
        this.jourreserve = null;
        this.errorReserve = true;
      }

    },
   

  },

  beforeMount: function() {
    this.getResidences();
  },

  mounted() {
    
  }
}

</script>
<style>
.thumbnails {
  max-width: 1080px;
  width: 800px;
  height: 120px;
}

.thumbnails .vueperslide {
  box-sizing: border-box;
  border: 1px solid #fff;
  transition: 0.3s ease-in-out;
  opacity: 0.7;
  cursor: pointer;
  width: 100%;
  border-radius: 8px;
  margin: 0px 3px;
}

.thumbnails .vueperslide--active {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  opacity: 1;
  border: 3px solid #1f74ff;
}
</style>