<template>
  <div class="hello">

    <h2 style="text-align: center; padding: 35px; text-decoration: underline">Réservation N° : <b style="color: blue">{{ref}}</b></h2>

    <div v-if="isMobile">
      <div class="accueil-bodysearch-themea" v-if="validerreserve">
        <vs-card style="padding: 20px; box-shadow: 0 0 0 10px rgb(255 255 255 / 15%), 0 2px 48px 0 rgb(0 0 0 / 4%); border-radius: 10px;">
          <p style="font-family: 'Jost', sans-serif; font-size: 20px;font-weight: 600;letter-spacing: 1px; color: #383a4e;">Détail de la réservation N° : <b style="color: blue">{{ref}}</b></p>
          <vs-divider/>
          <p style="margin-bottom: 1rem;font-family: 'Jost', sans-serif; font-size: 14px;letter-spacing: 1px; color: #383a4e;">Du <b>{{reservation.du}}</b>, à partir de 12h00</p>
          <p style="margin-bottom: 1rem; font-family: 'Jost', sans-serif; font-size: 14px;letter-spacing: 1px; color: #383a4e;">Au <b>{{reservation.au}}</b>, jusqu'à 12h00</p>
          <div style="background-color: #f2ffff; padding: 20px;">
            <p style="font-family: 'Jost', sans-serif; font-size: 20px;font-weight: 600;letter-spacing: 1px; color: #383a4e;">Informations Client</p>
            <vs-divider/>
            <vs-row style="padding-bottom: 25px">
              <vs-col vs-justify="center" vs-align="center" vs-w="6">
                <div style="display: grid; width: 95%;">
                  <span style="font-size: 14px; letter-spacing:.5px; color: #64688c; padding: 5px; font-family: 'Jost', sans-serif">Nom</span>
                      <el-input
                        style="width: 100%;  float: right;"
                        placeholder="Entrez votre nom"
                        suffix-icon="el-icon-date"
                        v-model="useri.name">
                      </el-input>
                      
                    </div>
              </vs-col>
              <vs-col vs-justify="center" vs-align="center" vs-w="6">
                <div style="display: grid; width: 95%;">
                  <span style="font-size: 14px; letter-spacing:.5px; color: #64688c; padding: 5px; font-family: 'Jost', sans-serif">Prenom</span>
                      <el-input
                        style="width: 100%;  float: right;"
                        placeholder="Entrez votre prenom"
                        suffix-icon="el-icon-date"
                        v-model="useri.prenom">
                      </el-input>
                      
                    </div>
              </vs-col>
            </vs-row>
            <vs-row style="padding-bottom: 25px">
              <vs-col vs-justify="center" vs-align="center" vs-w="6">
                <div style="display: grid; width: 95%;">
                  <span style="font-size: 14px; letter-spacing:.5px; color: #64688c; padding: 5px; font-family: 'Jost', sans-serif">Email</span>
                      <el-input
                        style="width: 100%;  float: right;"
                        placeholder="Adresse email"
                        suffix-icon="el-icon-date"
                        v-model="useri.email">
                      </el-input>
                      
                    </div>
              </vs-col>
              <vs-col vs-justify="center" vs-align="center" vs-w="6">
                <div style="display: grid; width: 95%;">
                  <span style="font-size: 14px; letter-spacing:.5px; color: #64688c; padding: 5px; font-family: 'Jost', sans-serif">Téléphone</span>
                      <el-input
                        style="width: 100%;  float: right;"
                        placeholder="Contact"
                        suffix-icon="el-icon-date"
                        v-model="useri.contact">
                      </el-input>
                      
                    </div>
              </vs-col>
            </vs-row>
            <vs-row style="padding-bottom: 25px">
              <vs-col vs-justify="center" vs-align="center" vs-w="6">
                <div style="display: grid; width: 95%;">
                 
                  <span style="font-size: 14px; letter-spacing:.5px; color: #64688c; padding: 5px; font-family: 'Jost', sans-serif">Pays de résidence</span>
                  <el-select v-model="value" filterable placeholder="Select">
                  <el-option
                    style="display: grid;"
                    v-for="item in payss.data"
                    :key="item.name"
                    :label="item.name"
                    :value="item.name">
                    <span style="float: left"><span style="float: left"><img :src="item.flags.png" width="15" style="margin: 0px 5px;"></span> {{ item.name }}</span>
                  </el-option>
                </el-select>
                      
                    </div>
              </vs-col>
              <vs-col vs-justify="center" vs-align="center" vs-w="6">
              
              </vs-col>
              
            </vs-row>
            <vs-divider/>
            <p style="font-family: 'Jost', sans-serif; font-size: 20px;font-weight: 600;letter-spacing: 1px; color: #383a4e; margin-top: 50px;">Plus d'info sur la réservation</p>
            <vs-divider/>
            <vs-row style="padding-bottom: 25px">
              <vs-col vs-justify="center" vs-align="center" vs-w="6">
                <div style="display: grid; width: 95%;">
                  <span style="font-size: 14px; letter-spacing:.5px; color: #64688c; padding: 5px; font-family: 'Jost', sans-serif">Nombre de personne</span>
                      <el-input
                        style="width: 100%;  float: right;"
                        placeholder="Nombre de personne"
                        suffix-icon="el-icon-date"
                        v-model="useri.nbper">
                      </el-input>
                      
                    </div>
              </vs-col>
              <vs-col vs-justify="center" vs-align="center" vs-w="6">
                <div style="display: grid; width: 95%;">
                  <span style="font-size: 14px; letter-spacing:.5px; color: #64688c; padding: 5px; font-family: 'Jost', sans-serif">Ya t'il des <b>moins de 14 ans</b></span>
                      <el-input
                        style="width: 100%;  float: right;"
                        placeholder="Enfant"
                        suffix-icon="el-icon-date"
                        v-model="useri.nbenf">
                      </el-input>
                      
                    </div>
              </vs-col>
            </vs-row>
            <vs-row>
              <vs-col  v-tooltip="'col - 3'" vs-align="center" vs-w="5.9">
                <div style="display: grid; width: 95%;">
                <span style="font-size: 14px; letter-spacing:.5px; color: #64688c; padding: 5px; font-family: 'Jost', sans-serif"><b style="color: blue;">Service Taxi</b>, Je veux qu'un véhicule vienne me chercher</span>
                <el-select v-model="useri.taxi" filterable placeholder="Select">
                    <el-option
                      style="display: grid;"
                      v-for="item in taxilist"
                      :key="item.value"
                      :label="item.label"
                      :value="item.value">
                    </el-option>
                  </el-select>  
                </div> 
              </vs-col>
              <vs-col  v-tooltip="'col - 3'" vs-type="grid" vs-align="center" vs-w="0.2">
              
              </vs-col>
              <el-alert v-if="error"
                  :title="errorMessage"
                  type="error"
                  effect="dark">
                </el-alert>
              <vs-button style="margin-top: 15px; width: 100%" color="primary" type="filled" @click="confirmer()">Confirmer réservation</vs-button>
              
          </vs-row>
          </div>
        </vs-card>
      </div>
      <div class="accueil-bodysearch-themea" v-else>
        <vs-card style="padding: 20px; box-shadow: 0 0 0 10px rgb(255 255 255 / 15%), 0 2px 48px 0 rgb(0 0 0 / 4%); border-radius: 10px;">
          <p style="font-family: 'Jost', sans-serif; font-size: 20px;font-weight: 600;letter-spacing: 1px; color: greenyellow; text-decoration: underline;">Réservation Validée N° : <b style="color: blue">{{ref}}</b></p>
          <vs-divider/>
          <p style="margin-bottom: 1rem;font-family: 'Jost', sans-serif; font-size: 14px;letter-spacing: 1px; color: #383a4e;">Du <b>{{reservation.du}}</b>, à partir de 12h00</p>
          <p style="margin-bottom: 1rem; font-family: 'Jost', sans-serif; font-size: 14px;letter-spacing: 1px; color: #383a4e;">Au <b>{{reservation.au}}</b>, jusqu'à 12h00</p>
          <vs-icon style="position: absolute; margin-top: -80px; font-size: 70px; margin-left: 260px; color: greenyellow;" class="" size="20px" icon="done_all"></vs-icon>
          <vs-divider/>
          <p style="margin-bottom: 1rem;font-family: 'Jost', sans-serif; font-size: 20px;letter-spacing: 1px; color: #383a4e; background-color: greenyellow; padding: 9px;">Un agent vous contactera dans les <b>deux (2)</b> prochaines heures. </p>
        </vs-card>
      </div>
    </div>
    <div v-else>
      <div class="accueil-bodysearch-themea" v-if="validerreserve">
        <vs-card style="padding: 20px; box-shadow: 0 0 0 10px rgb(255 255 255 / 15%), 0 2px 48px 0 rgb(0 0 0 / 4%); border-radius: 10px;">
          <p style="font-family: 'Jost', sans-serif; font-size: 20px;font-weight: 600;letter-spacing: 1px; color: #383a4e;">Détail de la réservation N° : <b style="color: blue">{{ref}}</b></p>
          <vs-divider/>
          <p style="margin-bottom: 1rem;font-family: 'Jost', sans-serif; font-size: 14px;letter-spacing: 1px; color: #383a4e;">Du <b>{{reservation.du}}</b>, à partir de 12h00</p>
          <p style="margin-bottom: 1rem; font-family: 'Jost', sans-serif; font-size: 14px;letter-spacing: 1px; color: #383a4e;">Au <b>{{reservation.au}}</b>, jusqu'à 12h00</p>
          <div style="background-color: #f2ffff; padding: 20px;">
            <p style="font-family: 'Jost', sans-serif; font-size: 20px;font-weight: 600;letter-spacing: 1px; color: #383a4e;">Informations Client</p>
            <vs-divider/>
            <vs-row style="padding-bottom: 25px">
              <vs-col vs-justify="center" vs-align="center" vs-w="6">
                <div style="display: grid; width: 95%;">
                  <span style="font-size: 14px; letter-spacing:.5px; color: #64688c; padding: 5px; font-family: 'Jost', sans-serif">Nom</span>
                      <el-input
                        style="width: 100%;  float: right;"
                        placeholder="Entrez votre nom"
                        suffix-icon="el-icon-date"
                        v-model="useri.name">
                      </el-input>
                      
                    </div>
              </vs-col>
              <vs-col vs-justify="center" vs-align="center" vs-w="6">
                <div style="display: grid; width: 95%;">
                  <span style="font-size: 14px; letter-spacing:.5px; color: #64688c; padding: 5px; font-family: 'Jost', sans-serif">Prenom</span>
                      <el-input
                        style="width: 100%;  float: right;"
                        placeholder="Entrez votre prenom"
                        suffix-icon="el-icon-date"
                        v-model="useri.prenom">
                      </el-input>
                      
                    </div>
              </vs-col>
            </vs-row>
            <vs-row style="padding-bottom: 25px">
              <vs-col vs-justify="center" vs-align="center" vs-w="6">
                <div style="display: grid; width: 95%;">
                  <span style="font-size: 14px; letter-spacing:.5px; color: #64688c; padding: 5px; font-family: 'Jost', sans-serif">Email</span>
                      <el-input
                        style="width: 100%;  float: right;"
                        placeholder="Adresse email"
                        suffix-icon="el-icon-date"
                        v-model="useri.email">
                      </el-input>
                      
                    </div>
              </vs-col>
              <vs-col vs-justify="center" vs-align="center" vs-w="6">
                <div style="display: grid; width: 95%;">
                  <span style="font-size: 14px; letter-spacing:.5px; color: #64688c; padding: 5px; font-family: 'Jost', sans-serif">Téléphone</span>
                      <el-input
                        style="width: 100%;  float: right;"
                        placeholder="Contact"
                        suffix-icon="el-icon-date"
                        v-model="useri.contact">
                      </el-input>
                      
                    </div>
              </vs-col>
            </vs-row>
            <vs-row style="padding-bottom: 25px">
              <vs-col vs-justify="center" vs-align="center" vs-w="6">
                <div style="display: grid; width: 95%;">
                 
                  <span style="font-size: 14px; letter-spacing:.5px; color: #64688c; padding: 5px; font-family: 'Jost', sans-serif">Pays de résidence</span>
                  <el-select v-model="value" filterable placeholder="Select">
                  <el-option
                    style="display: grid;"
                    v-for="item in payss.data"
                    :key="item.name"
                    :label="item.name"
                    :value="item.name">
                    <span style="float: left"><span style="float: left"><img :src="item.flags.png" width="15" style="margin: 0px 5px;"></span> {{ item.name }}</span>
                  </el-option>
                </el-select>
                      
                    </div>
              </vs-col>
              <vs-col vs-justify="center" vs-align="center" vs-w="6">
              
              </vs-col>
              
            </vs-row>
            <vs-divider/>
            <p style="font-family: 'Jost', sans-serif; font-size: 20px;font-weight: 600;letter-spacing: 1px; color: #383a4e; margin-top: 50px;">Plus d'info sur la réservation</p>
            <vs-divider/>
            <vs-row style="padding-bottom: 25px">
              <vs-col vs-justify="center" vs-align="center" vs-w="6">
                <div style="display: grid; width: 95%;">
                  <span style="font-size: 14px; letter-spacing:.5px; color: #64688c; padding: 5px; font-family: 'Jost', sans-serif">Nombre de personne</span>
                      <el-input
                        style="width: 100%;  float: right;"
                        placeholder="Nombre de personne"
                        suffix-icon="el-icon-date"
                        v-model="useri.nbper">
                      </el-input>
                      
                    </div>
              </vs-col>
              <vs-col vs-justify="center" vs-align="center" vs-w="6">
                <div style="display: grid; width: 95%;">
                  <span style="font-size: 14px; letter-spacing:.5px; color: #64688c; padding: 5px; font-family: 'Jost', sans-serif">Ya t'il des <b>moins de 14 ans</b></span>
                      <el-input
                        style="width: 100%;  float: right;"
                        placeholder="Enfant"
                        suffix-icon="el-icon-date"
                        v-model="useri.nbenf">
                      </el-input>
                      
                    </div>
              </vs-col>
            </vs-row>
            <vs-row>
              <vs-col  v-tooltip="'col - 3'" vs-align="center" vs-w="5.9">
                <div style="display: grid; width: 95%;">
                <span style="font-size: 14px; letter-spacing:.5px; color: #64688c; padding: 5px; font-family: 'Jost', sans-serif"><b style="color: blue;">Service Taxi</b>, Je veux qu'un véhicule vienne me chercher</span>
                <el-select v-model="useri.taxi" filterable placeholder="Select">
                    <el-option
                      style="display: grid;"
                      v-for="item in taxilist"
                      :key="item.value"
                      :label="item.label"
                      :value="item.value">
                    </el-option>
                  </el-select>  
                </div> 
              </vs-col>
              <vs-col  v-tooltip="'col - 3'" vs-type="grid" vs-align="center" vs-w="0.2">
              
              </vs-col>
              <el-alert v-if="error"
                  :title="errorMessage"
                  type="error"
                  effect="dark">
                </el-alert>
              <vs-button style="margin-top: 15px; width: 100%" color="primary" type="filled" @click="confirmer()">Confirmer réservation</vs-button>
              
          </vs-row>
          </div>
        </vs-card>
      </div>
      <div class="accueil-bodysearch-themea" v-else>
        <vs-card style="padding: 20px; box-shadow: 0 0 0 10px rgb(255 255 255 / 15%), 0 2px 48px 0 rgb(0 0 0 / 4%); border-radius: 10px;">
          <p style="font-family: 'Jost', sans-serif; font-size: 20px;font-weight: 600;letter-spacing: 1px; color: greenyellow; text-decoration: underline;">Réservation Validée N° : <b style="color: blue">{{ref}}</b></p>
          <vs-divider/>
          <p style="margin-bottom: 1rem;font-family: 'Jost', sans-serif; font-size: 14px;letter-spacing: 1px; color: #383a4e;">Du <b>{{reservation.du}}</b>, à partir de 12h00</p>
          <p style="margin-bottom: 1rem; font-family: 'Jost', sans-serif; font-size: 14px;letter-spacing: 1px; color: #383a4e;">Au <b>{{reservation.au}}</b>, jusqu'à 12h00</p>
          <vs-icon style="position: absolute; margin-top: -80px; font-size: 70px; margin-left: 260px; color: greenyellow;" class="" size="20px" icon="done_all"></vs-icon>
          <vs-divider/>
          <p style="margin-bottom: 1rem;font-family: 'Jost', sans-serif; font-size: 20px;letter-spacing: 1px; color: #383a4e; background-color: greenyellow; padding: 9px;">Un agent vous contactera dans les <b>deux (2)</b> prochaines heures. </p>
        </vs-card>
      </div>
    </div>
    
    
    
  </div>
</template>

<script>
import axios from 'axios';
import { isMobile } from 'mobile-device-detect';
import HorizontalScroll from 'vue-horizontal-scroll'
import 'vue-horizontal-scroll/dist/vue-horizontal-scroll.css'
export default {
  name: 'Head',
  computed: {
    users() {
      return this.$store.state.users;
    },
    components: {
        HorizontalScroll
    }
  },
   data(){
    return {
      errorMessage: '',
      error: false,
      isMobile: isMobile,
      orangeOk: false,
      moovOk: false,
      waveOk: false,
      method: null,
      useri: {
        name: '',
        namee: '',
        email: '',
        prenom: '',
        contact: '',
        nbper: '',
        nbenf:'',
      taxi:'',
      },
       optionsnb: [{
          value: '1',
          label: '1 personne '
        }, {
          value: '2',
          label: '2 personnes'
        }, {
          value: '3',
          label: '3 personnes'
        }, {
          value: '4',
          label: '4 personnes'
        }, {
          value: '5',
          label: '5 personnes'
        }, {
          value: 'plus',
          label: 'plus'
        }],
        options: [{
          value: 'Option1',
          label: 'Option1'
        }, {
          value: 'Option2',
          label: 'Option2'
        }, {
          value: 'Option3',
          label: 'Option3'
        }, {
          value: 'Option4',
          label: 'Option4'
        }, {
          value: 'Option5',
          label: 'Option5'
        }],
        taxilist: [{
          value: 'Oui, Depuis l\'aéroport',
          label: 'Oui, Depuis l\'aéroport'
        }, {
          value: 'Oui, depuis une adresse',
          label: 'Oui, depuis une adresse'
        }, {
          value: 'Non',
          label: 'Non'
        }],
        value: '',
        payss: [],
      numeroOrange: null,
      reservation: null,
      validerreserve: true,
      ref:'',
      nom:'',
      nbper:'',
      nbenf:'',
      taxi:'',
      email:'',
      contact:'',
      message:'',
      nomr: '',
      prenomr:'',
       con: true,
       transaction: {
        cpm_site_id: "296911",
        signature: "4dfbf5b8f40818abffe754b8a8aa04e4d29af25f",
        cpm_amount: "11",
        cpm_trans_date: "04092017140045",
        cpm_trans_id: "50445985950",
        cpm_custom: "08373459U",
        cpm_currency: "XOF",
        cpm_payid: "MP170904.1401.A91088",
        cpm_payment_date: "2017-09-04",
        cpm_payment_time: "14:01:35",
        cpm_error_message: "SUCCES",
        payment_method: "OM",
        cpm_phone_prefixe: "225",
        cel_phone_num: "79557788",
        cpm_ipn_ack: "Y",
        created_at: "2017-09-04 14:00:54",
        updated_at: "2017-09-04 14:01:06",
        cpm_result: "00",
        cpm_trans_status: "ACCEPTED",
        cpm_designation: "Test",
        buyer_name: ""
    }

    }
  },
  methods: {
      formatPrice(value) {
        var formatter = new Intl.NumberFormat('xof', {
            style: 'currency',
            currency: 'CFA',
            minimumFractionDigits: 0
        });
        return formatter.format(value);
    },
    sendsms() {
      const data = {
              "grant_type":"client_credentials" 
            } 
      axios.post('https://api.orange.com/oauth/v3/token', data, {
        headers: {
          'Authorization': 'Basic UjFpcWpvaTZhN2pjTmdHUmt0QkRqWE9kc1NFcVVSM2Q6eXpob1pPcVpCZzR5QXZVMg==',
          'Content-Type': 'application/x-www-form-urlencoded',
        },
      })
      .then((response) => {
        console.log(response);
      }, (error) => {
        console.log(error);
      });
    },

    sendsmss() {
        const data = {
          "outboundSMSMessageRequest": {
                "address": "tel:+225" + this.useri.contact,
                "senderAddress":"tel:+2250102529831",
                "outboundSMSTextMessage": {
                  "message": "Bonjour Monsieur " + this.useri.name + ", votre réservation sur SAREZIDE à été enregistré.\nREF: " + this.ref + "\nNous vous contactons bientôt.\n www.sarezide.com"
                }
              }
            } 
      axios.post('https://api.orange.com/smsmessaging/v1/outbound/tel%3A%2B2250102529831/requests', data, {
        headers: {
          'Authorization': 'Bearer ImVuXQafgq6BCDATyTucOQXHiaZD',
          'Content-Type': 'application/json',
        },
      })
      .then((response) => {
        this.verif(response)
      }, (error) => {
        console.log(error);
      });
    },
    retour() {
      this.$router.push({ path: '/recherche'});
    },
    confirmer() {
      if(this.useri.name.length < 2 || this.useri.prenom.length < 2){
        this.errorMessage = 'Nom ou prenom incorrect'
        this.error = true;
      } else if(this.useri.email.length < 5) {
        this.errorMessage = 'Adresse email incorrect'
        this.error = true;
      } else if(this.useri.nbper == '' || this.useri.contact == '' || this.useri.taxi == '') {
        this.errorMessage = 'Certains champs sont vide'
        this.error = true;
      }  else if(this.nom.length < 5) {
        this.errorMessage = 'Entrez un nom correct'
        this.error = true;
      } else {
        this.verif();
      }

      
    },
    verif() {
      let formData = new FormData();
      formData.append('nom', this.useri.name);
      formData.append('contact', this.useri.contact);
      formData.append('email', this.useri.email);
      formData.append('prenom', this.useri.prenom);
      formData.append('nbper', this.useri.nbper);
      formData.append('nbenf', this.useri.nbenf);
      formData.append('taxi', this.useri.taxi);
      formData.append('ref', this.ref);
      this.$vs.loading({
        type:'point',
      })
       axios.post('https://autre.sarezide.com/sarezide_reservation_infos.php', formData)
       .then((response) => {
         this.envoi = true;
         this.validerreserve = false;
         console.log(response);
         setTimeout(function () {
        this.$vs.loading.close()}.bind(this), 1000);
        this.sendsms();
      })
      .catch(function (error) {
        console.log(error);
        this.$vs.loading.close()
      });
    },
    money(reseau) {
      if(reseau == 'orange') {
        this.orangeOk = true;
        this.moovOk = false;
        this.waveOk = false;
        this.method = "Orange Money";
      }
      if(reseau == 'moov') {
        this.orangeOk = false;
        this.moovOk = true;
        this.waveOk = false;
        this.method = "Moov Money";
      }
      if(reseau == 'wave') {
        this.orangeOk = false;
        this.moovOk = false;
        this.waveOk = true;
        this.method = "Wave";
      }
    },
    deconnexion() {
      this.$store.commit('Connexion', this.useri);
      this.users.name = '';
      this.$router.push({ path: '/about' });
    },

    getReservation() {
      this.$vs.loading({
        type:'point',
      })

      axios.get('https://autre.sarezide.com/sarezide_get_reservation.php?ref=' + this.$route.query.ref)
      .then((response) => {
        this.reservation = response.data.data[0];
        console.log(this.reservation)
        this.$vs.loading.close()
      }, (error) => {
        console.log(error);
        this.$vs.loading.close()
      });
    },

    getPays() {
      axios.get('https://restcountries.com/v2/all')
      .then((response) => {
        this.payss = response;
      }, (error) => {
        console.log(error);
      });
    },

    envoyera() {
     
       let formData = new FormData();
      formData.append('nom', this.nom);
      formData.append('contact', this.contact);
      formData.append('email', this.email);
      formData.append('message', this.message);
      this.$vs.loading({
        type:'point',
      })
       axios.post('https://autre.sarezide.com/envoyer.php', formData)
       .then((response) => {
         this.envoi = true;
         console.log(response);
         setTimeout(function () {
        this.$vs.loading.close()}.bind(this), 1000);
      })
      .catch(function (error) {
        console.log(error);
        this.$vs.loading.close()
      });
    },

  },

  mounted() {
      this.ref = this.$route.query.ref;
      this.getReservation();
      this.getPays();
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}

.vs-select--label {
    font-size: .85rem;
    color: rgba(0,0,0,.6);
}

</style>
