<template>
  <div class="corps">
    <div class=" zone-of-work" style="height: 97vh">
      <br>
        <div class="login-zone" style="">
            <h2>Créer un nouveau compte</h2>
            <p style="font-size: 14px; padding-top: 20px">Publiez gratuitement votre annonce pour faire connaitre votre résidence</p>
            <vs-card style="padding: 10px; margin: 20px 0px;">
                <span style="font-size: 18px">Inscription</span>
                <el-alert v-if="connexionOK"
                  :title="connexionMessage"
                  type="success"
                  effect="dark">
                </el-alert>
                <el-alert v-if="error"
                  :title="errorMessage"
                  type="error"
                  effect="dark">
                </el-alert>
                <el-alert v-if="connexionKO"
                  :title="connexionMessage"
                  type="error"
                  effect="dark">
                </el-alert>
                <vs-divider/>
                <div style="text-align: left" v-if="!connexionOK">
                 <vs-input style="margin: 25px auto; width: 60%;" icon-no-border icon="account_circle" label-placeholder="Nom & Prenom" v-model="nom"/>
                 <vs-input style="margin: 25px auto; width: 60%;" icon-no-border icon="email" label-placeholder="Adresse Email" v-model="email"/>
                 <vs-input style="margin: 25px auto; width: 60%;" icon-no-border icon="phone" label-placeholder="Contact Mobile" v-model="contact"/>
                 <vs-checkbox icon="whatsapp" color="success" v-model="check">Fonctionne avec WhatsApp</vs-checkbox>
                 <vs-input style="margin: 25px auto; width: 60%" icon-no-border icon="password" type="password" label-placeholder="Mot de passe" v-model="mdp"/>
                 <vs-button style="margin: 0 auto; width: 60%; display: block; margin-bottom: 15px" color="success" type="filled" @click="inscription()">Valider inscription</vs-button>
                 <router-link to="/login">
                  <vs-button style="margin: 25px auto; width: 60%; display: block;" type="filled">J'ai déjà un compte</vs-button>
                 </router-link>
                </div>
                <router-link to="/dashboard" v-if="connexionOK">
                    <vs-button color="success" type="border">Aller à mon espace</vs-button>
                </router-link>
            </vs-card>
        </div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import axios from 'axios';

export default {
  name: 'Web',
  data(){
    return {
      value7: '',
      check: false,
      numberOk: true,
      nom: '',
      email: '',
      contact: '',
      mdp: '',
      errorMessage: '',
      connexionData: null,
      connexionOK: false,
      error: false,
      connexionKO: false,
      connexionMessage: '',
    }
  },

  methods: {
    inscription() {
      if(this.email.length < 8){
        this.errorMessage = 'Email incorrect'
        this.error = true;
      } else if(this.contact.length != 10) {
        this.errorMessage = 'Le contact mobile doit être de 10 caractères'
        this.error = true;
      } else if(this.mdp.length < 8) {
        this.errorMessage = 'Mot de passe trop court, 8 carractères minimum'
        this.error = true;
      }  else if(this.nom.length < 5) {
        this.errorMessage = 'Entrez un nom correct'
        this.error = true;
      } else {
        this.valide();
      }

      
    },

    valide() {
      this.error = false;
      let formData = new FormData();
      formData.append('nom', this.nom);
      formData.append('email', this.email);
      formData.append('contact', this.contact);
      formData.append('mdp', this.mdp);
      this.$vs.loading({
        type:'point',
      })
      axios.post('https://autre.sarezide.com/sarezide_inscription.php', formData,)
      .then((response) => {
        this.verif(response);
        axios.post('envoie_mail_inscription.php?email=' + this.email)
      .then((response) => {
        console.log(response);
      }, (error) => {
        console.log(error);
      });
        this.$vs.loading.close()
      }, (error) => {
        console.log(error);
        this.$vs.loading.close()
      });
    },

    verif(data) {
        this.connexionKO = false;
         this.connexionOK = false;
       console.log(data);
       this.connexionMessage = data.data.mes
       if(data.data.valide == 1) {
         this.connexionKO = false;
         this.connexionOK = true;
       }
       if(data.data.valide == 2) {
         this.connexionKO = true;
         this.connexionOK = false;
       }
    }
  },
}
</script>
