<template>
  <div class="hello" style="background-color: #f2ffff;">
    <div class="accueil-bodyimg-themea">
        <div style="padding: 20px;">
          <center>
            <el-rate style="background: #ffffff4a; width: 140px; border-radius: 20px; margin: 50px;" v-model="rates"></el-rate>
            <h1 v-if="isMobile" class="accueil-bodytitle-themeamo">Bienvenue sur Sarezide</h1>
            <h1 v-else class="accueil-bodytitle-themea">Bienvenue sur Sarezide</h1>
            <h5 class="accueil-bodysubtitle-themea">Plateforme de réservation des résidences meublées en Afrique</h5>
          </center>
          <div v-if="isMobile" class="accueil-bodysearch-themea">
            <vs-card style="padding: 0px; box-shadow: 0 0 0 10px rgb(255 255 255 / 15%), 0 2px 48px 0 rgb(0 0 0 / 4%); border-radius: 15px;">
              <vs-row style="padding: 5px;">
                <vs-col v-tooltip="'col - 3'" vs-justify="center" vs-align="center" vs-w="6">
                  <div style="display: flex;">
                    <span style="font-size: 14px; letter-spacing:.5px; color: #64688c; padding: 15px 5px; font-family: 'Jost', sans-serif">Pays</span>
                    <vs-select
                      @change="choixpays()"
                      style="font-family: 'Jost', sans-serif"
                      class="select-zone web-search"
                      icon-after="true"
                      icon="location_city"
                      v-model="selectp"
                      >
                      <vs-select-item :key="index" :value="item.value" :text="item.text" v-for="item,index in optionsPays" />
                    </vs-select>
                  </div>
                </vs-col>
                <vs-col v-tooltip="'col - 3'" vs-justify="center" vs-align="center" vs-w="6" v-if="select1 == 'Abidjan'">
                  <div style="display: flex;">
                    <span style="font-size: 14px; letter-spacing:.5px; color: #64688c;padding: 15px 5px; font-family: 'Jost', sans-serif">Ville</span>
                    <vs-select
                      @change="choixvilles()"
                      style="font-family: 'Jost', sans-serif"
                      class="select-zone web-search"
                      icon-after="true"
                      icon="location_city"
                      v-model="select1"
                      >
                      <vs-select-item :key="index" :value="item.libelle" :text="item.libelle" v-for="item,index in options1" />
                    </vs-select>
                  </div>
                </vs-col>
                <vs-col v-tooltip="'col - 3'" vs-justify="center" vs-align="center" vs-w="6">
                  <div style="display: flex;">
                    <span style="font-size: 14px; letter-spacing:.5px; color: #64688c;padding: 15px 5px; font-family: 'Jost', sans-serif">Zone</span>
                    <vs-select
                      style="font-family: 'Jost', sans-serif"
                      class="select-zone web-search"
                      icon-after="true"
                      icon="location_city"
                      v-model="select2"
                      >
                      <vs-select-item :key="index" :value="item.libelle" :text="item.libelle" v-for="item,index in options2" />
                    </vs-select>
                  </div>
                </vs-col>
                <vs-col v-tooltip="'col - 3'" vs-justify="center" vs-align="center" vs-w="6">
                  <div style="display: flex;">
                    <span style="font-size: 14px; letter-spacing:.5px; color: #64688c;padding: 15px 5px; font-family: 'Jost', sans-serif">Types</span>
                    <vs-select
                      style="font-family: 'Jost', sans-serif"
                      class="select-zone web-search"
                      icon-after="true"
                      icon="dynamic_feed"
                      v-model="select3"
                      >
                      <vs-select-item :key="index" :value="item.text" :text="item.text" v-for="item,index in options3" />
                    </vs-select>
                  </div>
                </vs-col>
                <vs-col v-tooltip="'col - 3'" vs-justify="center" vs-align="center" vs-w="1">
                  
                </vs-col>
                <vs-col v-tooltip="'col - 3'" vs-justify="center" vs-align="center" vs-w="10">
                  <div style="display: flex;">
                    <vs-button @click="rechercheResidencesWeb()" style="width: 100%;" color="primary" type="filled">Recherche</vs-button>
                  </div>
                </vs-col>
                <vs-col v-tooltip="'col - 3'" vs-justify="center" vs-align="center" vs-w="1">
                  
                </vs-col>
              </vs-row>
            </vs-card>
          </div>
          <div v-else class="accueil-bodysearch-themea">
            <vs-card style="padding: 0px; box-shadow: 0 0 0 10px rgb(255 255 255 / 15%), 0 2px 48px 0 rgb(0 0 0 / 4%); border-radius: 35px;">
              <vs-row style="padding: 5px;">
                <vs-col v-tooltip="'col - 3'" vs-justify="center" vs-align="center" vs-w="2.3">
                  <div style="display: flex;">
                    <span style="font-size: 14px; letter-spacing:.5px; color: #64688c;padding: 15px; font-family: 'Jost', sans-serif">Pays</span>
                    <vs-select
                      @change="choixpays()"
                      style="font-family: 'Jost', sans-serif"
                      class="select-zone web-search"
                      icon-after="true"
                      icon="location_city"
                      v-model="selectp"
                      >
                      <vs-select-item :key="index" :value="item.value" :text="item.text" v-for="item,index in optionsPays" />
                    </vs-select>
                  </div>
                </vs-col>
                <vs-col v-tooltip="'col - 3'" vs-justify="center" vs-align="center" vs-w="2.9">
                  <div style="display: flex;">
                    <span style="font-size: 14px; letter-spacing:.5px; color: #64688c;padding: 15px; font-family: 'Jost', sans-serif">Ville</span>
                    <vs-select
                      @change="choixvilles()"
                      style="font-family: 'Jost', sans-serif"
                      class="select-zone web-search"
                      icon-after="true"
                      icon="location_city"
                      v-model="select1"
                      >
                      <vs-select-item :key="index" :value="item.libelle" :text="item.libelle" v-for="item,index in options1" />
                    </vs-select>
                  </div>
                </vs-col>
                <vs-col v-tooltip="'col - 3'" vs-justify="center" vs-align="center" vs-w="2.9">
                  <div style="display: flex;">
                    <span style="font-size: 14px; letter-spacing:.5px; color: #64688c;padding: 15px; font-family: 'Jost', sans-serif">Zone</span>
                    <vs-select
                      style="font-family: 'Jost', sans-serif"
                      class="select-zone web-search"
                      icon-after="true"
                      icon="location_city"
                      v-model="select2"
                      >
                      <vs-select-item :key="index" :value="item.libelle" :text="item.libelle" v-for="item,index in options2" />
                    </vs-select>
                  </div>
                </vs-col>
                <vs-col v-tooltip="'col - 3'" vs-justify="center" vs-align="center" vs-w="2.9">
                  <div style="display: flex;">
                    <span style="font-size: 14px; letter-spacing:.5px; color: #64688c;padding: 15px; font-family: 'Jost', sans-serif">Types</span>
                    <vs-select
                      style="font-family: 'Jost', sans-serif"
                      class="select-zone web-search"
                      icon-after="true"
                      icon="dynamic_feed"
                      v-model="select3"
                      >
                      <vs-select-item :key="index" :value="item.text" :text="item.text" v-for="item,index in options3" />
                    </vs-select>
                  </div>
                </vs-col>
                
                <vs-col v-tooltip="'col - 3'" vs-justify="center" vs-align="center" vs-w="1">
                  <div style="display: flex;">
                    <vs-button @click="rechercheResidencesWeb()" radius color="primary" type="filled" icon="search" style="margin: 6px"></vs-button>
                  </div>
                </vs-col>
              </vs-row>
            </vs-card>
          </div>
            
          <div v-if="isMobile" class="accueil-bodyservice-themea">
            <vs-card style="padding: 0px; border-radius: 20px;">
              <vs-row>
                <vs-col v-tooltip="'col - 3'" vs-justify="center" vs-align="center" vs-w="6" style="padding: 10px;">
                 <div class="accueil-bodyserviceitem-themea">
                  <center><img src="../assets/un-meuble.png" width="50"></center>
                  <span style="letter-spacing: 1px;">+1000 Résidences</span>
                 </div>
                </vs-col>
                <vs-col v-tooltip="'col - 3'" vs-justify="center" vs-align="center" vs-w="6" style="padding: 10px;">
                 <div class="accueil-bodyserviceitem-themea">
                  <center><img src="../assets/taxi.png" width="50"></center>
                  <span style="letter-spacing: 1px;">Un Taxi de courses</span>
                 </div>
                </vs-col>
                <vs-col v-tooltip="'col - 3'" vs-justify="center" vs-align="center" vs-w="6" style="padding: 10px;">
                 <div class="accueil-bodyserviceitem-themea">
                  <center><img src="../assets/guide-touristique.png" width="50"></center>
                  <span style="letter-spacing: 1px;">Un Guide dedié</span>
                 </div>
                </vs-col>
                <vs-col v-tooltip="'col - 3'" vs-justify="center" vs-align="center" vs-w="6" style="padding: 10px;">
                 <div class="accueil-bodyserviceitem-themea">
                  <center><img src="../assets/chef-de-projet.png" width="50"></center>
                  <span style="letter-spacing: 1px;">Gestion de résidences</span>
                 </div>
                </vs-col>
              </vs-row>
            </vs-card>
            <div class="card-nav" style="padding: 15px">
              <span style="letter-spacing: 1px; font-size: 15px; text-align: center; font-weight: bold; font-family: 'Jost', sans-serif;">Besoin d'assistance dans votre choix ?</span>
              <p style="color: blue; font-size: 20px; text-align: center; font-weight: bold; padding-top: 8px">
                <vs-icon icon="phone" style="font-size: 15px"></vs-icon> +225 07 89 29 43 09
              </p>
            </div>
            
            <div style="margin-top: 15px; max-width: 420px;">
              <span style="font-size: 12px; padding: 5px; display: block; color: rgb(255, 166, 3)">Trouvez les résidences des zones suivantes : </span>
              <carousel :per-page="3"  :mouse-drag="false" :navigationEnabled="true" :autoplay="true" paginationActiveColor="#ff9800">
                
                <slide>
                  <div class="item_localisation">
                    <img src="../assets/dplateau.png" width="100%">
                    <center>
                      <span style="color: gray; text-align: center; font-size: 13px">II Plateaugggg</span>
                    </center>
                  </div>
                </slide>
                <slide>
                  <div class="item_localisation">
                    <img src="../assets/riviera.png" width="100%">
                    <center>
                      <span style="color: gray; text-align: center; font-size: 13px">Riviéra</span>
                    </center>
                  </div>
                </slide>
                <slide>
                  <div class="item_localisation">
                    <img src="../assets/angre.png" width="100%">
                    <center>
                      <span style="color: gray; text-align: center; font-size: 13px">Angré</span>
                    </center>
                  </div>
                </slide>
                <slide>
                  <div class="item_localisation">
                    <img src="../assets/yop.png" width="100%">
                    <center>
                      <span style="color: gray; text-align: center; font-size: 13px">Yopougon</span>
                    </center>
                  </div>
                </slide>
                <slide>
                  <div class="item_localisation">
                    <img src="../assets/cocody.png" width="100%">
                    <center>
                      <span style="color: gray; text-align: center; font-size: 13px">Cocody</span>
                    </center>
                  </div>
                </slide>
                
              </carousel>
            </div>
            
          </div>

          <div v-else class="accueil-bodyservice-themea">
            <vs-card style="padding: 0px; border-radius: 20px;">
              <vs-row>
                <vs-col v-tooltip="'col - 3'" vs-justify="center" vs-align="center" vs-w="3" style="padding: 10px;">
                 <div class="accueil-bodyserviceitem-themea">
                  <center><img src="../assets/un-meuble.png" width="50"></center>
                  <span style="letter-spacing: 1px;">+1000 Résidences</span>
                 </div>
                </vs-col>
                <vs-col v-tooltip="'col - 3'" vs-justify="center" vs-align="center" vs-w="3" style="padding: 10px;">
                 <div class="accueil-bodyserviceitem-themea">
                  <center><img src="../assets/taxi.png" width="50"></center>
                  <span style="letter-spacing: 1px;">Un Taxi pour vos courses</span>
                 </div>
                </vs-col>
                <vs-col v-tooltip="'col - 3'" vs-justify="center" vs-align="center" vs-w="3" style="padding: 10px;">
                 <div class="accueil-bodyserviceitem-themea">
                  <center><img src="../assets/guide-touristique.png" width="50"></center>
                  <span style="letter-spacing: 1px;">Un Guide dedié</span>
                 </div>
                </vs-col>
                <vs-col v-tooltip="'col - 3'" vs-justify="center" vs-align="center" vs-w="3" style="padding: 10px;">
                 <div class="accueil-bodyserviceitem-themea">
                  <center><img src="../assets/chef-de-projet.png" width="50"></center>
                  <span style="letter-spacing: 1px;">Gestion de vos résidences</span>
                 </div>
                </vs-col>
              </vs-row>
            </vs-card>
          </div>
          <div v-if="!isMobile" class="accueil-bodyservice-themea" style="padding: 0; margin-top: -60px;">
            <span style="font-weight: 600; letter-spacing: 1px; font-size: 24px; text-align: left; font-family: 'Jost', sans-serif;">Pays</span>
            <vs-row style="margin-top: 15px;">
              <vs-col v-tooltip="'col - 3'" vs-type="grid" vs-justify="center" vs-align="center" vs-w="3">
                <div class="zone-recherche-accueil" style="display: grid" @click="rechercheResidencesZone('Grand-Bassam')">
                  <img src="https://tourismecotedivoire.ci/wp-content/uploads/2022/01/270721478_4168097839957588_122662370210474426_n.jpg" width="100%" height="150" style="padding-right: 5px; border-radius: 8px;">
                  <span style="padding-top: 13px; font-weight: bold; font-family: 'Jost', sans-serif;">Côte d'Ivoire</span>
                  <span  style="padding-top: 2px; font-size: 12px; color: gray; font-family: 'Jost', sans-serif;">175</span>
                </div>
              </vs-col>
              <vs-col v-tooltip="'col - 3'" vs-type="grid" vs-justify="center" vs-align="center" vs-w="3">
                <div class="zone-recherche-accueil" style="display: grid" @click="rechercheResidencesZone('Abidjan')">
                  <img src="https://static.latribune.fr/schema_org/1314907/bamako-mali.jpg" width="100%" height="150" style="padding-right: 5px; border-radius: 8px; padding-left: 5px">
                  <span style="padding-top: 13px; font-weight: bold; font-family: 'Jost', sans-serif;">Mali</span>
                  <span  style="padding-top: 2px; font-size: 12px; color: gray; font-family: 'Jost', sans-serif;">1 329</span>
                </div>
              </vs-col>
              <vs-col v-tooltip="'col - 3'" vs-type="grid" vs-justify="center" vs-align="center" vs-w="3">
                <div class="zone-recherche-accueil" style="display: grid" @click="rechercheResidencesZone('Yamoussoukro')">
                  <img src="https://www.afd.fr/sites/afd/files/styles/visuel_principal/public/imported-files/Rond-poit-de-la-provine-%C3%A0-Nlongkak.jpg?itok=9n5dP8Wu" width="100%" height="150" style="padding-right: 5px; border-radius: 8px; padding-left: 5px">
                  <span style="padding-top: 13px; font-weight: bold; font-family: 'Jost', sans-serif;">Caméroune</span>
                  <span  style="padding-top: 2px; font-size: 12px; color: gray; font-family: 'Jost', sans-serif;">36</span>
                </div>
              </vs-col>
              <vs-col v-tooltip="'col - 3'" vs-type="grid" vs-justify="center" vs-align="center" vs-w="3">
                <div class="zone-recherche-accueil" style="display: grid" @click="rechercheResidencesZone('Bouaké')">
                  <img src="https://cdn.budgetyourtrip.com/images/photos/headerphotos/large/senegal_dakar.jpg" width="100%" height="150" style="padding-left: 5px; border-radius: 8px;">
                  <span style="padding-top: 13px; font-weight: bold; font-family: 'Jost', sans-serif;">Sénégal</span>
                  <span  style="padding-top: 2px; font-size: 12px; color: gray; font-family: 'Jost', sans-serif;">104</span>
                </div>
              </vs-col>
            </vs-row>
            
            <vs-card style="padding: 0px; border-radius: 20px;">
              
            </vs-card>
            
            
          </div>
          <div v-if="!isMobile" class="accueil-bodyservice-themea" style="padding: 0; margin-top: -60px;">
            <span style="font-weight: 600; letter-spacing: 1px; font-size: 24px; text-align: left; font-family: 'Jost', sans-serif;">Ville</span>
           
            <vue-glide perView="6">
                <vue-glide-slide style="margin-top: 15px;" v-for="villee in ville" :key="villee.id_ville">
                 <div v-if="villee.code == locateid.data.country" style="display: grid; width: 12%; padding: 3px;" @click="rechercheResidencesZone(villee.libelle)">
                   <img :src="villee.png" height="120" style="padding-right: 5px; border-radius: 8px;">
                   <span style="padding-top: 13px; font-weight: bold; font-family: 'Jost', sans-serif;">{{villee.libelle}}</span>
                   <span  style="padding-top: 2px; font-size: 12px; color: gray; font-family: 'Jost', sans-serif;">175</span>
                 </div>
                </vue-glide-slide>
                <vue-glide-slide>B</vue-glide-slide>
                <vue-glide-slide>C</vue-glide-slide>
                <vue-glide-slide>D</vue-glide-slide>
                <vue-glide-slide>E</vue-glide-slide>
                <vue-glide-slide>F</vue-glide-slide>
              </vue-glide>
            
            
            <vs-card style="padding: 0px; border-radius: 20px;">
             
            </vs-card>
            
            
          </div>

          
          <div v-if="isMobile" class="accueil-bodycard-themea">
            <vs-card style="padding: 0px; border-radius: 20px; padding-bottom: -40px;">
              <vs-row>
                <vs-col v-tooltip="'col - 3'" vs-justify="center" vs-align="center" vs-w="12" style="padding-bottom: 0px; padding-right: 0px;">
                  <center><img src="../assets/test14.jpg" style="width: 100%; border-top-left-radius: 12px; border-top-right-radius: 12px;"></center>
                </vs-col>
                <vs-col v-tooltip="'col - 3'" vs-justify="center" vs-align="center" vs-w="12">
                 <div class="accueil-bodycarditem-themeamo">
                  <span style="letter-spacing: 1px; font-size: 28px; text-align: left; font-family: 'Jost', sans-serif;">Ou aller en vaccance<br> en Afrique ?</span>
                  <p style="text-align: left; padding-top: 15px;" class="accueil-bodycarditemtext-themea">Pourquoi ne pas choisir la côte d'ivoire et visiter les villages baoulés, les objets d'arts des anciens royaumes, ainsi que les plages d'Assinies et Bassam </p>
                  <center><vs-button style="width: 300px; margin-top: 30px" color="primary" class="headers-right-button-themea" type="filled">Choisir la Côte d'Ivoire</vs-button></center>
                </div>
                </vs-col>
              </vs-row>
              <vs-row>
                <vs-col v-tooltip="'col - 3'" vs-justify="center" vs-align="center" vs-w="12">
                  <center><img src="https://images.pexels.com/photos/4606336/pexels-photo-4606336.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" style="width: 100%; margin-top: -3px;"></center>
                </vs-col>
                <vs-col v-tooltip="'col - 3'" vs-justify="center" vs-align="center" vs-w="12" style="padding: 10px; padding-top: 0px; padding-left: 0px; padding-bottom: 0px;">
                  <div class="accueil-bodycarditem-themeamo">
                    <span style="letter-spacing: 1px; font-size: 28px; text-align: left; font-family: 'Jost', sans-serif;">Tous vos deplacements<br> avec nos taxi ?</span>
                    <p style="text-align: left; padding-top: 15px;" class="accueil-bodycarditemtext-themea">Pour vos deplaccements nous vous proposons un service taxi pour vous accompagner et vous guider vers les meilleurs endroits ( Site touristique, Restaurant, Espaces de jeux .. )</p>
                    <center><vs-button style="width: 300px; margin-top: 30px" color="primary" class="headers-right-button-themea" type="filled">Plus d'infos</vs-button></center>
                  </div>
                </vs-col>
                
              </vs-row>
            </vs-card>
          </div>
          <div v-else class="accueil-bodycard-themea">
            <vs-card style="padding: 0px; border-radius: 20px; padding-bottom: -40px;">
              <vs-row>
                <vs-col v-tooltip="'col - 3'" vs-justify="center" vs-align="center" vs-w="6" style="padding: 10px; padding-bottom: 0px; padding-right: 0px;">
                  <center><img src="../assets/test14.jpg" style="width: 100%; border-top-left-radius: 12px;"></center>
                </vs-col>
                <vs-col v-tooltip="'col - 3'" vs-justify="center" vs-align="center" vs-w="6">
                 <div class="accueil-bodycarditem-themea">
                  <span style="letter-spacing: 1px; font-size: 38px; text-align: left; font-family: 'Jost', sans-serif;">Ou aller en vaccance<br> en Afrique ?</span>
                  <p style="text-align: left; padding-top: 15px;" class="accueil-bodycarditemtext-themea">Pourquoi ne pas choisir la côte d'ivoire et visiter les villages baoulés, les objets d'arts des anciens royaumes, ainsi que les plages d'Assinies et Bassam </p>
                  <vs-button style="width: 300px; margin-top: 30px" color="primary" class="headers-right-button-themea" type="filled">Choisir la Côte d'Ivoire</vs-button>
                </div>
                </vs-col>
              </vs-row>
              <vs-row>
                <vs-col v-tooltip="'col - 3'" vs-justify="center" vs-align="center" vs-w="6" style="padding: 10px; padding-top: 0px; padding-left: 0px; padding-bottom: 0px;">
                  <div class="accueil-bodycarditem-themea">
                    <span style="letter-spacing: 1px; font-size: 38px; text-align: left; font-family: 'Jost', sans-serif;">Tous vos deplacements<br> avec nos taxi ?</span>
                    <p style="text-align: left; padding-top: 15px;" class="accueil-bodycarditemtext-themea">Pour vos deplacements nous vous proposons un service taxi pour vous accompagner et vous guider vers les meilleurs endroits ( Site touristique, Restaurant, Espaces de jeux .. )</p>
                    <vs-button style="width: 300px; margin-top: 30px" color="primary" class="headers-right-button-themea" type="filled">Plus d'infos</vs-button>
                  </div>
                </vs-col>
                <vs-col v-tooltip="'col - 3'" vs-justify="center" vs-align="center" vs-w="6" style="padding-right: 10px;">
                  <center><img src="https://images.pexels.com/photos/4606336/pexels-photo-4606336.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" style="width: 100%; border-bottom-right-radius: 12px; margin-top: -3px;"></center>
                </vs-col>
              </vs-row>
            </vs-card>
            
          </div>
          
        </div>
        <Footer style="margin-top: 50px" class="footer"/>
    </div>
      
      
    <div class="head-head-resid" v-if="isMobile">
        <div class="zone-of-work-mobile">
         
      <vs-divider  />
     
      </div>
    </div>
    
    <div v-else style="position: relative;">
      
    </div>
     <!-- 
      <div class="bann">
      <div class="recherche-block">
        <p class="fntt">.</p>
      </div>
      </div>
      <div  style="margin: -190px auto; width: 800px; margin-bottom: 20px">
        <h1 class="fnt">Trouvez votre chic <span style="color: orange">résidence</span></h1>
        <vs-row style="background: white; width: 70%; padding: 5px; border-radius: 35px; border-bottom: 4px solid rgb(255, 152, 0); margin: -20px auto">
          <vs-col v-tooltip="'col - 3'" vs-type="flex" vs-align="center" vs-w="1">
          </vs-col>
          <vs-col v-tooltip="'col - 3'" vs-type="flex" vs-align="center" vs-w="4">
            <vs-select
              class="select-zone web-search"
              label="Ville"
              v-model="select1"
              >
              <vs-select-item :key="index" :value="item.text" :text="item.text" v-for="item,index in options1" />
            </vs-select>
          </vs-col>

          <vs-col v-tooltip="'col - 3'" vs-type="flex" vs-align="center" vs-w="4" v-if="select1=='Abidjan'">
          <vs-select
              
              class="select-zone web-search"
              label="Commune/Zone"
              v-model="select2"
              >
              <vs-select-item :key="index" :value="item.text" :text="item.text" v-for="item,index in options2" />
            </vs-select>
            
          </vs-col>
          <vs-col v-tooltip="'col - 3'" vs-type="flex" vs-align="center" vs-w="2">
            <vs-button class="select-zone-button" color="primary" type="relief" @click="rechercheResidencesWeb()" style="padding: 14px; font-size: 15px; background: rgb(255, 166, 3)">Recherche</vs-button>
          </vs-col>
           <vs-col v-tooltip="'col - 3'" vs-type="flex" vs-align="center" vs-w="1">
           </vs-col>
        </vs-row>
      </div>
      <div class="zone-of-work" style="margin: 90px auto">
        <center>

        <vs-row>
            <vs-col v-tooltip="'col - 3'" vs-type="block" vs-align="center" vs-w="2.4" style="padding-top: 20px; padding-left: 10px">
              <a href="" @click="ChoixVille('II Plateau')">
              <vs-chip color="dark" style="position: absolute; margin: 10px 5px; background: white; color: black">
                <vs-avatar icon="location_on" style="background: orange"/>
                II Plateaux
              </vs-chip>
              <img src="../assets/dplateau.png" width="100%">
              </a>
            </vs-col>
            <vs-col v-tooltip="'col - 3'" vs-type="block" vs-align="center" vs-w="2.4" style="padding-top: 20px; padding-left: 10px">
              <a href="" @click="ChoixVille('Riviera')">
              <vs-chip color="dark" style="position: absolute; margin: 10px 5px; background: white; color: black">
                <vs-avatar icon="location_on" style="background: orange"/>
                Riviera
              </vs-chip>
              <img src="../assets/riviera.png" width="100%">
              </a>
            </vs-col>
            <vs-col v-tooltip="'col - 3'" vs-type="block" vs-align="center" vs-w="2.4" style="padding-top: 20px; padding-left: 10px">
              <a href="" @click="ChoixVille('Angré')">
              <vs-chip color="dark" style="position: absolute; margin: 10px 5px; background: white; color: black">
                <vs-avatar icon="location_on" style="background: orange"/>
                Angre
              </vs-chip>
              <img src="../assets/angre.png" width="100%">
              </a>
            </vs-col>
            <vs-col v-tooltip="'col - 3'" vs-type="block" vs-align="center" vs-w="2.4" style="padding-top: 20px; padding-left: 10px">
              <a href="" @click="ChoixVille('Yopougon')">
              <vs-chip color="dark" style="position: absolute; margin: 10px 5px; background: white; color: black">
                <vs-avatar icon="location_on" style="background: orange"/>
                Yopougon
              </vs-chip>
              <img src="../assets/yop.png" width="100%">
              </a>
            </vs-col>
           <vs-col v-tooltip="'col - 3'" vs-type="block" vs-align="center" vs-w="2.4" style="padding-top: 20px; padding-left: 10px">
              <a href="" @click="ChoixVille('Cocody')">
              <vs-chip color="dark" style="position: absolute; margin: 10px 5px; background: white; color: black">
                <vs-avatar icon="location_on" style="background: orange"/>
                Cocody
              </vs-chip>
              <img src="../assets/cocody.png" width="100%">
              </a>
            </vs-col>
        </vs-row>

        </center>

        <vs-row>
            <vs-col v-tooltip="'col - 3'" vs-type="flex" vs-align="center" vs-w="6" style="padding-top: 20px; padding-right: 10px">
              <el-card shadow="always" style="width: 100%">
                  <h2 class="fnto"><vs-icon icon="location_on" size="small" color="#b85f26"></vs-icon> <b style="color: #b85f26; font-weight: 900">Sa</b> <b style="color: #ffa100; font-weight: 900">Rezide</b> partout en Côte d’Ivoire</h2>
                  <h2 style="text-align: center; color: gray">Abidjan, Assinie, Bassam, Yamoussoukro..</h2>
                </el-card>
            </vs-col>
            <vs-col v-tooltip="'col - 3'" vs-type="flex" vs-align="center" vs-w="6" style="padding-top: 20px; padding-left: 10px">
               <el-card shadow="always" style="width: 100%">
                  <h2 class="fnto">Laissez-nous vous assister dans votre choix</h2>
                  <h2 style="color: orange; text-align: center"><vs-icon icon="phone" size="small" color="orange"></vs-icon> +225 07 89 29 43 09</h2>
                </el-card>
            </vs-col>
        </vs-row>

        <vs-row>
            <vs-col v-tooltip="'col - 3'" vs-type="flex" vs-align="center" vs-w="6" style="padding-top: 20px; padding-right: 10px">
              <vs-chip color="dark" style="position: absolute; margin: 10px 5px; background: white; color: black">
                <vs-avatar icon="location_on" style="background: orange"/>
                Résidence Meublée <span style="color: orange"> -ASSINIE</span>
              </vs-chip>
              <img src="../assets/qs.png" width="100%">
            </vs-col>
            <vs-col v-tooltip="'col - 3'" vs-type="flex" vs-align="center" vs-w="6" style="padding-top: 20px; padding-left: 10px">
               <vs-chip color="dark" style="position: absolute; margin: 10px 5px; background: white; color: black">
                <vs-avatar icon="location_on" style="background: orange"/>
                Résidence Meublée <span style="color: orange"> -BASSAM</span>
              </vs-chip>
              <img src="../assets/sq.png" width="100%">
            </vs-col>
        </vs-row>
    </div>
     
    </div>
    -->
    
    
  </div>
</template>

<script>
import Footer from '@/components/Footer.vue'
import axios from 'axios';
import { isMobile } from 'mobile-device-detect';
export default {
  name: 'Head',
  computed: {
    users() {
      return this.$store.state.users;
    }
  },
   components: {
    Footer,
  },
  data(){
    return {
      rates: 5,
      price: 15000,
      count: 0,
      isMobile: isMobile,
      useri: {
        name: '',
        email: '',
        contact: '',
      },
      recherchelance: false,
      suite: 'true',
      row: 0,
      chercheOK: true,
      residS:false,
      select1:'Abidjan',
      selectp:'Abidjan',
      select2:'Toutes les zones',
      select3:'Tous types',
      select4:'Nombre',
      ville: null,
      zobe: null,
      residences: null,
      residencesn: null,
      nbresid: null,
       options1:null,
      optionsPays:[
        {text:'Côte d\'Ivoire',value:'CI'},
        //{text:'Mali',value:'ML'},
        //{text:'Caméroune',value:'CM'},
        //{text:'Sénégal',value:'SN'},
      ],
      options2:[],
      locateid: null,
      ip: null,
      options3:[
        {text:'Tous types',value:0},
        {text:'STUDIO',value:1},
        {text:'2 PIECES',value:2},
        {text:'3 PIECES',value:3},
        {text:'4 PIECES',value:4},
        {text:'PLUS',value:5},
      ],
      options4:[
        {text:'Nombre',value:0},
        {text:'1',value:1},
        {text:'2',value:2},
        {text:'3',value:3},
        {text:'4',value:4},
        {text:'5',value:4},
        {text:'6',value:4},
        {text:'7',value:4},
        {text:'8',value:4},
        {text:'9',value:4},
        {text:'10',value:4},
        {text:'Plus 10',value:4},
      ],
       con: true,
       villeImg: null,
    }
  },
  methods: {
    load () {
        this.$vs.loading({
        type:'point',
        })
        axios.get('https://autre.sarezide.com/get_residence_nextw.php?id='+ this.row)
        .then((response) => {
          this.residencesn = response.data.data;
          this.row = this.residencesn[this.residencesn.length - 1].id_resid;
          this.suite = response.data.suite;
          this.residencesn.forEach((item) => {
            this.residences.push( item );
          })
          this.$vs.loading.close()
          console.log(this.residences)
        }, (error) => {
          console.log(error);
          this.$vs.loading.close()
        });
    },

    loadr () {
        if(this.select1 !== 'Abidjan') {
        this.select2 = 'Toutes les zones'
      }
      this
     
       let formData = new FormData();
      formData.append('pays', this.selectp);
      formData.append('ville', this.select1);
      formData.append('zone', this.select2);
      formData.append('type', this.select3);
      formData.append('id', this.row);
      this.$vs.loading({
        type:'point',
      })
       axios.post('https://autre.sarezide.com/sarezide_recherche_residm_suitesw.php', formData)
       .then((response) => {
         this.recherchelance = true;
          this.residencesn = response.data.data;
          this.row = this.residencesn[this.residencesn.length - 1].id_resid;
          this.suite = response.data.suite;
          this.residencesn.forEach((item) => {
            this.residences.push( item );
          })
         console.log(this.residences);
         setTimeout(function () {
        this.$vs.loading.close()}.bind(this), 1000);
      })
      .catch(function (error) {
        console.log(error);
        this.$vs.loading.close()
      });
    },

    deconnexion() {
      this.$store.commit('Connexion', this.useri);
      this.users.name = '';
      this.$router.push({ path: '/recherche' });
    },

    getVille() {
      this.$vs.loading({
        type:'point',
      })
      axios.get('https://autre.sarezide.com/sarezide_get_ville.php')
      .then((response) => {
        this.ville = response.data.data;
        this.villeImg = response.data.data;
        console.log(this.ville);
        this.$vs.loading.close()
      }, (error) => {
        console.log(error);
        this.$vs.loading.close()
      });
      
      
    },

    getResidences() {
      this.$vs.loading({
        type:'point',
      })
      axios.get('https://autre.sarezide.com/sarezide_get_residencew.php')
      .then((response) => {
        this.residences = response.data.data;
        this.row = this.residences[this.residences.length - 1].id_resid;
        this.nbresid = response.data.nb;
        this.$vs.loading.close()
      }, (error) => {
        console.log(error);
        this.$vs.loading.close()
      });
    },

    rechercheResidences() {
      this.$router.push({ path: '/recherche', query: { type: this.select3, ville: this.select1, zone: this.select2, pays: this.selectp} });
    },

    rechercheResidencesWeb() {
      this.$router.push({ path: '/recherche', query: { type: this.select3, ville: this.select1, zone: this.select2, pays: this.selectp} });
    },

    rechercheResidencesZone(a) {
      this.$router.push({ path: '/recherche', query: { type: this.select3, ville: a, zone: this.select2, pays: this.selectp} });
    },

    ChoixVille(n) {
      this.$router.push({ path: '/recherche', query: { type: this.select3, ville: 'Abidjan', zone: n, pays: this.selectp} });
    },

    getZone() {
      this.$vs.loading({
        type:'point',
      })
      axios.get('https://autre.sarezide.com/sarezide_get_zone.php')
      .then((response) => {
        this.zone = response.data.data;
        console.log(this.ville);
        this.$vs.loading.close()
      }, (error) => {
        console.log(error);
        this.$vs.loading.close()
      });
    },

    getVilleLocal() {
       let formData = new FormData();
      formData.append('code', 'CI');
      this.$vs.loading({
        type:'point',
      })
       axios.post('https://autre.sarezide.com/sarezide_get_villee.php', formData)
       .then((response) => {
          this.villeImg = response.data.data;
        this.$vs.loading.close()
        })
      .catch(function (error) {
        console.log(error);
        this.$vs.loading.close()
      });
    },

    getZonea(a) {
      console.log(this.select1);  
      this.$vs.loading({
        type:'point',
      })
      axios.get('https://autre.sarezide.com/sarezide_get_zone.php?resid=' + a)
      .then((response) => {
        this.zone = response.data.data;
        console.log(this.zone);
        this.$vs.loading.close()
      }, (error) => {
        console.log(error);
        this.$vs.loading.close()
      });
    },

    locate() {
      axios.get('https://api.country.is/')
      .then((response) => {
        this.locateid = response;
        if(response.data.country == 'SN') {
          this.selectp = 'SN'
        }
        else if(response.data.country == 'CM') {
          this.selectp = 'CM'
        }
        else if(response.data.country == 'ML') {
          this.selectp = 'ML'
        }
        else {
          this.selectp = 'CI'
        }
        this.selectp = 'CI';
      }, (error) => {
        console.log(error);
      });
      
    },

    choixpays() {
      this.options1 = [];
      
      this.ville.forEach((item) => {
        if(item.code == this.selectp){
            this.options1.push( item );
          }
          })
        this.select1 = this.options1[0].libelle;
        this.choixvilles();
    },

    ValideVillle() {
      this.options1 = [];

      this.villeImg.forEach((item) => {
        if(item.code == this.selectp){
            this.options1.push( item );
          }
          })
        this.select1 = this.$route.query.ville;
    },

    choixvilles() {
      axios.get('https://autre.sarezide.com/sarezide_get_zone.php?resid='+this.select1)
      .then((response) => {
        this.zone = response.data.data;
        this.zone.forEach((item) => {
        if(item.ville == this.select1){
            this.options2.push( item );
          }
          })
          this.select2 = this.options2[0].libelle;
        this.$vs.loading.close()
      }, (error) => {
        console.log(error);
        this.$vs.loading.close()
      });
      this.options2 = [];
      
      this.zone.forEach((item) => {
        if(item.ville == this.select1){
            this.options2.push( item );
          }
          })
        this.select2 = this.options2[0].libelle;
    }

  },

  mounted() {
    this.locate();
    this.getVille();
    this.getResidences();
    
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
.hello {
  background: #f2ffff;
}
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}

.vs-select--label {
    font-size: .85rem;
    color: rgba(0,0,0,.6);
}

.fnt {
  font-family: 'Dancing Script', cursive;
  text-align: center;
  padding-bottom: 5px;  
  background: white;
  width: 400px;
  border-radius: 40%;
  padding: 20px;
  margin: 0 auto
}

.fnto{
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  padding-bottom: 5px
}

.fntt {

  text-align: center;
  padding-bottom: 10px
}

.bann {
  background-image: url('../assets/banne.jpg');
  margin-top: -45px;
  height: 310px
}

.vs-inputx {
  background: rgb(92, 53, 53);
}

</style>
