<template>
  <div class="hello">
    <div class="head-head-resid">
        <div class="zone-of-work-mobile" v-if="isMobile">
        
          <div class="card-nav">
          
        <vs-row style="padding: 10px;">

             <vs-col v-tooltip="'col - 3'" vs-type="grid" vs-align="center" vs-w="6">

                <el-timeline :reverse="reverse">
                    <el-timeline-item
                    timestamp="Abidjan / Treichville">
                    Localisation
                    </el-timeline-item>
                </el-timeline>

            </vs-col>

            <vs-col v-tooltip="'col - 3'" vs-type="grid" vs-align="center" vs-w="6">

                <el-timeline :reverse="reverse">
                    <el-timeline-item
                    timestamp="+225 07 89 29 43 09">
                    Contact
                    </el-timeline-item>
                    <el-timeline-item
                    timestamp="info@sarezide.com">
                    Email
                    </el-timeline-item>
                </el-timeline>

            </vs-col>

           
        </vs-row>
           
       
      </div>
      <span style="font-size: 12px; padding: 5px; display: block; color: orange; text-align: center">NOUS ECRIRE ICI</span>
      <vs-card class="result-item" style="margin-top: 5px; max-width: 400px; margin-bottom: 10px; padding: 10px;">
      <div v-if="!send">  
        <vs-row>
            <vs-col  v-tooltip="'col - 3'" vs-type="grid" vs-align="center" vs-w="6">
                <span>Nom</span>
                <el-input
                    placeholder="Votre Nom"
                    v-model="nom"
                    clearable>
                </el-input>
            </vs-col>
            <vs-col  v-tooltip="'col - 3'" vs-type="grid" vs-align="center" vs-w="6">
                <span>Contact</span>
                <el-input
                    placeholder="Votre Contact"
                    v-model="contact"
                    clearable>
                </el-input>
            </vs-col>
        </vs-row>
        <span>Email</span>
        <el-input
            placeholder="Votre nom & prenom"
            v-model="email"
            clearable>
        </el-input>
        <span>Votre message</span>
        <el-input
            type="textarea"
            placeholder="Entrez votre message"
            v-model="message">
        </el-input>
        <vs-button style="margin-top: 10px" color="warning" type="filled" @click="envoyera()">Envoyé</vs-button>
      </div>
      <div v-else>
            <vs-alert :active="!validName" color="success" icon="new_releases" style="margin-top: 5px">
              Message envoyé. 
            </vs-alert>
      </div>
      </vs-card>
      
      </div>
      <div class="accueil-bodysearch-themea" v-else>
        
        <div class="card-nav">
        <h1 style="text-align: center; color: gray; font-family: 'Jost', sans-serif">Nous-contacter</h1>
        <vs-divider/>
        <div>
          <vs-row>
            <vs-col v-tooltip="'col - 3'" vs-justify="center" vs-align="center" vs-w="5" style="padding: 10px;">
              <vs-row>
                <vs-col v-tooltip="'col - 3'" vs-justify="center" vs-align="center" vs-w="6" style="padding: 10px;">
                  <vs-card style="padding: 10px; background-color: #3e91dc; color: white;">
                    <div style="display: grid;">
                      <span style="padding: 5px; font-size: 16px; font-weight: bold; font-family: 'Jost', sans-serif"><vs-icon icon="phone"></vs-icon> Contact</span>
                      <span style="padding: 5px; font-size: 16px;text-align: center; font-family: 'Jost', sans-serif">+225 07 89 29 43 09</span>
                    </div>
                  </vs-card>
                </vs-col>
                <vs-col v-tooltip="'col - 3'" vs-justify="center" vs-align="center" vs-w="6" style="padding: 10px;">
                  <vs-card style="padding: 10px;">
                    <div style="display: grid;">
                      <span style="padding: 5px; font-size: 16px; font-weight: bold; font-family: 'Jost', sans-serif"><vs-icon icon="email"></vs-icon> Email</span>
                      <span style="padding: 5px; font-size: 16px;text-align: center; font-family: 'Jost', sans-serif">info@sarezide.com</span>
                    </div>
                  </vs-card>
                </vs-col>
                <vs-col v-tooltip="'col - 3'" vs-justify="center" vs-align="center" vs-w="6" style="padding: 10px;">
                  <vs-card style="padding: 10px;">
                    <div style="display: grid;">
                      <span style="padding: 5px; font-size: 16px; font-weight: bold; font-family: 'Jost', sans-serif"><vs-icon icon="store"></vs-icon> Siège</span>
                      <span style="padding: 5px; font-size: 16px;text-align: center; font-family: 'Jost', sans-serif">Abidjan, Treichville</span>
                    </div>
                  </vs-card>
                </vs-col>
                <vs-col v-tooltip="'col - 3'" vs-justify="center" vs-align="center" vs-w="6" style="padding: 10px;">
                  <vs-card style="padding: 10px;  background-color: #3edc9a; color: white;">
                    <div style="display: grid;">
                      <span style="padding: 5px; font-size: 16px; font-weight: bold; font-family: 'Jost', sans-serif"><vs-icon icon="sms"></vs-icon> WhatsApp</span>
                      <span style="padding: 5px; font-size: 16px;text-align: center; font-family: 'Jost', sans-serif">+225 01 02 52 98 31</span>
                    </div>
                  </vs-card>
                </vs-col>
              </vs-row>
            </vs-col>
            <vs-col v-tooltip="'col - 3'" vs-justify="center" vs-align="center" vs-w="7" style="padding: 10px;">
              <div v-if="!send">  
                <vs-row>
                    <vs-col  v-tooltip="'col - 3'" vs-type="grid" vs-align="center" vs-w="6" style="padding: 7px 20px">
                        
                        <vs-input v-model="nom" size="large" style="width: 100%;" icon-after="true" label-placeholder="icon-after" icon="mode_edit" placeholder="Votre Nom"/>
                        
                    </vs-col>
                    <vs-col  v-tooltip="'col - 3'" vs-type="grid" vs-align="center" vs-w="6" style="padding: 7px 20px">
                      <vs-input v-model="contact" size="large" style="width: 100%;" icon-after="true" label-placeholder="icon-after" icon="mode_edit" placeholder="Votre Contact"/>  
                      
                    </vs-col>
                </vs-row>
                <div style="padding: 7px 20px">
                  <vs-input v-model="email" size="large" style="width: 100%;" icon-after="true" label-placeholder="icon-after" icon="mode_edit" placeholder="Votre Email"/>  
                  
                </div>
                <div style="padding: 17px 20px">
                  <vs-textarea label="Votre message" v-model="message" />
                  
                </div>
                <div style="padding: 1px 20px">
                  <vs-button @click="envoyera()" icon="send" color="primary" type="border">Envoyé</vs-button>
                  
                </div>
                
               
              </div>
              <div v-else style="padding: 15px">
                    <vs-alert :active="!validName" color="success" icon="new_releases" style="margin-top: 5px; font-size: 20px;">
                    Message envoyé.
                    </vs-alert>
              </div>
            </vs-col>
          </vs-row>
        </div>
      
         
     
    </div>
   
    
    </div>
    </div>
    
    
  </div>
</template>

<script>
import axios from 'axios';
import { isMobile } from 'mobile-device-detect';
export default {
  name: 'Head',
  computed: {
    users() {
      return this.$store.state.users;
    }
  },
   data(){
    return {
      isMobile: isMobile,
      send: false,
      useri: {
        name: '',
        email: '',
        contact: '',
      },
      nom:'',
      email:'',
      contact:'',
      message:'',
      
       con: true,
    }
  },
  methods: {
    deconnexion() {
      this.$store.commit('Connexion', this.useri);
      this.users.name = '';
      this.$router.push({ path: '/about' });
    },

    acceptAlert(){
      this.$vs.notify({
        color:'success',
        position: 'top-right',
        title:'Envoyé',
        text:'Message envoyé avec succès'
      });
    },

    envoyera() {
     
       let formData = new FormData();
      formData.append('nom', this.nom);
      formData.append('contact', this.contact);
      formData.append('email', this.email);
      formData.append('mes', this.message);
      this.$vs.loading({
        type:'point',
      })

      axios.post('https://autre.sarezide.com/sarezide_messages.php', formData)
      .then((response) => {
        this.send = true;
        console.log(response);
        this.$vs.loading.close();
        this.acceptAlert();
        this.$router.push({ path: '/accueil' })
      }, (error) => {
        console.log(error);
        this.$vs.loading.close()
      });
    

  },
  },

  mounted() {
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}

.vs-select--label {
    font-size: .85rem;
    color: rgba(0,0,0,.6);
}

</style>
