<template>
  <div class="about">
    <Mobile v-if="isMobile"/>
    <Web v-else/>
  </div>
</template>

<script>
// @ is an alias to /src
import Web from '@/components/dashboardclient/Web.vue'
import Mobile from '@/components/dashboardclient/Mobile.vue'
import { isMobile } from 'mobile-device-detect';

export default {
  name: 'About',
  components: {
    Web,
    Mobile
  },
  data(){
    return {
      isMobile: isMobile,
    }
  }
}
</script>
