<template>
  <div class="home">
  <!--  <div class="logo-center">
      <img src="../assets/log.png" style="padding-top: 4px; width: 100%">
      <vs-progress style="background: black" :percent="progress" color="white">warning</vs-progress>
    </div>
    -->
  </div>
</template>

<script>
// @ is an alias to /src
export default {
  name: 'Home',
  computed: {
    users() {
      return this.$store.state.users;
    }
  },
   data(){
    return {
      progress: 2,
      delai: null,
    }
  },
  created: function() {
		this.delai = setInterval(() => {
      //if(this.progress < 100) {
      //  this.progress = this.progress + 2;
      //} else {
        this.$router.push({ path: '/accueil' });
      //}
		
	}, 100)
	},

  beforeDestroy () {
	clearInterval(this.delai)
},

  mounted() {
  }
}
</script>
<style>

</style>
