<template>
  <div class="about">
    <Mobile v-if="isMobile"/>
    <Web v-else/>
  </div>
</template>

<script>
// @ is an alias to /src
import Web from '@/components/inscription/Web.vue'
import Mobile from '@/components/inscription/Mobile.vue'
import axios from 'axios';
import { isMobile } from 'mobile-device-detect';

export default {
  name: 'About',
  components: {
    Web,
    Mobile
  },
  data(){
    return {
      isMobile: isMobile,
    }
  },
  
  methods: {
    getdata() {

      let formData = new FormData();
      formData.append('user', 'sakone@live.fr');
      formData.append('mdp', '0Objectif');

      axios.post('https://autre.sarezide.com/sarezide_connexionc.php', formData,)
      .then(function (response) {
        console.log(response);
      })
      .catch(function (error) {
        console.log(error);
      });
      
    }
  },

  mounted() {
    this.getdata();
  }
}
</script>
