<template>
  <div class="hello">
    
    <div v-if="!isMobile">
      <div class="bann">
      <div class="recherche-block">
        <p class="fntt">.</p>
      </div>
      </div>
      
      <div  style="margin: -170px auto; width: 1100px; margin-bottom: 20px">
        <h1 class="fnt">Devenir notre <span style="color: orange">Partenaire</span></h1>
        
      </div>
      <div class="accueil-bodysearch-themea" style="margin-top: 55px">
      <vs-card style="padding: 20px; box-shadow: 0 0 0 10px rgb(255 255 255 / 15%), 0 2px 48px 0 rgb(0 0 0 / 4%); border-radius: 10px;">
        <p style="font-family: 'Jost', sans-serif; font-size: 20px;font-weight: 600;letter-spacing: 1px; color: #383a4e;">Vous envisagez de collaborer avec SaRezide ?</p>
        <vs-divider/>
        <p style="margin-bottom: 1rem;font-family: 'Jost', sans-serif; font-size: 14px;letter-spacing: 1px; color: #383a4e;">Soyez rassuré, vous n'avez rien à payer pour adhérer. Nous faisons votre publicité et vous trouvons des clients. </p>
        <p style="margin-bottom: 1rem;font-family: 'Jost', sans-serif; font-size: 14px;letter-spacing: 1px; color: #383a4e;">Nos frais sont de <b>10%</b> pour chaque réservation validé</p>
        <div style="background-color: #f2ffff; padding: 20px;">
          <p style="font-family: 'Jost', sans-serif; font-size: 20px;font-weight: 600;letter-spacing: 1px; color: #383a4e;">Informations Partenaire</p>
          <vs-divider/>
          <vs-row style="padding-bottom: 25px">
            <vs-col vs-justify="center" vs-align="center" vs-w="6">
              <div style="display: grid; width: 95%;">
                <span style="font-size: 14px; letter-spacing:.5px; color: #64688c; padding: 5px; font-family: 'Jost', sans-serif">Nom</span>
                    <el-input
                      style="width: 100%;  float: right;"
                      placeholder="Nom"
                      v-model="nom">
                    </el-input>
                    
                  </div>
            </vs-col>
            <vs-col vs-justify="center" vs-align="center" vs-w="6">
              <div style="display: grid; width: 95%;">
                <span style="font-size: 14px; letter-spacing:.5px; color: #64688c; padding: 5px; font-family: 'Jost', sans-serif">Prenom</span>
                    <el-input
                      style="width: 100%;  float: right;"
                      placeholder="Prenom"
                      v-model="prenom">
                    </el-input>
                    
                  </div>
            </vs-col>
          </vs-row>
          <vs-row style="padding-bottom: 25px">
            <vs-col vs-justify="center" vs-align="center" vs-w="6">
              <div style="display: grid; width: 95%;">
                <span style="font-size: 14px; letter-spacing:.5px; color: #64688c; padding: 5px; font-family: 'Jost', sans-serif">Email</span>
                    <el-input
                      style="width: 100%;  float: right;"
                      placeholder="Email"
                      v-model="email">
                    </el-input>
                    
                  </div>
            </vs-col>
            <vs-col vs-justify="center" vs-align="center" vs-w="6">
              <div style="display: grid; width: 95%;">
                <span style="font-size: 14px; letter-spacing:.5px; color: #64688c; padding: 5px; font-family: 'Jost', sans-serif">Téléphone</span>
                    <el-input
                      style="width: 100%;  float: right;"
                      placeholder="Contact"
                      v-model="contact">
                    </el-input>
                    
                  </div>
            </vs-col>
          </vs-row>
          <vs-row style="padding-bottom: 25px">
            <vs-col vs-justify="center" vs-align="center" vs-w="6">
              <div style="display: grid; width: 95%;">
                <span style="font-size: 14px; letter-spacing:.5px; color: #64688c; padding: 5px; font-family: 'Jost', sans-serif">Nombre de résidence</span>
                <el-input
                      style="width: 100%;  float: right;"
                      placeholder="Nb résidence"
                      v-model="mes">
                    </el-input>
                
                    
                  </div>
            </vs-col>
            <vs-col vs-justify="center" vs-align="center" vs-w="6">
             
            </vs-col>
            
          </vs-row>
          <vs-divider/>
          
          <vs-row>
            
            <vs-col  v-tooltip="'col - 3'" vs-type="grid" vs-align="center" vs-w="0.2">
             
            </vs-col>
            <vs-button style="margin-top: 15px; width: 100%; padding: 15px;" color="primary" type="filled" @click="envoyera()">Devenir Partenaire</vs-button>
            
        </vs-row>
        </div>
      </vs-card>
    </div>
     
    </div>
     <div class="head-head-resid" v-if="isMobile">
        <div class="zone-of-work-mobile">
          <div class="card-nav">
          
        <center>
          <el-card class="box-card">
          <h3 style="color: orange">Vous envisagez de collaborer avec SaRezide ?</h3>
          <p style="font-size: 13px">Soyez rassuré, vous n'avez rien à payer pour adhérer. Nous faisons votre publicité et vous trouvons des clients.</p>
           <div v-if="!send">
            <h3>Enresgistrez-vous</h3>
            <vs-divider/>
         
            <el-row>
              <el-col :span="8">
                  <vs-input label="Nb résidence" placeholder="1" v-model="mes" style="text-align: left"/>
                </el-col>
                <el-col :span="16">
                  <vs-input label="Nom & Prenom" placeholder="Nom" v-model="nom" style="text-align: left"/>
                </el-col>
            </el-row>
            <br>
            <el-row>
              <el-col :span="9">
                  <vs-input label="Contact" placeholder="0102030405" v-model="contact" style="text-align: left"/>
                </el-col>
                <el-col :span="8">
                  <vs-input label="Email" placeholder="xxxx@xxxx.com" v-model="email" style="text-align: left"/>
                </el-col>
              
            </el-row>
            <br>
            
            <vs-button style="width: 200px" color="warning" type="filled" @click="envoyera()">Je veux être partenaire</vs-button>
          </div>
          <div v-else>
            <vs-alert :active="!validName" color="success" icon="new_releases" style="margin-top: 5px">
              Nous-vous contactons bientôt. 
            </vs-alert>
          </div>
          </el-card>
        </center>


       
           
       
      </div>
     <vs-card class="result-item" style="margin-top: 5px; max-width: 400px; margin-bottom: 10px; ">
      
      </vs-card>
      
      </div>
    </div>
    
    
  </div>
</template>

<script>
import axios from 'axios';
import { isMobile } from 'mobile-device-detect';
export default {
  name: 'Head',
  computed: {
    users() {
      return this.$store.state.users;
    }
  },
   data(){
    return {
      useri: {
        name: '',
        namee: '',
        email: '',
        contact: '',
        nbper: '',
        nbenf:'',
      taxi:'',
      },
      isMobile: isMobile,
      recherchelance: false,
      suite: 'true',
      row: 0,
      nom: '',
      prenom: '',
      contact: '',
      mes: '',
      whatsapp: '',
      email: '',
      nba: '',
      des: '',
      chercheOK: true,
      residS:false,
      select1:'Abidjan',
      select2:'Toutes les zones',
      select3:'Tous types',
      select4:'Tous les prix',
      ville: null,
      zobe: null,
      residences: null,
      residencesn: null,
      nbresid: null,
       options1:[
        {text:'Abidjan',value:0},
        {text:'Grand-Bassam',value:1},
        {text:'Yamoussoukro',value:2},
        {text:'Bouaké',value:2},
      ],
       options2:[
        {text:'Toutes les zones',value:0},
        {text:'Abobo',value:1},
        {text:'Adjamé',value:2},
        {text:'Angré',value:3},
        {text:'Anyama',value:4},
        {text:'Attécoubé',value:5},
        {text:'Bingerville',value:6},
        {text:'Cocody',value:7},
        {text:'II Plateau',value:8},
        {text:'Koumassi',value:9},
        {text:'Marcory',value:10},
        {text:'Plateau',value:11},
        {text:'Port-Bouet',value:12},
        {text:'Riviera',value:13},
        {text:'Treichville',value:14},
        {text:'Yopougon',value:15},
      ],
      options3:[
        {text:'Tous types',value:0},
        {text:'STUDIO',value:1},
        {text:'2 PIECES',value:2},
        {text:'3 PIECES',value:3},
        {text:'4 PIECES',value:4},
        {text:'PLUS',value:5},
      ],
      options4:[
        {text:'Tous les prix',value:0},
        {text:'0 à 15.000',value:1},
        {text:'15.000 à 25.000',value:2},
        {text:'25.000 à 50.000',value:3},
        {text:'Plus',value:4},
      ],
       con: true,
       send: false,
    }
  },
  methods: {
    acceptAlert(){
      this.$vs.notify({
        color:'success',
        position: 'top-right',
        title:'Envoyé',
        text:'Message envoyé avec succès'
      });
    },

    envoyera() {
     
       let formData = new FormData();
      formData.append('nom', this.nom);
      formData.append('contact', this.contact);
      formData.append('email', this.email);
      formData.append('mes', this.mes);
        this.$vs.loading({
        type:'point',
      })
        
        axios.post('https://autre.sarezide.com/sarezide_parts.php?email=oumarsakone75@gmail.com', formData,)
        .then((response) => {
          this.$vs.loading.close();
          this.connexionOK = true;
          this.connexionMessage = 'Message envoyé';
          this.verif(response);
        }, (error) => {
          console.log(error);
        });
    
  },
    Save() {
      this.$vs.loading({
        type:'point',
      });
      this.innerVisible = false;
      this.outerVisible = false;
      let formData = new FormData();
      formData.append('nom', this.nom);
      formData.append('prenom', this.prenom);
      formData.append('email', this.email);
      formData.append('contacta', this.contacta);
      formData.append('contactb', this.contactb);
      formData.append('whatsapp', this.whatsapp);
      formData.append('nb', this.nba);

      axios.post('https://autre.sarezide.com/sarezide_post_clients.php', formData)
      .then(function (response) {
        this.$vs.loading.close();
        console.log(response);
        this.send = true;
      })
      .catch(function (error) {
        this.$vs.loading.close();
        console.log(error);
      });
      this.$vs.loading.close();
    },
    load () {
        this.$vs.loading({
        type:'point',
        })
        axios.get('https://autre.sarezide.com/get_residence_next.php?id='+ this.row)
        .then((response) => {
          this.residencesn = response.data.data;
          this.row = this.residencesn[this.residencesn.length - 1].id_resid;
          this.suite = response.data.suite;
          this.residencesn.forEach((item) => {
            this.residences.push( item );
          })
          this.$vs.loading.close()
          console.log(this.residences)
        }, (error) => {
          console.log(error);
          this.$vs.loading.close()
        });
    },

    loadr () {
        if(this.select1 !== 'Abidjan') {
        this.select2 = 'Toutes les zones'
      }
      this
     
       let formData = new FormData();
      formData.append('ville', this.select1);
      formData.append('zone', this.select2);
      formData.append('type', this.select3);
      formData.append('id', this.row);
      this.$vs.loading({
        type:'point',
      })
       axios.post('https://autre.sarezide.com/recherche_residm_suite.php', formData)
       .then((response) => {
         this.recherchelance = true;
          this.residencesn = response.data.data;
          this.row = this.residencesn[this.residencesn.length - 1].id_resid;
          this.suite = response.data.suite;
          this.residencesn.forEach((item) => {
            this.residences.push( item );
          })
         console.log(this.residences);
         setTimeout(function () {
        this.$vs.loading.close()}.bind(this), 1000);
      })
      .catch(function (error) {
        console.log(error);
        this.$vs.loading.close()
      });
    },

    deconnexion() {
      this.$store.commit('Connexion', this.useri);
      this.users.name = '';
      this.$router.push({ path: '/recherche' });
    },

    

    
    rechercheResidences() {
      this.$router.push({ path: '/recherche', query: { ville: this.select1, zone: this.select2} });
    },

    rechercheResidencesWeb() {
      this.$router.push({ path: '/recherche', query: { ville: this.select1, zone: this.select2} });
    },

    ChoixVille(n) {
      this.$router.push({ path: '/recherche', query: { ville: 'Abidjan', zone: n} });
    },

    getZone() {
      this.$vs.loading({
        type:'point',
      })
      axios.get('https://autre.sarezide.com/get_zone.php')
      .then((response) => {
        this.zone = response.data.data;
        console.log(this.ville);
        this.$vs.loading.close()
      }, (error) => {
        console.log(error);
        this.$vs.loading.close()
      });
    },

    getZonea(a) {
      console.log(this.select1);  
      this.$vs.loading({
        type:'point',
      })
      axios.get('https://autre.sarezide.com/get_zone.php?resid=' + a)
      .then((response) => {
        this.zone = response.data.data;
        console.log(this.zone);
        this.$vs.loading.close()
      }, (error) => {
        console.log(error);
        this.$vs.loading.close()
      });
    },

  },

  mounted() {
    this.getVille();
    this.getResidences();
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
.hello {
  margin-top: -60px
}
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}

.vs-select--label {
    font-size: .85rem;
    color: rgba(0,0,0,.6);
}

.fnt {
  font-family: 'Dancing Script', cursive;
  text-align: center;
  padding-bottom: 5px;  
  background: white;
  width: 400px;
  border-radius: 40%;
  padding: 20px;
  margin: 0 auto
}

.fnto{
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  padding-bottom: 5px
}

.fntt {

  text-align: center;
  padding-bottom: 10px
}

.bann {
  background-image: url('../assets/banne.jpg');
  margin-top: -45px;
  height: 210px
}

</style>
