<template>
  <div class="corps">
    <div class=" zone-of-work-m">
      <br>
      <div class="login-zone-m" v-if="!oubliee">
          
          <h2>Connexion client</h2>
          <p style="font-size: 14px; padding-top: 20px">Connectez-vous pour suivre votre historique de réservation</p>
          <vs-card style="margin-top: 20px; padding: 0px">
            <div style="width: 10%; float: left; background-color: #5e5eff; height: 371px; border-top-left-radius: 10px; border-bottom-left-radius: 10px;">
              d
            </div>
            <div style="width: 90%; float: left;">
              <el-alert v-if="connexionOK"
                :title="connexionMessage"
                type="success"
                effect="dark">
              </el-alert>
              <el-alert v-if="connexionKO"
                :title="connexionMessage"
                type="error"
                effect="dark">
              </el-alert>
              <el-alert v-if="recupere"
                :title="connexionMessage"
                type="error"
                effect="dark">
              </el-alert>
              <p style="font-size: 18px; margin-top: 18px;">Connectez-vous</p>
              <vs-divider/>
              <div style="text-align: left">
                <el-input
                  style="margin-top: 25px; margin-left: 5%; width: 90%;"
                  placeholder="Email"
                  prefix-icon="el-icon-user-solid"
                  v-model="user">
                </el-input>
                <el-input
                  style="margin-top: 25px; margin-left: 5%; width: 90%;"
                  placeholder="Mot de Passe"
                  prefix-icon="el-icon-key"
                  v-model="mdp">
                </el-input>
                <el-button style="margin-top: 25px; margin-left: 5%; width: 90%;" type="primary" @click="getdata()">Connexion</el-button>
               
               <vs-button style="margin: 25px auto; width: 60%; display: block;" type="line" color="warning" @click="oubliee = true">Mot de passe oublié</vs-button>
              
               
              </div>
            </div>  
            <span style="font-size: 18px">.</span>
             
              
          </vs-card>
      </div>
        <div class="login-zone-m" v-else>
            <h3>Mot de passe oublié</h3>
            <p style="font-size: 14px; padding-top: 20px">Récupérer votre mot passe</p>
            <vs-card style="margin-top: 10px">
                <span style="font-size: 18px">Envoi de mot de passe</span>
                <el-alert v-if="connexionOK"
                  :title="connexionMessage"
                  type="success"
                  effect="dark">
                </el-alert>
                <el-alert v-if="connexionKO"
                  :title="connexionMessage"
                  type="error"
                  effect="dark">
                </el-alert>
                <vs-divider/>
                <div style="text-align: left">
                 <vs-input style="margin: 18px auto; width: 80%;" icon-no-border icon="account_circle" name="email" label-placeholder="Identifiant" v-model="email"/>
                 <vs-button style="margin: 0 auto; width: 80%; display: block; margin-bottom: 15px" color="success" type="filled" @click="getdata()">Envoyer le mot de passe</vs-button>
                 <vs-button style="margin: 15px auto; width: 80%; display: block;" type="filled" @click="oubliee = false">Retour à Connexion</vs-button>
                </div>
            </vs-card>
        </div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import axios from 'axios';

export default {
  name: 'Web',
  computed: {
    users() {
      return this.$store.state.users;
    }
  },
  data(){
    return {
      oubliee: false,
      value7: '',
      numberOk: true,
      select1:0,
      select2:0,
      select3:0,
      select4:0,
      email: '',
      mdp: '',
      recupere: false,
      connexionData: null,
      connexionOK: false,
      connexionKO: false,
      connexionMessage: '',
    }
  },

  methods: {
    getdata() {

      let formData = new FormData();
      formData.append('user', this.email);
      formData.append('mdp', this.mdp);

      axios.post('https://autre.sarezide.com/sarezide_connexionc.php', formData,)
      .then((response) => {
        this.verif(response)
      }, (error) => {
        console.log(error);
      });
      
    },

    oublie() {
      if(this.email == '') {
        this.recupere = true;
        this.connexionMessage = 'Entrez l\'adresse Email';
      } else {
        this.$vs.loading({
        type:'point',
      })
        let formData = new FormData();
        formData.append('email', this.email);
        axios.post('https://autre.sarezide.com/sarezide_send_passw.php', formData,)
        .then((response) => {
          this.$vs.loading.close();
          this.connexionOK = true;
          this.connexionMessage = 'Mot de passe envoyé';
          this.verif(response);
        }, (error) => {
          console.log(error);
        });
      }
      
      },

    verif(data) {
      let donnees = data.data.data[0];
       this.connexionMessage = data.data.mes
       if(data.data.valide == 1) {
         this.connexionKO = false;
         this.connexionOK = true;
         this.$store.commit('Connexion', donnees);
         this.$router.push({ path: '/dashboard' })
       }
       if(data.data.valide == 2) {
         this.connexionKO = true;
         this.connexionOK = false;
       }
    }
  },
}
</script>
