<template>
  <div class="corps">
    <div class=" zone-of-work" style="height: 97vh">
      <br>
        <div class="login-zone" v-if="!oubliee">
          
            <h2>Connexion client</h2>
            <p style="font-size: 14px; padding-top: 20px">Connectez-vous pour suivre votre historique de réservation</p>
            <vs-card style="margin-top: 20px; padding: 0px">
              <div style="width: 30%; float: left; background-color: #409eff; height: 371px; border-top-left-radius: 10px; border-bottom-left-radius: 10px;">
                <img src="../../assets/log.png" width="90" style="margin-top: 150px;">
              </div>
              <div style="width: 70%; float: left;">
                <el-alert v-if="connexionOK"
                  :title="connexionMessage"
                  type="success"
                  effect="dark">
                </el-alert>
                <el-alert v-if="connexionKO"
                  :title="connexionMessage"
                  type="error"
                  effect="dark">
                </el-alert>
                <el-alert v-if="recupere"
                  :title="connexionMessage"
                  type="error"
                  effect="dark">
                </el-alert>
                <p style="font-size: 18px; margin-top: 18px;">Connectez-vous</p>
                <vs-divider/>
                <div style="text-align: left">
                  <el-input
                    style="margin-top: 25px; margin-left: 5%; width: 90%;"
                    placeholder="Email"
                    prefix-icon="el-icon-user-solid"
                    v-model="user">
                  </el-input>
                  <el-input
                    style="margin-top: 25px; margin-left: 5%; width: 90%;"
                    placeholder="Mot de Passe"
                    prefix-icon="el-icon-key"
                    v-model="mdp">
                  </el-input>
                  <el-button style="margin-top: 25px; margin-left: 5%; width: 90%;" type="primary" @click="getdata()">Connexion</el-button>
                 
                 <vs-button style="margin: 25px auto; width: 60%; display: block;" type="line" color="warning" @click="oubliee = true">Mot de passe oublié</vs-button>
                
                 
                </div>
              </div>  
              <span style="font-size: 18px">.</span>
               
                
            </vs-card>
        </div>
        <div class="login-zone" v-else>
            <h2>Mot de passe oublié</h2>
            <p style="font-size: 14px; padding-top: 20px">Récupérer votre mot passe</p>
            <vs-card style="margin-top: 20px">
                <span style="font-size: 18px">Envoi de mot de passe</span>
                <el-alert v-if="connexionOK"
                  :title="connexionMessage"
                  type="success"
                  effect="dark">
                </el-alert>
                <el-alert v-if="connexionKO"
                  :title="connexionMessage"
                  type="error"
                  effect="dark">
                </el-alert>
                <el-alert v-if="recupere"
                  :title="connexionMessage"
                  type="error"
                  effect="dark">
                </el-alert>
                <vs-divider/>
                <div style="text-align: left">
                  <vs-input style="margin: 25px auto; width: 60%;" icon-no-border icon="account_circle" label-placeholder="Email" v-model="user"/>
                  <vs-button style="margin: 25px auto; width: 60%; display: block;" type="filled" @click="oublie()">Envoyer le mot de passe</vs-button>
                    <vs-button style="margin: 0 auto; width: 60%; display: block; margin-bottom: 15px" color="success" type="filled" @click="oubliee = false">Retour à Connexion</vs-button>
                </div>
            </vs-card>
        </div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import axios from 'axios';

export default {
  name: 'Web',
  data(){
    return {
      oubliee: false,
      value7: '',
      numberOk: true,
      select1:0,
      select2:0,
      select3:0,
      select4:0,
      user: '',
      mdp: '',
      recupere: false,
      connexionData: null,
      connexionOK: false,
      connexionKO: false,
      connexionMessage: '',
    }
  },

  methods: {
    getdata() {

      let formData = new FormData();
      formData.append('user', this.user);
      formData.append('mdp', this.mdp);

      axios.post('https://autre.sarezide.com/sarezide_connexionc.php', formData,)
      .then((response) => {
        this.verif(response)
      }, (error) => {
        console.log(error);
      });
      
    },

    getstats() {

      let formData = new FormData();
      formData.append('user', this.user);
      formData.append('mdp', this.mdp);

      axios.post('https://autre.sarezide.com/sarezide_connexionc.php', formData,)
      .then((response) => {
        this.verif(response)
      }, (error) => {
        console.log(error);
      });

      },

    oublie() {
      if(this.user == '') {
        this.recupere = true;
        this.connexionMessage = 'Entrez l\'adresse Email';
      } else {
        this.$vs.loading({
        type:'point',
      })
        let formData = new FormData();
        formData.append('email', this.user);
        axios.post('https://autre.sarezide.com/sarezide_send_passw.php?email=oumarsakone75@gmail.com', formData,)
        .then((response) => {
          this.$vs.loading.close();
          this.connexionOK = true;
          this.connexionMessage = 'Mot de passe envoyé à votre email';
          this.verif(response);
        }, (error) => {
          console.log(error);
        });
      }
      
      },


    verif(data) {
      let donnees = data.data.data[0];
       this.connexionMessage = data.data.mes
       if(data.data.valide == 1) {
         this.connexionKO = false;
         this.connexionOK = true;
         this.$store.commit('Connexion', donnees);
         this.$router.push({ path: '/dashboard' })
       }
       if(data.data.valide == 2) {
         this.connexionKO = true;
         this.connexionOK = false;
       }
    }
  },
}
</script>
