<template>
  <div class="hello">
    <div class="head-head-resid">
        <div class="zone-of-work-mobile">
          <vs-card style="padding: 0px; box-shadow: 0 0 0 10px rgb(255 255 255 / 15%), 0 2px 48px 0 rgb(0 0 0 / 4%); border-radius: 15px;">
              <vs-row style="padding: 5px;">
                <vs-col v-tooltip="'col - 3'" vs-justify="center" vs-align="center" vs-w="6">
                  <div style="display: flex;">
                    <span style="font-size: 14px; letter-spacing:.5px; color: #64688c; padding: 15px 5px; font-family: 'Jost', sans-serif">Ville</span>
                    <vs-select
                      style="font-family: 'Jost', sans-serif"
                      class="select-zone web-search"
                      icon-after="true"
                      icon="location_city"
                      v-model="select1"
                      >
                      <vs-select-item :key="index" :value="item.text" :text="item.text" v-for="item,index in options1" />
                    </vs-select>
                  </div>
                </vs-col>
                <vs-col v-tooltip="'col - 3'" vs-justify="center" vs-align="center" vs-w="6">
                  <div style="display: flex;">
                    <span style="font-size: 14px; letter-spacing:.5px; color: #64688c;padding: 15px 5px; font-family: 'Jost', sans-serif">Zone</span>
                    <vs-select
                      style="font-family: 'Jost', sans-serif"
                      class="select-zone web-search"
                      icon-after="true"
                      icon="location_on"
                      v-model="select2"
                      >
                      <vs-select-item :key="index" :value="item.text" :text="item.text" v-for="item,index in options2" />
                    </vs-select>
                  </div>
                </vs-col>
                <vs-col v-tooltip="'col - 3'" vs-justify="center" vs-align="center" vs-w="6">
                  <div style="display: flex;">
                    <span style="font-size: 14px; letter-spacing:.5px; color: #64688c;padding: 15px 5px; font-family: 'Jost', sans-serif">Pièces</span>
                    <vs-select
                      style="font-family: 'Jost', sans-serif"
                      class="select-zone web-search"
                      icon-after="true"
                      icon="dynamic_feed"
                      v-model="select3"
                      >
                      <vs-select-item :key="index" :value="item.text" :text="item.text" v-for="item,index in options3" />
                    </vs-select>
                  </div>
                </vs-col>
                <vs-col v-tooltip="'col - 3'" vs-justify="center" vs-align="center" vs-w="6">
                  <div style="display: flex;">
                    <span style="font-size: 14px; letter-spacing:.5px; color: #64688c;padding: 15px 5px; font-family: 'Jost', sans-serif">Personne(s)</span>
                    <vs-select
                      style="font-family: 'Jost', sans-serif"
                      class="select-zone web-search"
                      icon-after="true"
                      icon="dynamic_feed"
                      v-model="select4"
                      >
                      <vs-select-item :key="index" :value="item.text" :text="item.text" v-for="item,index in options4" />
                    </vs-select>
                  </div>
                </vs-col>
                <vs-col v-tooltip="'col - 3'" vs-justify="center" vs-align="center" vs-w="1">
                  
                </vs-col>
                <vs-col v-tooltip="'col - 3'" vs-justify="center" vs-align="center" vs-w="10">
                  <div style="display: flex;">
                    <vs-button @click="rechercheResidences()" style="width: 100%;" color="primary" type="filled">Recherche</vs-button>
                  </div>
                </vs-col>
                <vs-col v-tooltip="'col - 3'" vs-justify="center" vs-align="center" vs-w="1">
                  
                </vs-col>
              </vs-row>
          </vs-card>
          <vs-card style="width: 100%; padding: 0px; margin-top: -10px; margin-bottom: -1px">
            <div style="display: flex; padding: 0; margin-bottom: -15px">
              <select class="designSelect" placeholder="Filtre par Prix" v-model="select4"  @change="changePrix(select4)" name="cars" id="cars">
                <option disabled selected value="">Trier par Prix</option>
                <option style="line-height: 8px; color: gray" v-for="item in options4" :key="item.value" :value="item.text">{{item.text}}</option>
                
              </select>
              
              <select class="designSelect" placeholder="Filtre par Prix" v-model="select5"  @change="changeServea(select5)" name="cars" id="cars">
                <option disabled selected value="">Trier par Service</option>
                <option style="line-height: 8px; color: gray" v-for="item in options5" :key="item.value" :value="item.text">{{item.text}}</option>
                
              </select>
            </div>

                        
          </vs-card>
          <span style="padding: 5px; float: right; font-size: 12px;">Page <span style="font-size:16px; color: blue;"><b>{{currentxPaginate}}/</b>{{Math.ceil(residencesn.length/9)}}</span></span>
      <span v-if="chercheOK" style="font-size: 12px; padding: 5px; display: block; color: rgb(255, 166, 3); max-width:420px; margin: 0 auto">Trouvez les meilleures résidences</span>
      <span v-else style="font-size: 12px; padding: 5px; display: block; color: rgb(255, 166, 3); max-width:450px; margin: 0 auto">Résultat : <b style="color: gray; font-weight: normal">{{residencesn.length}} résidences trouvées</b> <span style="margin-top: -8px" v-if="select4 != 0 && select4 != 'Tous les prix'"><b style=" text-decoration: underline"> De {{changer}}</b></span></span>
      
      
      <div>
        <vs-card class="result-item"  v-for="item in residences" :key="item.id_resid" style="margin: 5px auto; max-width: 420px; margin-bottom: 10px; padding: 5px; padding-bottom: 0px">
          <router-link :to="'/detail?id=' + item.id_resid" style="color: black;">
            <vs-row>
              <vs-col v-tooltip="'col - 3'" vs-justify="center" vs-align="center" vs-w="6.5">
                <img :src="item.imagea" style="width: 100%; max-height:130px; border-radius: 5px;">
              </vs-col>
              <vs-col v-tooltip="'col - 3'" vs-justify="center" vs-align="center" vs-w="5.5" style="">
                <div class="result-item-detail">
                          <span class="result-title-m">{{item.libelle}}</span>
                          <span class="result-location-m" style="color:orange">
                            <vs-icon icon="place" style="font-size: 15px; color: orange;"></vs-icon>
                            {{item.ville}} {{item.zone}} / <em style="color: #67c23a; font-weight: bold">{{item.typer}}</em>
                          </span>
                          <div class="services-list-m" style="margin-top: 5px">
                            <vs-icon class="services-list-icon-m" icon="verified_user" v-if="item.s_securite == 'true'"></vs-icon>
                            <vs-icon class="services-list-icon-m" icon="wifi" v-if="item.s_wifi == 'true'"></vs-icon>
                            <vs-icon class="services-list-icon-m" icon="pool" v-if="item.s_piscine == 'true'"></vs-icon>
                            <vs-icon class="services-list-icon-m" icon="room_service" v-if="item.s_petitdej == 'true'"></vs-icon>
                            <vs-icon class="services-list-icon-m" icon="tv" v-if="item.s_tv == 'true'"></vs-icon>
                            <vs-icon class="services-list-icon-m" icon="local_parking" v-if="item.s_parking == 'true'"></vs-icon>
                          </div>
                        </div>
                        <br>
                        <div style="text-align: center;margin-top: -10px">
                          <span class="result-title-m" style="font-weight: bold; font-size: 17px; color: #5e5eff"> <vs-icon v-if="argent.nom == 'Dollar'" class="" size="20px" :icon="argent.icone"></vs-icon>{{Intl.NumberFormat().format(Math.round(item.jourt/argent.value * 10) / 10)}} <vs-icon v-if="argent.nom == 'Euro'" class="" size="20px" :icon="argent.icone"></vs-icon><span v-if="argent.nom == 'CFA'">CFA</span><em style="font-size: 12px">/jour</em></span><br>
                          <span class="result-title-m" style="color: gray; font-size: 10px; text-align: center" v-if="item.reductionok== 'true'">Reduction à partir de {{item.reductionj}}</span><br>
                        </div>
              </vs-col>
            </vs-row>
          </router-link>
        </vs-card>
       
        
      </div>
      </div>
      
      <div>

        <vs-pagination style="width: 75%;padding: 20px" :total="Math.ceil(residencesn.length/9)" v-model="currentxPaginate"></vs-pagination>
      </div>
    </div>
    
    
  </div>
</template>

<script>
import axios from 'axios';
export default {
  name: 'Head',
  computed: {
    users() {
      return this.$store.state.users;
    },
    argent() {
      return this.$store.state.money;
    }
  },
  watch: {
    currentxPaginate: function () {
      this.Pagination(this.ordre);
    }
  },
   data(){
    return {
      ordre: 1,
      changer: 0,
      changerService: 0,
      useri: {
        name: '',
        email: '',
        contact: '',
      },
      recherchelance: false,
      suite: 'true',
      selectp:'CI',
      row: 0,
      chercheOK: true,
      residS:false,
      select1:'Abidjan',
      select2:'Toutes les zones',
      select3:'Tous types',
      select4:'Tous les prix',
      select5: 'Tous les services',
      ville: null,
      zobe: null,
      residences: null,
      residencesn: null,
      nbresid: null,
       options1:[
        {text:'Abidjan',value:0},
        {text:'Grand-Bassam',value:1},
        {text:'Yamoussoukro',value:2},
        {text:'Bouaké',value:2},
      ],
       options2:[
        {text:'Toutes les zones',value:0},
        {text:'Abobo',value:1},
        {text:'Adjamé',value:2},
        {text:'Angré',value:3},
        {text:'Anyama',value:4},
        {text:'Attécoubé',value:5},
        {text:'Bingerville',value:6},
        {text:'Cocody',value:7},
        {text:'II Plateau',value:8},
        {text:'Koumassi',value:9},
        {text:'Marcory',value:10},
        {text:'Plateau',value:11},
        {text:'Port-Bouet',value:12},
        {text:'Riviera',value:13},
        {text:'Treichville',value:14},
        {text:'Yopougon',value:15},
      ],
      options3:[
        {text:'Tous types',value:0},
        {text:'STUDIO',value:1},
        {text:'2 PIECES',value:2},
        {text:'3 PIECES',value:3},
        {text:'4 PIECES',value:4},
        {text:'PLUS',value:5},
      ],
      options4:[
        {text:'Tous les prix',value:0},
        {text:'1 à 15.000 CFA',value:1},
        {text:'15.000 à 25.000 CFA',value:2},
        {text:'25.000 à 50.000 CFA',value:3},
        {text:'Plus',value:4},
      ],
      options5:[
        {text:'Services',value:0},
        {text:'Avec Piscine',value:1},
        {text:'Avec Wifi',value:2},
        {text:'Avec 2 Chambres',value:3},
        {text:'Avec 3 Chambres',value:4},
      ],
      totalPaginate: 1,
      currentxPaginate: 1,
      nbtotalPaginate: 9,
      datafiltre: [],
       con: true,
    }
  },
  methods: {
    changePrix(a) {
      this.$vs.loading({
        type:'point',
      })
      setTimeout(function () {
        this.$vs.loading.close()}.bind(this), 300);
      let prixbas = 0;
      let prixhaut = 0;
      if(this.select4 == '1 à 15.000 CFA'){
        prixbas = 0;
        prixhaut = 15000;
      } else if(this.select4 == '15.000 à 25.000 CFA'){
        prixbas = 15000;
        prixhaut = 25000;
      } else if(this.select4 == '25.000 à 50.000 CFA'){
        prixbas = 25001;
        prixhaut = 50000;
      } else if(this.select4 == 'Plus'){
        prixbas = 50000;
        prixhaut = 500000;
      } else {
        prixbas = 0;
        prixhaut = 500000;
      }
      this.changer = a;
      this.select5 = 'Services';
      this.datafiltre = [];
      this.residencesn.forEach((item) => {
        if(item.jourt >= prixbas && item.jourt <= prixhaut){
          this.datafiltre.push( item );
          }
        })
        this.ordre = 2;
      this.Pagination(this.ordre);
    },

    changeServea(a) {
      this.$vs.loading({
        type:'point',
      })
      setTimeout(function () {
        this.$vs.loading.close()}.bind(this), 300);
        this.changer = a;
        this.datafiltre = [];
      if(a == 'Avec Piscine'){
        this.residencesn.forEach((item) => {
        if(item.s_piscine == 'true'){
          this.datafiltre.push( item );
          }
        })
      } else if(a == 'Avec Wifi'){
        this.residencesn.forEach((item) => {
        if(item.s_wifi == 'true'){
          this.datafiltre.push( item );
          }
        })
      } else if(a == 'Avec 2 Chambres'){
        this.residencesn.forEach((item) => {
        if(item.nb_chambre == 2){
          this.datafiltre.push( item );
          }
        })
      } else {
          this.datafiltre == this.residencesn;
      }
      this.select4 = '';
        this.ordre = 2;
      this.Pagination(this.ordre);
    },
    Pagination(a) {
      let first = (this.nbtotalPaginate*this.currentxPaginate+1) - this.nbtotalPaginate;
      let last = first + (this.nbtotalPaginate-1);
      let data = [];

      if(a == 1) {
        if(this.currentxPaginate == Math.ceil(this.nbresid/9)){
          
        first = this.residencesn.length - (this.nbresid % 9) + 1;
        last = this.nbresid;
        }
        for (let i = first; i <= last; i++) {
          data.push( this.residencesn[first-1] );
          first = first + 1;
        }
      } else {
        this.residencesn.length = this.datafiltre.length;
        if(this.currentxPaginate == Math.ceil(this.nbresid/9)){
          first = this.nbresid - (this.nbresid % 9);
        last = this.nbresid;
        }
        for (let i = first; i <= last; i++) {
          data.push( this.datafiltre[first-1] );
          first = first + 1;
        }
      }
      
      this.residences = data;
      window.scrollTo(0,0);
      this.$vs.loading({
        type:'point',
      })
      setTimeout(function () {
      this.$vs.loading.close()}.bind(this), 300);
    },

    loadr () {
        if(this.select1 !== 'Abidjan') {
        this.select2 = 'Toutes les zones'
      }
      this
     
       let formData = new FormData();
      formData.append('ville', this.select1);
      formData.append('zone', this.select2);
      formData.append('type', this.select3);
      formData.append('id', this.row);
      this.$vs.loading({
        type:'point',
      })
       axios.post('https://autre.sarezide.com/sarezide_recherche_residm_suitesw.php', formData)
       .then((response) => {
         this.recherchelance = true;
          this.residencesn = response.data.data;
          this.row = this.residencesn[this.residencesn.length - 1].id_resid;
          this.suite = response.data.suite;
          this.residencesn.forEach((item) => {
            this.residences.push( item );
          })
         console.log(this.residences);
         setTimeout(function () {
        this.$vs.loading.close()}.bind(this), 1000);
      })
      .catch(function (error) {
        console.log(error);
        this.$vs.loading.close()
      });
    },

    deconnexion() {
      this.$store.commit('Connexion', this.useri);
      this.users.name = '';
      this.$router.push({ path: '/recherche' });
    },

    getVille() {
      this.$vs.loading({
        type:'point',
      })
      axios.get('https://autre.sarezide.com/sarezide_get_ville.php')
      .then((response) => {
        this.ville = response.data.data;
        console.log(this.ville);
        this.$vs.loading.close()
      }, (error) => {
        console.log(error);
        this.$vs.loading.close()
      });
    },

    getResidences() {
      this.$vs.loading({
        type:'point',
      })
      axios.get('https://autre.sarezide.com/sarezide_get_residencew.php')
      .then((response) => {
        this.residencesn = response.data.data;
        this.nbresid = response.data.nb;
        this.$vs.loading.close();
        console.log(response);
        this.ordre = 1;
        this.Pagination(this.ordre);
      }, (error) => {
        console.log(error);
        this.$vs.loading.close()
      });
    },

    Gen() {
      if(this.$route.query.ville.length > 2) {
        this.select1 = this.$route.query.ville;
        this.select2 = this.$route.query.zone;
        this.selectp = this.$route.query.pays;
        this.rechercheResidences();
      }
    },

    rechercheResidencess() {
      if(this.select1 !== 'Abidjan') {
        this.select2 = 'Toutes les zones'
      }
      
     
       let formData = new FormData();
       formData.append('ville', this.select1);
      formData.append('zone', this.select2);
      formData.append('type', this.select3);
      formData.append('pays', this.selectp);
      this.$vs.loading({
        type:'point',
      })
       axios.post('https://autre.sarezide.com/sarezide_recherche_residmw.php', formData)
       .then((response) => {
         this.chercheOK = false;
         this.recherchelance = true;
         this.residencesn = response.data.data;
         this.nbresid = response.data.nb;
         this.currentxPaginate = 1;
         
         this.ordre = 1;
         this.Pagination(this.ordre);
         setTimeout(function () {
        this.$vs.loading.close()}.bind(this), 1000);
      })
      .catch(function (error) {
        console.log(error);
        this.$vs.loading.close()
      });
    },

    rechercheResidences() {
      if(this.select1 !== 'Abidjan') {
        this.select2 = 'Toutes les zones'
      }
      
     
       let formData = new FormData();
       formData.append('ville', this.select1);
      formData.append('zone', this.select2);
      formData.append('type', this.select3);
      formData.append('pays', this.selectp);
      this.$vs.loading({
        type:'point',
      })
       axios.post('https://autre.sarezide.com/sarezide_recherche_residmw.php', formData)
       .then((response) => {
         this.chercheOK = false;
         this.recherchelance = true;
         this.residencesn = response.data.data;
         this.nbresid = response.data.nb;
         this.ordre = 1;
         this.Pagination(this.ordre);
         setTimeout(function () {
        this.$vs.loading.close()}.bind(this), 1000);
      })
      .catch(function (error) {
        console.log(error);
        this.$vs.loading.close()
      });
    },

    getZone() {
      this.$vs.loading({
        type:'point',
      })
      axios.get('https://autre.sarezide.com/sarezide_get_zone.php')
      .then((response) => {
        this.zone = response.data.data;
        console.log(this.ville);
        this.$vs.loading.close()
      }, (error) => {
        console.log(error);
        this.$vs.loading.close()
      });
    },

    getZonea(a) {
      console.log(this.select1);  
      this.$vs.loading({
        type:'point',
      })
      axios.get('https://autre.sarezide.com/sarezide_get_zone.php?resid=' + a)
      .then((response) => {
        this.zone = response.data.data;
        console.log(this.zone);
        this.$vs.loading.close()
      }, (error) => {
        console.log(error);
        this.$vs.loading.close()
      });
    },

  },

  mounted() {
    this.getVille();
    this.getResidences();
    this.Gen();
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}

.vs-select--label {
    font-size: .85rem;
    color: rgba(0,0,0,.6);
}

</style>
