<template>
  <div class="corps">

    
    <div class="accueil-bodysearch-themea">
            <vs-card style="padding: 0px; box-shadow: 0 0 0 10px rgb(255 255 255 / 15%), 0 2px 48px 0 rgb(0 0 0 / 4%); border-radius: 35px;">
              <vs-row style="padding: 5px;">
                <vs-col v-tooltip="'col - 3'" vs-justify="center" vs-align="center" vs-w="2.3">
                  <div style="display: flex;">
                    <span style="font-size: 14px; letter-spacing:.5px; color: #64688c;padding: 15px; font-family: 'Jost', sans-serif">Pays</span>
                    <vs-select
                      @change="choixpays()"
                      style="font-family: 'Jost', sans-serif"
                      class="select-zone web-search"
                      icon-after="true"
                      icon="location_city"
                      v-model="selectp"
                      >
                      <vs-select-item :key="index" :value="item.value" :text="item.text" v-for="item,index in optionsPays" />
                    </vs-select>
                  </div>
                </vs-col>
                <vs-col v-tooltip="'col - 3'" vs-justify="center" vs-align="center" vs-w="2.9">
                  <div style="display: flex;">
                    <span style="font-size: 14px; letter-spacing:.5px; color: #64688c; padding: 15px; font-family: 'Jost', sans-serif">Ville</span>
                    <vs-select
                      @change="choixvilles()"
                      style="font-family: 'Jost', sans-serif"
                      class="select-zone web-search"
                      icon-after="true"
                      icon="location_city"
                      v-model="select1"
                      >
                      <vs-select-item :key="index" :value="item.libelle" :text="item.libelle" v-for="item,index in options1" />
                    </vs-select>
                  </div>
                </vs-col>
                <vs-col v-tooltip="'col - 3'" vs-justify="center" vs-align="center" vs-w="2.9">
                  <div style="display: flex;">
                    <span style="font-size: 14px; letter-spacing:.5px; color: #64688c;padding: 15px; font-family: 'Jost', sans-serif">Zone</span>
                    <vs-select
                      style="font-family: 'Jost', sans-serif"
                      class="select-zone web-search"
                      icon-after="true"
                      icon="location_on"
                      v-model="select2"
                      >
                      <vs-select-item :key="index" :value="item.libelle" :text="item.libelle" v-for="item,index in options2" />
                    </vs-select>
                  </div>
                </vs-col>
                <vs-col v-tooltip="'col - 3'" vs-justify="center" vs-align="center" vs-w="2.9">
                  <div style="display: flex;">
                    <span style="font-size: 14px; letter-spacing:.5px; color: #64688c;padding: 15px; font-family: 'Jost', sans-serif">Pièces</span>
                    <vs-select
                      style="font-family: 'Jost', sans-serif"
                      class="select-zone web-search"
                      icon-after="true"
                      icon="dynamic_feed"
                      v-model="select3"
                      >
                      <vs-select-item :key="index" :value="item.text" :text="item.text" v-for="item,index in options3" />
                    </vs-select>
                  </div>
                </vs-col>
                
                <vs-col v-tooltip="'col - 3'" vs-justify="center" vs-align="center" vs-w="1">
                  <div style="display: flex;">
                    <vs-button @click="rechercheResidences()" radius color="primary" type="filled" icon="search" style="margin: 6px"></vs-button>
                  </div>
                </vs-col>
              </vs-row>
            </vs-card>
          </div>
    <div class="accueil-bodysearch-themea">
     
      <div>
        <span v-if="residS">Resultats : {{nbresid}} Résidence(s) trouvée(s) </span>
      <span v-else>{{nbresid}} Résidences disponibles </span>
        <el-tag style="position: relative; margin-top: -8px" v-if="select4 != 0 && select4 != 'Tous les prix'"><b style=" text-decoration: underline"> De {{changer}}</b></el-tag>
        <el-tag style="position: relative; margin-top: -8px;" v-if="select5 != 0 && select5 != 'Services'"><b style=" text-decoration: underline"> {{select5}}</b></el-tag>
      </div>
      <vs-card style="float: right; width: 430px; padding: 0px; margin-top: -28px; margin-bottom: -1px">
        
        <div style="display: flex; padding: 0; margin-bottom: -15px">
          <span v-if="nbresid==0" style="padding: 5px;">Aucun <span style="font-size:18px; color: blue;"></span></span>
          <span v-if="nbresid!=0" style="padding: 5px;">Page <span style="font-size:18px; color: blue;"><b>{{currentxPaginate}}/</b>{{Math.ceil(nbresid/9)}}</span></span>
          
          <select class="designSelect" placeholder="Filtre par Prix" v-model="select4"  @change="changePrix(select4)" name="cars" id="cars">
            <option disabled selected value="">Trier par Prix</option>
            <option style="line-height: 8px; color: gray" v-for="item in options4" :key="item.value" :value="item.text">{{item.text}}</option>
            
          </select>

          <select class="designSelect" placeholder="Filtre par Prix" v-model="select5"  @change="changeServea(select5)" name="cars" id="cars">
            <option disabled selected value="">Trier par Service</option>
            <option style="line-height: 8px; color: gray" v-for="item in options5" :key="item.value" :value="item.text">{{item.text}}</option>
            
          </select>
          
        </div>

                    
      </vs-card>
    </div>
    <div class="accueil-bodysearch-themea">
      <vs-row style="padding: 5px;">
        <vs-col v-for="item in residences" :key="item.id_resid" v-tooltip="'col - 3'" vs-justify="center" vs-align="center" vs-w="4">
          <div class="accueil-bodycarditem-themeb" style="width: 100%; padding: 8px;">
                      <vs-card style="padding: 8px; border-radius: 20px; width: 100%;">

                        <div style="background-color: #ecfafb; color: #4f61df; border-top-left-radius: 10px; border-top-right-radius: 10px;" v-if="select5 != 'Services'">{{select5}} 
                          <span style="position: absolute; margin-top: - 40px">
                            <vs-icon v-if="select5=='Avec Wifi'" style="padding-left: 5px; margin-top: -5px" icon="wifi" color="primary"></vs-icon>
                            <vs-icon v-if="select5=='Avec Piscine'" style="padding-left: 5px; margin-top: -5px" icon="pool" color="primary"></vs-icon>
                            <vs-icon v-if="select5=='Avec 2 Chambres' || select5=='Avec 3 Chambres'" style="padding-left: 5px; margin-top: -5px" icon="meeting_room" color="primary"></vs-icon>
                          </span>
                        </div>
                        <el-carousel height="215px" :autoplay="false" style="cursor: pointer;">
                          
                          <el-carousel-item v-if="item.imagea.length > 10">
                            <router-link :to="'/detail?id=' + item.id_resid">
                              
                            <center><img :src="item.imagea" style="width: 100%; border-radius: 8px;"></center>
                          </router-link>
                          </el-carousel-item>
                          <el-carousel-item v-if="item.imageb.length > 10">
                            <router-link :to="'/detail?id=' + item.id_resid">
                            <center><img :src="item.imageb" style="width: 100%; border-radius: 8px;"></center>
                          </router-link>
                          </el-carousel-item>
                          <el-carousel-item v-if="item.imagec.length > 10">
                            <router-link :to="'/detail?id=' + item.id_resid">
                            <center><img :src="item.imagec" style="width: 100%; border-radius: 8px;"></center>
                          </router-link>
                          </el-carousel-item>
                          <el-carousel-item v-if="item.imaged.length > 10">
                            <router-link :to="'/detail?id=' + item.id_resid">
                            <center><img :src="item.imaged" style="width: 100%; border-radius: 8px;"></center>
                            </router-link>
                          </el-carousel-item>

                          <el-carousel-item v-if="item.imagee.length > 10">
                            <router-link :to="'/detail?id=' + item.id_resid">
                            <center><img :src="item.imagee" style="width: 100%; border-radius: 8px;"></center>
                            </router-link>
                          </el-carousel-item>
                          <el-carousel-item v-if="item.imagef.length > 10">
                            <router-link :to="'/detail?id=' + item.id_resid">
                            <center><img :src="item.imagef" style="width: 100%; border-radius: 8px;"></center>
                            </router-link>
                          </el-carousel-item>
                          <el-carousel-item v-if="item.imageg.length > 10">
                            <router-link :to="'/detail?id=' + item.id_resid">
                            <center><img :src="item.imageg" style="width: 100%; border-radius: 8px;"></center>
                            </router-link>
                          </el-carousel-item>
                          <el-carousel-item v-if="item.imageh.length > 10">
                            <router-link :to="'/detail?id=' + item.id_resid">
                            <center><img :src="item.imageh" style="width: 100%; border-radius: 8px;"></center>
                          </router-link>
                          </el-carousel-item>
                          
                        </el-carousel>
                      <vs-row>
                        <vs-col vs-w="7" style="background-color: #e2fdfd; border-radius: 20px; margin: 8px">
                          <div style="display: inline-flex;">
                            <div style="display: inline-flex;">
                              <span><img src="https://upload.wikimedia.org/wikipedia/commons/f/fe/Flag_of_C%C3%B4te_d%27Ivoire.svg" style="width: 30px; border-radius: 8px; margin-top: 6px; margin-right: 5px;"></span>
                              <span style="padding-top: 9px; font-size: 12px; font-weight: normal; color: #64688c; font-weight: bold;">{{item.ville}}</span>
                            </div>
                            <div style="display: flex;" v-if="item.zone.length>2">
                              <span><vs-avatar  color="primary" icon="location_on" style=""/></span>
                              <span style="padding-top: 9px; font-size: 12px; font-weight: normal; color: #64688c;">{{item.zone}}</span>
                            </div>
                          </div>
                        </vs-col>
                        <vs-col vs-type="flex"  vs-align="center" vs-w="4" style="margin: 0; padding: 0">
                          <h2 style="text-align: left; padding: 8px; font-size: 21px;"> {{item.typer}}</h2>
                        </vs-col>
                      </vs-row>
                        
                          <vs-col vs-type="grid"  vs-align="center" vs-w="8" style="margin: 0; padding: 0">
                            <span style="text-align: left; font-size: 16px; padding: 8px; color: #64BC5F; font-family: 'Jost', sans-serif;"><vs-icon v-if="argent.nom == 'Dollar'" class="" size="20px" :icon="argent.icone"></vs-icon>{{Intl.NumberFormat().format(Math.round(item.jourt/argent.value * 10) / 10)}}<vs-icon v-if="argent.nom == 'Euro'" class="" size="20px" :icon="argent.icone"></vs-icon> <span v-if="argent.nom == 'CFA'">CFA</span><span style="color:#64688c">/Jour</span></span>
                            <span style="text-align: left; font-family: 'Jost', sans-serif; padding: 0px 8px;" class="result-price-reduction" v-if="item.reductionok == 'true'">Réduction à partir de {{item.reductionj}}</span>
                          </vs-col>
                          <vs-col vs-type="flex" vs-w="4">
                            <router-link :to="'/detail?id=' + item.id_resid">
                              <vs-button style="width: 120px; margin-top: 10px; border: 5px solid white; float: right;" color="primary"  icon="location_city" class="headers-right-button-themea" type="filled">Details</vs-button>
                            </router-link>
                          </vs-col>
                      </vs-card>
                    </div>
        </vs-col>
        
      </vs-row>
      <div style="width: 100%;">
        
        <vs-pagination :total="Math.ceil(nbresid/9)" v-model="currentxPaginate"></vs-pagination>
      </div>
    </div>
    
  
  </div>
</template>

<script>

import axios from 'axios';
import { isMobile } from 'mobile-device-detect';
// @ is an alias to /src

export default {
  name: 'Web',
  computed: {
    argent() {
      return this.$store.state.money;
    },
  },
  watch: {
    currentxPaginate: function () {
      this.Pagination(this.ordre);
    }
  },
  data(){
    return {
      ordre: 1,
      changer: 0,
      changerService: 0,
      price: 15000,
      msg: isMobile ? 'Welcome to Your Vue.js mobile App!' : 'Welcome to Your Vue.js App',
      residS:false,
      select1:'Abidjan',
      selectp:'CI',
      select2:'Toutes les zones',
      select3:'Tous types',
      select4:'',
      ville: null,
      prixa: 15000,
      prixb: 20000,
      recherchelance: false,
      suite: 'true',
      zobe: null,
      residences: null,
      nbresid: 0,
      options1:null,
      optionsPays:[
        {text:'Côte d\'Ivoire',value:'CI'},
        {text:'Mali',value:'ML'},
        {text:'Caméroune',value:'CM'},
        {text:'Sénégal',value:'SN'},
      ],
      options2:[
      ],
      options3:[
        {text:'Tous types',value:0},
        {text:'STUDIO',value:1},
        {text:'2 PIECES',value:2},
        {text:'3 PIECES',value:3},
        {text:'4 PIECES',value:4},
        {text:'PLUS',value:5},
      ],
      options4:[
        {text:'Tous les prix',value:0},
        {text:'1 à 15.000 CFA',value:1},
        {text:'15.000 à 25.000 CFA',value:2},
        {text:'25.000 à 50.000 CFA',value:3},
        {text:'Plus',value:4},
      ],
      options5:[
        {text:'Services',value:0},
        {text:'Avec Piscine',value:1},
        {text:'Avec Wifi',value:2},
        {text:'Avec 2 Chambres',value:3},
      ],
      totalPaginate: 1,
      currentxPaginate: 1,
      nbtotalPaginate: 9,
      datafiltre: [],
      locateid: '',
      villeImg: null,
    }
  },

  methods: {
    Pagination(a) {
      let first = (this.nbtotalPaginate*this.currentxPaginate+1) - this.nbtotalPaginate;
      let last = first + (this.nbtotalPaginate-1);
      let data = [];

      if(a == 1) {
        
        if(this.currentxPaginate == Math.ceil(this.nbresid/9)){
        first = this.nbresid - (this.nbresid % 9) + 1;
        last = this.nbresid;
        }
        for (let i = first; i <= last; i++) {
          data.push( this.residencesn[first-1] );
          first = first + 1;
        }
      } else {
        this.nbresid = this.datafiltre.length;
        if(this.currentxPaginate == Math.ceil(this.nbresid/9)){
          first = this.nbresid - (this.nbresid % 9) + 1;
          last = this.nbresid;
        }
        for (let i = first; i <= last; i++) {
          data.push( this.datafiltre[first-1] );
          first = first + 1;
        }
      }
      
      this.residences = data;
      window.scrollTo(0,0);
      this.$vs.loading({
        type:'point',
      })
      setTimeout(function () {
      this.$vs.loading.close()}.bind(this), 300);
    },
    load () {
        this.$vs.loading({
        type:'point',
        })
        axios.get('https://autre.sarezide.com/sarezide_get_residence_nextw.php?id='+ this.row)
        .then((response) => {
          this.residencesn = response.data.data;
          this.row = this.residencesn[this.residencesn.length - 1].id_resid;
          this.suite = response.data.suite;
          this.residencesn.forEach((item) => {
            this.residences.push( item );
          })
          this.$vs.loading.close()
        }, (error) => {
          console.log(error);
          this.$vs.loading.close()
        });
    },

    changePrix(a) {
      this.$vs.loading({
        type:'point',
      })
      setTimeout(function () {
        this.$vs.loading.close()}.bind(this), 300);
      let prixbas = 0;
      let prixhaut = 0;
      if(this.select4 == '1 à 15.000 CFA'){
        prixbas = 0;
        prixhaut = 15000;
      } else if(this.select4 == '15.000 à 25.000 CFA'){
        prixbas = 15001;
        prixhaut = 25000;
      } else if(this.select4 == '25.000 à 50.000 CFA'){
        prixbas = 25001;
        prixhaut = 50000;
      } else if(this.select4 == 'Plus'){
        prixbas = 50000;
        prixhaut = 500000;
      } else {
        prixbas = 0;
        prixhaut = 500000;
      }
      this.changer = a;
      this.select5 = 'Services';
      this.datafiltre = [];
      this.residencesn.forEach((item) => {
        if(item.jourt >= prixbas && item.jourt <= prixhaut){
          this.datafiltre.push( item );
          }
        })
        this.ordre = 2;
      this.Pagination(this.ordre);
    },

    changeServea(a) {
      this.$vs.loading({
        type:'point',
      })
      setTimeout(function () {
        this.$vs.loading.close()}.bind(this), 300);
        this.changer = a;
        this.datafiltre = [];
      if(a == 'Avec Piscine'){
        this.residencesn.forEach((item) => {
        if(item.s_piscine == 'true'){
          this.datafiltre.push( item );
          }
        })
      } else if(a == 'Avec Wifi'){
        this.residencesn.forEach((item) => {
        if(item.s_wifi == 'true'){
          this.datafiltre.push( item );
          }
        })
      } else if(a == 'Avec 2 Chambres'){
        this.residencesn.forEach((item) => {
        if(item.nb_chambre == 2){
          this.datafiltre.push( item );
          }
        })
      } else {
          this.datafiltre == this.residencesn;
      }
      this.select4 = '';
        this.ordre = 2;
      this.Pagination(this.ordre);
    },

    changeServe(val) {
      this.$vs.loading({
        type:'point',
      })
      setTimeout(function () {
      this.$vs.loading.close()}.bind(this), 300);
      let data = null;
      if(this.select4 != ''){
        data = this.residencesn;
      } else {
        data = this.residences;
      }
      const lala = [];
      
      if(val == 'Avec Piscine'){
        data.forEach((item) => {
        if(item.s_piscine == 'true'){
          lala.push( item );
          }
        })
        this.residences = lala;
      } else if(val == 'Avec Wifi'){
        data.forEach((item) => {
        if(item.s_wifi == 'true'){
          lala.push( item );
          }
        })
        this.residences = lala;
      } else if(val == 'Avec 2 Chambres'){
        data.forEach((item) => {
        if(item.nb_chambre == 2 || item.nb_chambre == '2'){
          lala.push( item );
          }
        })
        this.residences = lala;
      } else if(val == 'Avec 3 Chambres'){
        data.forEach((item) => {
        if(item.nb_chambre == 3 || item.nb_chambre == '3'){
          lala.push( item );
          }
        })
        this.residences = lala;
      } else {
        this.residences = this.residencesn;
      }
      this.ordre = 2;
      this.Pagination(this.ordre);
      
    },

    loadr () {
        if(this.select1 !== 'Abidjan') {
        this.select2 = 'Toutes les zones'
      }
      this
     
       let formData = new FormData();
      formData.append('ville', this.select1);
      formData.append('zone', this.select2);
      formData.append('type', this.select3);
      formData.append('id', this.row);
      this.$vs.loading({
        type:'point',
      })
       axios.post('https://autre.sarezide.com/sarezide_recherche_residm_suitesw.php', formData)
       .then((response) => {
         this.recherchelance = true;
          this.residencesn = response.data.data;
          this.row = this.residencesn[this.residencesn.length - 1].id_resid;
          this.suite = response.data.suite;
          this.residencesn.forEach((item) => {
            this.residences.push( item );
          })
         console.log(this.residences);
         setTimeout(function () {
        this.$vs.loading.close()}.bind(this), 1000);
      })
      .catch(function (error) {
        console.log(error);
        this.$vs.loading.close()
      });
    },
    getVille() {
      this.$vs.loading({
        type:'point',
      })
      axios.get('https://autre.sarezide.com/sarezide_get_ville.php')
      .then((response) => {
        this.ville = response.data.data;
        this.villeImg = response.data.data;
        this.$vs.loading.close()
      }, (error) => {
        console.log(error);
        this.$vs.loading.close()
      });
      
      
    },

    getResidences() {
      this.$vs.loading({
        type:'point',
      })
      axios.get('https://autre.sarezide.com/sarezide_get_residencew.php')
      .then((response) => {
        this.residencesn = response.data.data;
        this.nbresid = response.data.nb;
        this.$vs.loading.close();
        console.log(response);
        this.ordre = 1;
        this.Pagination(this.ordre);
      }, (error) => {
        console.log(error);
        this.$vs.loading.close()
      });
    },

    getResidencesPrix(prix) {
        let start = 10000;
      if(prix == this.prixa){
        start = 10000;
      } else if(prix == this.prixb){
        start = 16000;
      }
      this.$vs.loading({
        type:'point',
      })
      axios.get('https://autre.sarezide.com/sarezide_get_residences_sprix.php?prix=' + prix + '&start=' + start )
      .then((response) => {
        this.residences = response.data.data;
        this.nbresid = response.data.nb;
        this.$vs.loading.close()
        console.log(this.residences)
      }, (error) => {
        console.log(error);
        this.$vs.loading.close()
      });
    },

    getResidencesOption(opt) {
      this.currentxPaginate = 1;
      this.$vs.loading({
        type:'point',
      })
      if(opt == 'piscine') {
        axios.get('https://autre.sarezide.com/sarezide_get_residences_spiscine.php')
      .then((response) => {
        this.residences = response.data.data;
        this.nbresid = response.data.nb;
        this.$vs.loading.close()
        console.log(this.residences)
      }, (error) => {
        console.log(error);
        this.$vs.loading.close()
      });
      } else if(opt == 'wifi') {
        axios.get('https://autre.sarezide.com/sarezide_get_residences_swifiw.php')
      .then((response) => {
        this.residences = response.data.data;
        this.nbresid = response.data.nb;
        this.$vs.loading.close()
        console.log(this.residences)
      }, (error) => {
        console.log(error);
        this.$vs.loading.close()
      });
      }
    },

  rechercheResidences() {
      if(this.select1 != 'Abidjan') {
        this.select2 = 'Toutes les zones'
      }
      this.currentxPaginate = 1;
     
       let formData = new FormData();
      formData.append('ville', this.select1);
      formData.append('zone', this.select2);
      formData.append('type', this.select3);
      formData.append('pays', this.selectp);
      this.$vs.loading({
        type:'point',
      })
       axios.post('https://autre.sarezide.com/sarezide_recherche_residmw.php', formData)
       .then((response) => {
        this.nbresid = response.data.nb;
         this.residencesn = response.data.data;
         this.chercheOK = false;
         this.recherchelance = true;
         this.ordre = 1;
         this.Pagination(this.ordre);
         if(this.nbresid < 1) {
           this.suite = false;
         }
         console.log(this.residencesn);
         setTimeout(function () {
        this.$vs.loading.close()}.bind(this), 1000);
      })
      .catch(function (error) {
        console.log(error);
        this.$vs.loading.close()
      });
    },

    Gen() {
      if(this.$route.query.ville.length > 2) {
        this.selectp = this.$route.query.pays;
        this.select1 = this.$route.query.ville;
        this.select2 = this.$route.query.zone;
        this.rechercheResidences();
      }
    },

    getZone() {
      this.$vs.loading({
        type:'point',
      })
      axios.get('https://autre.sarezide.com/sarezide_get_zone.php')
      .then((response) => {
        this.zone = response.data.data;
        console.log(this.ville);
        this.$vs.loading.close()
      }, (error) => {
        console.log(error);
        this.$vs.loading.close()
      });
    },

    getZonea(a) {
      console.log(this.select1);  
      this.$vs.loading({
        type:'point',
      })
      axios.get('https://autre.sarezide.com/sarezide_get_zone.php?resid=' + a)
      .then((response) => {
        this.zone = response.data.data;
        console.log(this.zone);
        this.$vs.loading.close()
      }, (error) => {
        console.log(error);
        this.$vs.loading.close()
      });
    },

    locate() {
      axios.get('https://api.country.is/')
      .then((response) => {
        this.locateid = response;
        if(response.data.country == 'SN') {
          this.selectp = 'SN'
        }
        else if(response.data.country == 'CM') {
          this.selectp = 'CM'
        }
        else if(response.data.country == 'ML') {
          this.selectp = 'ML'
        }
        else {
          this.selectp = 'CI'
        }
      }, (error) => {
        console.log(error);
      });
      
    },

    choixpays() {
      this.$vs.loading({
        type:'point',
      })
      axios.get('https://autre.sarezide.com/sarezide_get_ville.php')
      .then((response) => {
        this.ville = response.data.data;
        this.villeImg = response.data.data;
        this.options1 = [];
      
        this.villeImg.forEach((item) => {
          if(item.code == this.selectp){
              this.options1.push( item );
            }
            })
        this.select1 = this.options1[0].libelle;
        this.choixvilles();
        this.$vs.loading.close()
      }, (error) => {
        console.log(error);
        this.$vs.loading.close()
      });
    },

    getVilleLocal() {
       let formData = new FormData();
      formData.append('code', this.$route.query.pays);
      this.$vs.loading({
        type:'point',
      })
       axios.post('https://autre.sarezide.com/sarezide_get_villee.php', formData)
       .then((response) => {
          this.villeImg = response.data.data;
          this.choixpays();
        this.$vs.loading.close()
        })
      .catch(function (error) {
        console.log(error);
        this.$vs.loading.close()
      });
    },

    getVilleLocall() {
       let formData = new FormData();
      formData.append('code', this.selectp);
      this.$vs.loading({
        type:'point',
      })
       axios.post('https://autre.sarezide.com/sarezide_get_villee.php', formData)
       .then((response) => {
          this.villeImg = response.data.data;
        this.$vs.loading.close()
        })
      .catch(function (error) {
        console.log(error);
        this.$vs.loading.close()
      });
    },

    ValideVillle() {
      this.options1 = [];

      this.ville.forEach((item) => {
        if(item.code == this.selectp){
            this.options1.push( item );
          }
          })
        this.select1 = this.$route.query.ville;
    },

    choixvilles() {
      axios.get('https://autre.sarezide.com/sarezide_get_zone.php?resid='+this.select1)
      .then((response) => {
        this.zone = response.data.data;
        this.options2 = [];
        this.zone.forEach((item) => {
        if(item.ville == this.select1){
            this.options2.push( item );
          }
          })
        this.select2 = this.options2[0].libelle;
        this.$vs.loading.close()
      }, (error) => {
        console.log(error);
        this.$vs.loading.close()
      });
    }

  },

  mounted() {
    //this.locate();
    this.getVilleLocal()
    this.getVille();
    this.Gen();
    this.ValideVillle();
  }
}
</script>
<style scoped>
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
.fh {
  font-family: 'Open Sans Condensed', sans-serif;
}
</style>