<template>
  <div class="hello">
   
    <div class="card-nav" v-if="isMobile">
          
            <vs-row style="padding-top: 10px;">

                <vs-col v-tooltip="'col - 3'" vs-type="" vs-align="center" vs-w="6">
                    <div style="padding: 0px 10px">
                        <img src="../assets/rezide.png" width="130"><br>
                        <span style="color: gray; font-size: 13px">Trouvez facilement le meilleur endroit pour un bon sejour</span>
                    </div>
                </vs-col>

                <vs-col v-tooltip="'col - 3'" vs-type="" vs-align="center" vs-w="6">

                    <el-timeline :reverse="reverse">
                        <el-timeline-item
                        timestamp="+225-0102529831 / +225-0789294309 / info@sarezide.com">
                        Contacts
                        </el-timeline-item>
                       
                    </el-timeline>

                </vs-col>

            
            </vs-row>
           <p style="padding: 10px; font-size: 12px; text-align: center">Copyright © 2022 Sarezide.com Tout droits réservés </p>
    </div>
      
    <div class="card-nav" style="width: 100%; display: block;" v-else>
    <vs-divider/>
          <center>
           <img src="../assets/new-logo.png" width="130">
           </center>
           <br>
           <center>
            <p style="color: gray; font-size: 13px; text-align: center">Trouvez facilement le meilleur endroit pour un bon sejour</p>
            <p style="color: gray; font-size: 13px; text-align: center">Contact : +225 01 02 52 98 31 / 07 89 29 43 09 / Email : info@sarezide.com</p>
            <p style="padding: 10px; font-size: 12px; text-align: center">Copyright © 2022 Sarezide.com Tout droits réservés </p>
          </center>
          <div style="margin-top: -25px; margin-bottom: 25px;">
            <router-link to="/apropos"><el-link type="info" style="padding: 1px 11px;">A Propos</el-link></router-link>
            <router-link to="/confidentialite"><el-link type="info" style="padding: 1px 11px;">Politique de confidentialité</el-link></router-link>
            <router-link to="/utilisation"><el-link type="info" style="padding: 1px 11px;">Conditions d'utilisation</el-link></router-link>
          </div>
    </div>

  </div>
</template>

<script>
export default {
  name: 'Head',
  computed: {
    users() {
      return this.$store.state.users;
    }
  },
   data(){
    return {
      isMobile: false,
      useri: {
        name: '',
        email: '',
        contact: '',
      },
      nom:'',
      email:'',
      contact:'',
      message:'',
      
       con: true,
    }
  },
  methods: {
    
  },

  mounted() {
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.hello {
  background: white;
  margin: 0 auto
}
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}

.vs-select--label {
    font-size: .85rem;
    color: rgba(0,0,0,.6);
}

</style>
