<template>
  <div class="hello" style="z-index: 1">
    <div class="head-head-resid">
      <vs-card style="padding: 0px; width: 100%;">
        <vs-row>
          <vs-col v-tooltip="'col - 3'" vs-type="flex" vs-justify="center" vs-align="center" vs-w="3">
            <router-link to="/accueil">
              <img src="../assets/new-logo.png" width="190px" style="padding-top: 8px"> 
            </router-link>
          </vs-col>
          <vs-col v-tooltip="'col - 3'" vs-type="flex" vs-justify="center" vs-align="center" vs-w="4.5">
            <router-link to="/accueil"><vs-button class="headers-button-themea" line-origin="right" color="#383a4e" type="line">Accueil</vs-button></router-link>
            <router-link to="/apropos"><vs-button class="headers-button-themea" line-origin="right" color="#383a4e" type="flat">A Propos</vs-button></router-link>
            <a href="https://clients.sarezide.com/accueil"><vs-button class="headers-button-themea" line-origin="right" color="#383a4e" type="flat" style="color: orange;">Ajouter une résidence</vs-button></a>
            <router-link to="/contact"><vs-button class="headers-button-themea" line-origin="right" color="#383a4e" type="flat">Contacts</vs-button></router-link>
          </vs-col>
          <vs-col v-tooltip="'col - 3'" vs-type="flex" vs-justify="center" vs-align="center" vs-w="2">
            <router-link to="/login" v-if="users.name == ''"><vs-button color="primary" class="headers-right-button-themea" type="filled" icon="person">Connexion</vs-button></router-link>
            <router-link to="/dashboard" v-else><vs-button color="primary" class="headers-right-button-themea" type="filled" icon="person">Dashboard</vs-button></router-link>
          </vs-col>
          <vs-col v-tooltip="'col - 3'" vs-type="flex" vs-justify="center" vs-align="center" vs-w="1">
            <vs-dropdown>
              <a class="a-icon" href="#" style="display: inline-flex;">
                <vs-icon :icon="argent.icone" size="35px" color="#1f74ff" ></vs-icon> 
                <span style="margin-top: 10px">{{argent.nom}}</span>
              </a>

              <vs-dropdown-menu>
                <vs-dropdown-item v-for="val in money" :key="val.nom" @click="changeDevice(val)">
                  <vs-icon :icon="val.icone" size="20px" color="#1f74ff" ></vs-icon>  {{val.nom}}
                </vs-dropdown-item>
                
              </vs-dropdown-menu>
            </vs-dropdown>
          </vs-col>
          <vs-col v-tooltip="'col - 3'" vs-type="flex" vs-justify="center" vs-align="center" vs-w="1.5">
            <vs-dropdown>
              <a class="a-icon" href="#">
                <img width="20" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bc/Flag_of_France_%281794%E2%80%931815%2C_1830%E2%80%931974%2C_2020%E2%80%93present%29.svg/langfr-225px-Flag_of_France_%281794%E2%80%931815%2C_1830%E2%80%931974%2C_2020%E2%80%93present%29.svg.png"> Français
                <vs-icon class="" icon="expand_more"></vs-icon>
              </a>
              
              <vs-dropdown-menu>
                <vs-dropdown-item>
                  Français
                </vs-dropdown-item>
                <vs-dropdown-item>
                  English
                </vs-dropdown-item>
                <vs-dropdown-item divider>
                  Spanish
                </vs-dropdown-item>
              </vs-dropdown-menu>
            </vs-dropdown>
          </vs-col>
          
        </vs-row>
      </vs-card>
    
      <!--
          <vs-navbar class="nabarx nav-head" style="border-bottom: 4px solid #ff9800; z-index: 1; background : white;">
            <div class="zone-of-work" style="display: contents; margin: 0 auto; width: 1320px;"> 
              <div slot="title">
              <vs-navbar-title style="margin-top: 0px">
              <router-link to="/accueil">
                  <img src="../assets/rezide.png" width="170px" style="padding-top: 8px">
                </router-link>
              </vs-navbar-title>
              </div>
              <vs-navbar-item index="1">
                  <a href="#" style="color: #ff9800">+225 07 89 29 43 09</a>
              </vs-navbar-item>
              <vs-navbar-item index="1">
                  <a href="mailto:info@sarezide.com" style="color: #ff9800">info@sarezide.com</a>
              </vs-navbar-item>
              <vs-navbar-item index="2">
                  <a target="blank" href="https://web.facebook.com/SaRezide-105027578764649" style="display: flex">
                  
                      <vs-icon icon="facebook" size="small" bg="blue" color="white" round style=""></vs-icon>
                      <span style="padding-left: 8px" >sarezide</span>
                        <span style="padding-left: 8px" >{{users.name}}</span>
                      
                  </a>
                  
              </vs-navbar-item>
              <vs-navbar-item index="2">
                  <router-link to="/login" v-if="users.name == ''"><vs-button color="success" type="filled">Connexion</vs-button></router-link>
                  <router-link to="/dashboard" v-else><vs-button color="success" type="filled">Dashboard</vs-button></router-link>
                
              </vs-navbar-item>
            </div>
          </vs-navbar>
      -->
    </div>
    
    
  </div>
</template>

<script>
export default {
  name: 'Head',
  computed: {
    users() {
      return this.$store.state.users;
    },
    argent() {
      return this.$store.state.money;
    }
  },
   data(){
    return {
      useri: {
        name: '',
        email: '',
        contact: '',
      },
      options: [{
          value: 'Option1',
          label: 'Option1'
        }, {
          value: 'Option2',
          label: 'Option2'
        }, {
          value: 'Option3',
          label: 'Option3'
        }, {
          value: 'Option4',
          label: 'Option4'
        }, {
          value: 'Option5',
          label: 'Option5'
        }],
        money: [
          {
            nom: 'Dollar',
            icone: 'attach_money',
            value: 500
          },
          {
            nom: 'Euro',
            icone: 'euro',
            value: 650
          },
          {
            nom: 'CFA',
            icone: 'payments',
            value: 1
          },
        ],
        value: '',
      value1: 5,
       con: true,
       select1:2,
       options1:[
        {text:'Abidjan',value:'Abidjan'},
        {text:'Grand-Bassam',value:'Grand-Bassam'},
        {text:'Yamoussoukro',value:'Yamoussoukro'},
      ],
    }
  },
  methods: {
    deconnexion() {
      this.$store.commit('Connexion', this.useri);
      this.users.name = '';
      this.$router.push({ path: '/about' });
    },
    changeDevice(val) {
      this.$store.commit('Devise', val);
    }
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}

input {
  background-color: #42b983;
}
</style>
