<template>
  <div class="hello">
    <div style="border-bottom: 2px solid rgb(255, 166, 3)">
        <vs-row>
            <vs-col v-tooltip="'col - 3'" vs-type="flex" vs-align="center" vs-w="5.5">
              <router-link to="/recherche">
                <img src="../assets/new-logo.png" width="150" style="padding-top: 4px">
              </router-link>
            </vs-col>
            <vs-col v-tooltip="'col - 3'" vs-align="center" vs-w="6.5" style="padding: 15px">
            <div style="float: right;">
              <vs-dropdown style="padding: 1px 5px;">
              <a class="a-icon" href="#">
                Dév : <span style="color: blue;">{{argent.nom}}</span>
                <vs-icon class="" icon="expand_more"></vs-icon>
              </a>

              <vs-dropdown-menu>
                <vs-dropdown-item v-for="val in money" :key="val.nom" @click="changeDevice(val)">
                  <vs-icon :icon="val.icone" size="20px" color="#1f74ff" ></vs-icon> {{val.nom}}
                </vs-dropdown-item>s
              </vs-dropdown-menu>
            </vs-dropdown>
            <vs-dropdown style="padding: 1px 5px;">
              <a class="a-icon" href="#">
                Lang <img width="20" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bc/Flag_of_France_%281794%E2%80%931815%2C_1830%E2%80%931974%2C_2020%E2%80%93present%29.svg/langfr-225px-Flag_of_France_%281794%E2%80%931815%2C_1830%E2%80%931974%2C_2020%E2%80%93present%29.svg.png">
                <vs-icon class="" icon="expand_more"></vs-icon>
              </a>

              <vs-dropdown-menu>
                <vs-dropdown-item>
                  Français
                </vs-dropdown-item>
                <vs-dropdown-item>
                  English
                </vs-dropdown-item>
                <vs-dropdown-item divider>
                  Spanish
                </vs-dropdown-item>
              </vs-dropdown-menu>
            </vs-dropdown>
            </div>
              
             
             
            </vs-col>
            
        </vs-row>    
         
         </div>
         <div class="card-nav" style="margin-bottom: 5px; background-color: white;">
           <vs-row>
              <vs-col v-tooltip="'col - 3'" vs-type="grid" vs-align="center" vs-w="4">
                <router-link to="/contact">
                  <el-button class="ico" style="font-size: 12px; color: #c3c3c3; padding: 0px" type="text" icon="el-icon-service">Nous joindre</el-button>
                </router-link>
              </vs-col>
              <vs-col v-tooltip="'col - 3'" vs-type="grid" vs-align="center" vs-w="4">
                <router-link to="/inscription">
                  <el-button class="ico" style="font-size: 12px; color: #c3c3c3; padding: 0px" type="text" icon="el-icon-edit">S'inscrire</el-button>
                </router-link>
              </vs-col>
              <vs-col v-tooltip="'col - 3'" vs-type="grid" vs-align="center" vs-w="4">
                <router-link to="/dashboard">
                  <el-button class="ico" style="font-size: 12px; color: rgb(255, 166, 3); padding: 0px" type="text" icon="el-icon-menu">Mon Espace</el-button>
                </router-link>
              </vs-col>
           </vs-row> 
            
           </div>
  </div>
</template>

<script>
//import axios from 'axios';
export default {
  name: 'Head',
  computed: {
    users() {
      return this.$store.state.users;
    },
    argent() {
      return this.$store.state.money;
    }
  },
   data(){
    return {
      useri: {
        name: '',
        email: '',
        contact: '',
      },
      money: [
          {
            nom: 'Dollar',
            icone: 'attach_money',
            value: 500
          },
          {
            nom: 'Euro',
            icone: 'euro',
            value: 650
          },
          {
            nom: 'CFA',
            icone: 'payments',
            value: 1
          },
        ],
      residS:false,
      select1:'Abidjan',
      dev:null,
      select2:'Toutes les zones',
      select3:'Tous types',
      select4:'Tous les prix',
      ville: null,
      zobe: null,
      residences: null,
      nbresid: null,
       options1:[
        {text:'Abidjan',value:0},
        {text:'Grand-Bassam',value:1},
        {text:'Yamoussoukro',value:2},
        {text:'Bouaké',value:2},
      ],
       options2:[
        {text:'Toutes les zones',value:0},
        {text:'Abobo',value:1},
        {text:'Adjamé',value:2},
        {text:'Angré',value:3},
        {text:'Anyama',value:4},
        {text:'Attécoubé',value:5},
        {text:'Bingerville',value:6},
        {text:'Cocody',value:7},
        {text:'II Plateau',value:8},
        {text:'Koumassi',value:9},
        {text:'Marcory',value:10},
        {text:'Plateau',value:11},
        {text:'Port-Bouet',value:12},
        {text:'Riviera',value:13},
        {text:'Treichville',value:14},
        {text:'Yopougon',value:15},
      ],
      options3:[
        {text:'Tous types',value:0},
        {text:'STUDIO',value:1},
        {text:'2 PIECES',value:2},
        {text:'3 PIECES',value:3},
        {text:'4 PIECES',value:4},
        {text:'PLUS',value:5},
      ],
      options4:[
        {text:'Tous les prix',value:0},
        {text:'0 à 15.000',value:1},
        {text:'15.000 à 25.000',value:2},
        {text:'25.000 à 50.000',value:3},
        {text:'Plus',value:4},
      ],
       con: true,
    }
  },
  methods: {
    deconnexion() {
      this.$store.commit('Connexion', this.useri);
      this.users.name = '';
      this.$router.push({ path: '/recherche' });
    },
    changeDevice(val) {
      this.$store.commit('Devise', val);
    }

  },

  mounted() {
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.hello {
  background-color: white;
  margin-bottom: 25px;
}
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}

.vs-select--label {
    font-size: .85rem;
    color: rgba(0,0,0,.6);
}

</style>
