<template>
  <div class="corps">
    <div class=" zone-of-work-m">
      
        <div class="dashboard-zone-m">
          <br>
          <el-link type="warning" style="margin-top: -35px; float: right;" @click="deconnexion()"><vs-icon icon="logout"  color="#67d967"></vs-icon> Déconnexion</el-link>
            <vs-row>
              <vs-col v-tooltip="'col - 2'" vs-type="flex" vs-justify="center" vs-align="center" vs-w="8.7">
                  <vs-card style=" padding: 3px;">
                    <vs-col v-tooltip="'col - 2'" vs-type="flex" vs-justify="center" vs-align="center" vs-w="5.3">
                        <vs-card>
                          <vs-avatar size="60px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/50/User_icon-cp.svg/1200px-User_icon-cp.svg.png"/>
                          <p style="color: #808080a1;padding-top: 10px;">{{users.name}}</p>
                        </vs-card>
                    </vs-col>
                    <vs-col v-tooltip="'col - 2'" vs-type="grid" vs-justify="center" vs-align="center" vs-w="6">
                      <router-link to="/dashboard"><vs-button style="width: 100%;" line-origin="left" color="dark" type="line">Mes résidences</vs-button></router-link>
                        <router-link to="/dashboard_reservation_list"><vs-button style="width: 100%;" line-origin="left" color="dark" type="line">Mes réservations</vs-button></router-link>
                        <router-link to="/dashboard-newm"><vs-button style="width: 100%;" line-origin="left" color="dark" type="line">Ajouter résidence</vs-button></router-link>
                    </vs-col>
                  </vs-card>
              </vs-col>
              <vs-col v-tooltip="'col - 2'" vs-type="flex" vs-justify="center" vs-align="center" vs-w="0.3">
                  
              </vs-col>
              <vs-col v-tooltip="'col - 2'" vs-type="flex" vs-justify="left" vs-align="left" vs-w="3">
                  <vs-card style="text-align: left; padding: 3px;">
                    <vs-avatar color="warning" icon="list" />
                    <p style="color: #808080a1;padding-top: 10px;">Réservations</p>
                    <p style="font-weight: bold; font-size: 16px; color: gray; padding-top: 10px;">0 <vs-icon icon="trending_up"  color="#67d967"></vs-icon></p>
                    <p style="font-size: 12px; color: #808080a1; padding-top: 10px;">0 <span style="color: orange">en cours...</span></p>
                  </vs-card>
             
                
              </vs-col>
            </vs-row>

            <div style="margin-top: 20px">
                
                <vs-divider/>
                   <vs-card style="margin-top: 20px; padding: 15px;">
              
                  <span style="font-size: 18px">Nouvelle résidence</span>
                <vs-divider/>
                <div style="text-align: left">
                 <el-form ref="form" label-width="120px">
                    <el-form-item label="Nom Résidence">
                        <el-col :span="24">
                        <el-input v-model="form.libelle" placeholder="Nom Résidence" maxlength="45" show-word-limit></el-input>
                        </el-col>
                        
                        
                    </el-form-item>
                    <el-form-item label="Type">
                       
                        <el-col :span="16">
                        <el-select v-model="form.typer" placeholder="Type résidence">
                        <el-option v-for="item in typeListe" :key="item.id_type_resid" :label="item.libelle" :value="item.libelle"></el-option>
                        </el-select>
                        </el-col>
                        
                    </el-form-item>
                     <el-form-item label="Localisation">
                        <el-col :span="11">
                        <el-select @change="getZone()" v-model="form.ville" placeholder="Choisir Ville">
                        <el-option v-for="item in villeListe" :key="item.id_ville" :label="item.libelle" :value="item.libelle"></el-option>
                        </el-select>
                        </el-col>
                        <el-col class="line" :span="1">.</el-col>
                        <el-col :span="11" v-if="form.ville == 'Abidjan' || form.ville == ''">
                        <el-select v-model="form.zone" placeholder="Choisir Zone">
                        <el-option v-for="item in zoneListe" :key="item.id_zone" :label="item.libelle" :value="item.libelle"></el-option>
                        </el-select>
                        </el-col>
                        <el-col :span="6" v-if="form.ville == 'Bouake'">
                        <el-select v-model="form.zone" placeholder="Choisir Zone">
                        <el-option v-for="item in zoneListe" :key="item.id_zone" :label="item.libelle" :value="item.libelle"></el-option>
                        </el-select>
                        </el-col>
                       
                    </el-form-item>
                    <el-form-item label="Quartier/Rue">
                       
                        <el-col :span="24">
                        <el-input v-model="form.quartier" placeholder="Saisir le quartier ou la rue" maxlength="30" show-word-limit></el-input>
                        </el-col>
                    </el-form-item>
                    <el-form-item label="Description">
                        
                    </el-form-item>
                    <vue-editor v-model="form.description"></vue-editor>
                    <el-form-item label="Services">
                        
                    </el-form-item>
                    <el-checkbox label="Sécurité" v-model="form.s_securite"></el-checkbox>
                        <el-checkbox style="padding: 5px;" label="TV & Canal" v-model="form.s_tv"></el-checkbox>
                        <el-checkbox style="padding: 5px;" label="Wifi" v-model="form.s_wifi"></el-checkbox>
                        <el-checkbox style="padding: 5px;" label="Piscine" v-model="form.s_piscine"></el-checkbox>
                        <el-checkbox style="padding: 5px;" label="Baignoire" v-model="form.s_baignoire"></el-checkbox>
                        <el-checkbox style="padding: 5px;" label="petit Dejeuné" v-model="form.s_petitdej"></el-checkbox>
                        <el-checkbox style="padding: 5px;" label="Parking" v-model="form.s_parking"></el-checkbox>

                        <el-checkbox style="padding: 5px;" label="Canal +" v-model="form.canal"></el-checkbox>
                        <el-checkbox style="padding: 5px;" label="Star Times" v-model="form.star"></el-checkbox>
                        <el-checkbox style="padding: 5px;" label="Netflix" v-model="form.netflix"></el-checkbox>
                        <el-checkbox style="padding: 5px;" label="Iptv" v-model="form.iptv"></el-checkbox>
                        <el-checkbox style="padding: 5px;" label="Eau Chaude" v-model="form.echaude"></el-checkbox>
                        <el-checkbox style="padding: 5px;" label="Micro-Onde" v-model="form.micro_onde"></el-checkbox>
                        <el-checkbox style="padding: 5px;" label="Machine à Laver" v-model="form.lavema"></el-checkbox>
                        <el-checkbox style="padding: 5px;" label="Réfrigérateur" v-model="form.frigo"></el-checkbox>
                        <el-checkbox style="padding: 5px;" label="Ustensiles de Cuisine" v-model="form.ustensile"></el-checkbox>
                        <el-checkbox style="padding: 5px;" label="Machine à Café" v-model="form.macafe"></el-checkbox>
                        <el-checkbox style="padding: 5px;" label="Climatiseur" v-model="form.clim"></el-checkbox>
                        <el-checkbox style="padding: 5px;" label="Ventilateur" v-model="form.ventilateur"></el-checkbox>
                        <el-checkbox style="padding: 5px;" label="Balcon" v-model="form.balcon"></el-checkbox>
                        <br><br>
                    <el-col :span="10">
                        <el-input maxlength="2" show-word-limit v-model="form.nb_chambre" placeholder="Nb Chambre"></el-input>
                    </el-col>
                    <el-col :span="10">
                        <el-input maxlength="2" show-word-limit v-model="form.nb_toilette" placeholder="Nb Toilette"></el-input>
                    </el-col>
                    <el-col :span="10">
                        <el-input maxlength="2" show-word-limit v-model="form.nb_salon" placeholder="Nb Salon"></el-input>
                    </el-col>
                    <el-col :span="10">
                        <el-input maxlength="2" show-word-limit v-model="form.nb_cuisine" placeholder="NB cuisine"></el-input>
                    </el-col>
                    <el-col :span="6" style="padding: 10px;">
                      Avec Jardin
                      <el-switch v-model="form.jardinok"></el-switch>
                    </el-col>
                    <el-col :span="6" style="padding: 10px;">
                      A l'étage
                      <el-switch v-model="form.etageok"></el-switch>
                    </el-col>
                    
                    <el-col :span="8">
                        <el-input maxlength="2" show-word-limit :disabled="!form.etageok" v-model="form.nb_etage" placeholder="N° étage"></el-input>
                    </el-col>
                    <vs-divider/>
                    les offres
                    <vs-divider/>
                    <el-form-item label="Pour un (1) jour">
                      <el-col :span="4">
                         <el-switch v-model="form.jourok"></el-switch>
                        </el-col>
                      <br>
                        
                       
                        <el-col :span="15">
                        <el-time-select
                        :disabled="!form.jourok"
                          v-model="form.jourhe"
                          style="width: 100%;"
                          :picker-options="{
                            start: '08:30',
                            step: '00:15',
                            end: '18:30'
                          }"
                          placeholder="Heure Entrée">
                        </el-time-select>
                        </el-col>
                        <el-col :span="15">
                        <el-time-select
                        :disabled="!form.jourok"
                          v-model="form.jourhs"
                          style="width: 100%;"
                          :picker-options="{
                            start: '08:30',
                            step: '00:15',
                            end: '18:30'
                          }"
                          placeholder="Heure Sortie">
                        </el-time-select>
                        </el-col>
                        <el-col :span="15">
                        <el-input maxlength="5" show-word-limit :disabled="!form.jourok" v-model="form.jourt" placeholder="Tarif un (1) jour"></el-input>
                        </el-col>
                    </el-form-item>
                    <el-form-item label="Pour la journée">
                        <el-col :span="4">
                         <el-switch v-model="form.journeeok"></el-switch>
                        </el-col>
                        <br>
                        <el-col :span="15">
                        <el-time-select
                        :disabled="!form.journeeok"
                          v-model="form.journeehe"
                          style="width: 100%;"
                          :picker-options="{
                            start: '08:30',
                            step: '00:15',
                            end: '18:30'
                          }"
                          placeholder="Heure Entrée">
                        </el-time-select>
                        </el-col>
                        <el-col :span="15">
                        <el-time-select
                        :disabled="!form.journeeok"
                          v-model="form.journeehs"
                          style="width: 100%;"
                          :picker-options="{
                            start: '08:30',
                            step: '00:15',
                            end: '18:30'
                          }"
                          placeholder="Heure Sortie">
                        </el-time-select>
                        </el-col>
                        <el-col :span="15">
                        <el-input maxlength="5" show-word-limit :disabled="!form.journeeok" v-model="form.journeet" placeholder="Tarif journée"></el-input>
                        </el-col>
                    </el-form-item>
                    <el-form-item label="Réduction jour">
                        <el-col :span="4">
                         <el-switch v-model="form.reductionok"></el-switch>
                        </el-col>
                        <br>
                        <el-col :span="24">
                        <el-select :disabled="!form.reductionok" v-model="form.reductionj" placeholder="Réduction à partir de ... jours" style="width: 100%">
                        <el-option v-for="item in options1" :key="item.value" :label="item.text" :value="item.text"></el-option>
                        </el-select>
                        
                        </el-col>
                       
                        <el-col :span="20">
                        <el-input maxlength="5" show-word-limit :disabled="!form.reductionok" v-model="form.reductiont" placeholder="Tarif jour (Réduction)"></el-input>
                        </el-col>
                    </el-form-item>
                    
                    <el-form-item label="Contact">
                        <el-col :span="20">
                        <el-input v-model="form.contact" placeholder="Votre numéro mobile" maxlength="10" show-word-limit></el-input>
                        </el-col>
                        <el-col :span="24">
                        <vs-checkbox icon="whatsapp" color="success" v-model="form.whatsapp">Fonctionne avec WhatsApp</vs-checkbox>
                        </el-col>
                        
                    </el-form-item>
                    <vs-divider/>
                    <img src="../../assets/youta.png" />
                    <el-form-item label="Code Vidéo">
                      
                        <el-col :span="24">
                        <el-input v-model="form.video" placeholder="Az0-gkBzRyU" maxlength="11" show-word-limit></el-input>
                        </el-col>
                        <el-col :span="24">
                          
                        </el-col>
                        
                    </el-form-item>
                    
                    
                    <vs-divider/>
                    <div>
                      <div>
                      <div class="dropbox" style="width: 260px; height: 200px; float: left;">
                        <p style="position: absolute; text-align: center">
                          Image Principal <br>
                          <span style="color: red; font-size: 12px">sélectionné une image au format carré</span>
                        </p>
                        
                        <center v-if="imagea != 'a'"><img height="180" crop="scale" :src="imagea"></center>
                        <input @change="uploadImage($event, 'a')" type="file" multiple :name="uploadFieldName" :disabled="isSaving"
                            accept="image/*" class="input-file">
                            <p v-if="isInitial">
                              Drag your file(s) here to begin<br> or click to browse
                            </p>
                            <p v-if="isSaving">
                              Uploading {{ fileCount }} files...
                            </p>
                        </div>
                        <div class="dropbox" style="width: 260px; height: 200px; float: left;">
                          <p style="position: absolute; text-align: center">
                          Image 2 
                        </p>
                          <center v-if="imageb != 'a'"><img height="180" crop="scale" :src="imageb"></center>
                          <input @change="uploadImage($event, 'b')" type="file" multiple :name="uploadFieldName" :disabled="isSaving"
                            accept="image/*" class="input-file">
                            <p v-if="isInitial">
                              Drag your file(s) here to begin<br> or click to browse
                            </p>
                            <p v-if="isSaving">
                              Uploading {{ fileCount }} files...
                            </p>
                        </div>
                        <div class="dropbox" style="width: 260px; height: 200px; float: left;">
                          <p style="position: absolute; text-align: center">
                          Image 3 
                        </p>
                          <center v-if="imagec != 'a'"><img height="180" crop="scale" :src="imagec"></center>
                          <input @change="uploadImage($event, 'c')" type="file" multiple :name="uploadFieldName" :disabled="isSaving"
                            accept="image/*" class="input-file">
                            <p v-if="isInitial">
                              Drag your file(s) here to begin<br> or click to browse
                            </p>
                            <p v-if="isSaving">
                              Uploading {{ fileCount }} files...
                            </p>
                        </div>
                        <div class="dropbox" style="width: 260px; height: 200px; float: left;">
                          <p style="position: absolute; text-align: center">
                          Image 4 
                        </p>
                          <center v-if="imaged != 'a'"><img height="180" crop="scale" :src="imaged"></center>
                          <input @change="uploadImage($event, 'd')" type="file" multiple :name="uploadFieldName" :disabled="isSaving"
                            accept="image/*" class="input-file">
                            <p v-if="isInitial">
                              Drag your file(s) here to begin<br> or click to browse
                            </p>
                            <p v-if="isSaving">
                              Uploading {{ fileCount }} files...
                            </p>
                        </div>
                        <div class="dropbox" style="width: 260px; height: 200px; float: left;">
                          <p style="position: absolute; text-align: center">
                          Image 5 
                        </p>
                          <center v-if="imagee != 'a'"><img height="180" crop="scale" :src="imagee"></center>
                          <input @change="uploadImage($event, 'e')" type="file" multiple :name="uploadFieldName" :disabled="isSaving"
                            accept="image/*" class="input-file">
                            <p v-if="isInitial">
                              Drag your file(s) here to begin<br> or click to browse
                            </p>
                            <p v-if="isSaving">
                              Uploading {{ fileCount }} files...
                            </p>
                        </div><div class="dropbox" style="width: 260px; height: 200px; float: left;">
                          <p style="position: absolute; text-align: center">
                          Image 6 
                        </p>
                          <center v-if="imagef != 'a'"><img height="180" crop="scale" :src="imagef"></center>
                          <input @change="uploadImage($event, 'f')" type="file" multiple :name="uploadFieldName" :disabled="isSaving"
                            accept="image/*" class="input-file">
                            <p v-if="isInitial">
                              Drag your file(s) here to begin<br> or click to browse
                            </p>
                            <p v-if="isSaving">
                              Uploading {{ fileCount }} files...
                            </p>
                        </div>
                        <div class="dropbox" style="width: 260px; height: 200px; float: left;">
                          <p style="position: absolute; text-align: center">
                          Image 7
                        </p>
                          <center v-if="imageg != 'a'"><img height="180" crop="scale" :src="imageg"></center>
                          <input @change="uploadImage($event, 'g')" type="file" multiple :name="uploadFieldName" :disabled="isSaving"
                            accept="image/*" class="input-file">
                            <p v-if="isInitial">
                              Drag your file(s) here to begin<br> or click to browse
                            </p>
                            <p v-if="isSaving">
                              Uploading {{ fileCount }} files...
                            </p>
                        </div>
                        <div class="dropbox" style="width: 260px; height: 200px; float: left;">
                          <p style="position: absolute; text-align: center">
                          Image 8 
                        </p>
                          <center v-if="imageh != 'a'"><img height="180" crop="scale" :src="imageh"></center>
                          <input @change="uploadImage($event, 'h')" type="file" multiple :name="uploadFieldName" :disabled="isSaving"
                            accept="image/*" class="input-file">
                            <p v-if="isInitial">
                              Drag your file(s) here to begin<br> or click to browse
                            </p>
                            <p v-if="isSaving">
                              Uploading {{ fileCount }} files...
                            </p>
                        </div>

                          
                      <span>.......................;</span>
                    
                    </div>
                      
                     
                      <gmap-map
                            :center="center"
                            :zoom="12"
                            style="width:100%;  height: 400px; margin-top: 30px;" 
                          >
                            <gmap-marker
                              :key="index"
                              :clickable="true"
                              v-for="(m, index) in markers"
                              :position="m.position"
                              @click.native="deleteMarker(i)"
                            ></gmap-marker>
                          </gmap-map>
                          <input type="text" v-model="center.lat">
                          <input type="text" v-model="center.lng">
                    </div>
                    
                    <el-alert v-if="error"
                      :title="errorMessage"
                      type="error"
                      effect="dark">
                    </el-alert>
                   
                    <el-button style="width: 100%; margin:10px" type="primary" @click="Before()">Ajouter résidence</el-button>
                    </el-form>
                </div>
            </vs-card>
            </div>
        </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import { VueEditor } from "vue2-editor";
// @ is an alias to /src

export default {
  name: 'Web',
  components: {
    VueEditor,
  },
  computed: {
    users() {
      return this.$store.state.users;
    }
  },
  data(){
    return {
      reff: null,
      center: {lat: 51.093048, lng: 6.842120},
      markers: [{
          id: 'dfsldjl3r',
          position: {
            lat: 51.093048, lng: 6.842120, title: 'Surat'
          },
        }],
      currentPlacelat: null,
      currentPlacelng: null,
      places: [],
      error: false,
      errorMessage: '',
      useri: {
        name: '',
        email: '',
        contact: '',
      },
      content: "<p>Entrez la description ici...</p>",
        form: {
          etageok: false,
          jardinok: false,
          video: '',
          libelle: '',
          typer: '',
          ville: '',
          zone: '',
          type: false,
          quartier: '',
          description: '',
          jourhe: '',
          jourhs: '',
          jourt: '',
          journeehe: '',
          journeehs: '',
          journeet: '',
          contact: '',
          whatsapp: '',
          s_securite: false,
          s_tv: true,
          s_wifi: false,
          s_piscine: false,
          s_parking: false,
          s_baignoire: false,
          s_petitdej: false,
          jourok: true,
          reductionok:false,
          reductionj: '',
          reductiont: '',
          journeeok: false,
          user: this.$store.state.users.id,
          nb_chambre: null,
          nb_toilette: null,
          nb_salon: null,
          nb_cuisine: null,
          jardin: null,
          nb_etage: null,
        },
        options1:[
        {text:'2 jours',value:0},
        {text:'3 jours',value:1},
        {text:'4 jours',value:2},
        {text:'5 jours',value:3},
        {text:'1 semaine',value:4},
        {text:'1 mois',value:5},
      ],
      imagea: 'a',
        imageurla: 'a',
        imageb: 'a',
        imagec: 'a',
        imaged: 'a',
        imagee: 'a',
        imagef: 'a',
        imageg: 'a',
        imageh: 'a',
      numberOk: true,
      select1:0,
      select2:0,
      select3:0,
      select4:0,
      annee: null,
      villeListe: null,
      zoneListe: null,
      typeListe: null,
    }
  },
  methods: {
    deconnexion() {
      this.$store.commit('Connexion', this.useri);
      this.users.name = '';
      this.$router.push({ path: '/login' });
    },

      getVille() {
        this.$vs.loading({
          type:'point',
        })
        axios.get('https://autre.sarezide.com/sarezide_get_ville.php')
        .then((response) => {
          this.villeListe = response.data.data;
          console.log(this.ville);
          this.$vs.loading.close()
        }, (error) => {
          console.log(error);
          this.$vs.loading.close()
        });
    },

    successUpload(data){
      console.log(data)
      this.$vs.notify({color:'success',title:'Upload Success',text:'Lorem ipsum dolor sit amet, consectetur'})
    },

    getZone() {
        this.$vs.loading({
          type:'point',
        })
        axios.get('https://autre.sarezide.com/sarezide_get_zone.php?resid='+this.form.ville)
        .then((response) => {
          this.zoneListe = response.data.data;
          console.log(this.zone);
          this.$vs.loading.close()
        }, (error) => {
          console.log(error);
          this.$vs.loading.close()
        });
    },

    getType() {
        this.$vs.loading({
          type:'point',
        })
        axios.get('https://autre.sarezide.com/sarezide_get_typeresid.php')
        .then((response) => {
          this.typeListe = response.data.data;
          console.log(this.zone);
          this.$vs.loading.close()
        }, (error) => {
          console.log(error);
          this.$vs.loading.close()
        });
    },

    Before(){
      
      if(this.form.libelle.length < 5){
        this.errorMessage = 'Entrez nom de résidence'
        this.error = true;
      } else if(this.form.ville.length < 2) {
        this.errorMessage = 'Entrez localisation'
        this.error = true;
      } else if(this.form.jourt.length < 2) {
        this.errorMessage = 'Entrez le tarif Pour un (1) jour'
        this.error = true;
      } else if(this.form.contact.length < 9) {
        this.errorMessage = 'Entrez un contact valide'
        this.error = true;
      } else if(this.imagea == null) {
        this.errorMessage = 'Ajoutez au moins une image'
        this.error = true;
      } else {
        this.onSubmit();
      }
    },

      onSubmit() {
      this.error = false;
      if(this.jardinok){
        this.form.jardin = 1;
      } else {
        this.form.jardin = 0;
      }
      let formData = new FormData();
      formData.append('libelle', this.form.libelle);
      formData.append('typer', this.form.typer);
      formData.append('ville', this.form.ville);
      formData.append('zone', this.form.zone);
      formData.append('quartier', this.form.quartier);
      formData.append('description', this.form.description);
      formData.append('jourhe', this.form.jourhe);
      formData.append('jourhs', this.form.jourhs);
      formData.append('jourt', this.form.jourt);
      formData.append('journeehe', this.form.journeehe);
      formData.append('journeehs', this.form.journeehs);
      formData.append('journeet', this.form.journeet);
      formData.append('contact', this.form.contact);
      formData.append('whatsapp', this.form.whatsapp);
      formData.append('s_securite', this.form.s_securite);
      formData.append('s_tv', this.form.s_tv);
      formData.append('s_wifi', this.form.s_wifi);
      formData.append('s_piscine', this.form.s_piscine);
      formData.append('s_parking', this.form.s_parking);
      formData.append('s_baignoire', this.form.s_baignoire);
      formData.append('s_petitdej', this.form.s_petitdej);
      formData.append('jourok', this.form.jourok);
      formData.append('video', this.form.video);
      formData.append('journeeok', this.form.journeeok);
      formData.append('imagea', this.imagea);
      formData.append('imageurla', this.imageurla);
      formData.append('imageb', this.imageb);
      formData.append('imagec', this.imagec);
      formData.append('imaged', this.imaged);
      formData.append('imagee', this.imagee);
      formData.append('imagef', this.imagef);
      formData.append('imageg', this.imageg);
      formData.append('imageh', this.imageh);
      formData.append('user', this.users.id);
      formData.append('reductionok', this.form.reductionok);
      formData.append('reductionj', this.form.reductionj);
      formData.append('reductiont', this.form.reductiont);

      formData.append('lat', this.center.lat);
      formData.append('lng', this.center.lng);
      formData.append('chambre', this.form.nb_chambre);
      formData.append('toilette', this.form.nb_toilette);
      formData.append('salon', this.form.nb_salon);
      formData.append('cuisine', this.form.nb_cuisine);
      formData.append('jardin', this.form.jardin);

      formData.append('canal', this.form.canal);
      formData.append('star', this.form.star);
      formData.append('netflix', this.form.netflix);
      formData.append('iptv', this.form.iptv);
      formData.append('echaude', this.form.echaude);
      formData.append('lavema', this.form.lavema);
      formData.append('frigo', this.form.frigo);
      formData.append('ustensile', this.form.ustensile);
      formData.append('macafe', this.form.macafe);
      formData.append('clim', this.form.clim);
      formData.append('micro_onde', this.form.micro_onde);
      formData.append('ventilateur', this.form.ventilateur);
      formData.append('balcon', this.form.jardbalconin);
      
      formData.append('etage', this.form.nb_etage);
      this.$vs.loading({
        type:'point',
      })
      axios.post('https://autre.sarezide.com/sarezide_ajout_residences_newss.php', formData)
       .then((response) => {
        this.reff = response.data.ref;
        this.$router.push({
            path: '/dashboard-new-s',
            query: { resid: this.reff }
        })
        console.log(response);
        this.$vs.loading.close();
        this.$notify.success({
          title: 'Enregistrement OK!',
          message: 'Votre résidence à été enregistré',
          showClose: false
        });
      })
      .catch(function (error) {
        console.log(error);
        this.$vs.loading.close()
      });
      },

      printYear: function () {
            return new Date().getFullYear() + 
            '' + new Date().getMonth()+ 
            '' + new Date().getDate()+
            '' + new Date().getHours()+
            '' + new Date().getMinutes()+
            '' + new Date().getMilliseconds()+
            '' + new Date().getSeconds();
      },

      uploadImage(e, a) {
            var files = e.target.files || e.dataTransfer.files;
            if (!files.length)
                return;
            this.image = files[0]; 

            let formData = new FormData();
            let uploadPreset = "dsegjq9c"
            let cloudinaryUrl = "https://api.cloudinary.com/v1_1/r-sidence-meubl-e/upload"
            this.annee = this.printYear();
            formData.append('file', this.image);
            formData.append('public_id', this.annee);
            formData.append('upload_preset', uploadPreset)

            axios.post(cloudinaryUrl, formData)
            .then(res => {
                let imageUrl = res.data;
                if(a == 'a') {
                    this.imagea = imageUrl.url;
                    this.imageurla = imageUrl.url;
                }
                if(a == 'b') {
                    this.imageb = imageUrl.url;
                }
                if(a == 'c') {
                    this.imagec = imageUrl.url;
                }
                if(a == 'd') {
                    this.imaged = imageUrl.url;
                }
                if(a == 'e') {
                    this.imagee = imageUrl.url;
                }
                if(a == 'f') {
                    this.imagef = imageUrl.url;
                }
                if(a == 'g') {
                    this.imageg = imageUrl.url;
                }
                if(a == 'h') {
                    this.imageh = imageUrl.url;
                }
            })
            .catch(err => {
                console.log(err)
            })
        },
        handleImageAdded: function(file, Editor, cursorLocation, resetUploader) {
          // An example of using FormData
          // NOTE: Your key could be different such as:
          // formData.append('file', file)

          var formData = new FormData();
          formData.append("image", file);

          axios({
            url: "https://fakeapi.yoursite.com/images",
            method: "POST",
            data: formData
          })
            .then(result => {
              const url = result.data.url; // Get url from response
              Editor.insertEmbed(cursorLocation, "image", url);
              resetUploader();
            })
            .catch(err => {
              console.log(err);
            });
        },
        verifcon() {
          if(this.users.name == '') {
            this.$router.push({ path: '/login' });
          }
        },
        setPlace(place) {
      this.currentPlace = place;
    },
    geolocate: function() {
      navigator.geolocation.getCurrentPosition(position => {
        this.center = {
          lat: position.coords.latitude,
          lng: position.coords.longitude
        };
        this.markers[0].position.lat = this.center.lat;
        this.markers[0].position.lng = this.center.lng;
       
      });
    }
  },
  mounted() {
    this.geolocate();
    this.getVille();
    this.getZone();
    this.getType();
    this.verifcon();
    
  }
}
</script>
<style lang="css">
  .dropbox {
    outline: 2px dashed grey; /* the dash box */
    outline-offset: -10px;
    background: lightcyan;
    color: dimgray;
    padding: 10px 10px;
    min-height: 200px; /* minimum height */
    position: relative;
    cursor: pointer;
  }
  
  .input-file {
    opacity: 0; /* invisible but it's there! */
    width: 100%;
    height: 200px;
    position: absolute;
    cursor: pointer;
  }
  
  .dropbox:hover {
    background: lightblue; /* when mouse over to the drop zone, change color */
  }
  
  .dropbox p {
    font-size: 1.2em;
    text-align: center;
    padding: 50px 0;
  }
</style>