<template>
  <div class="corps">
    <div class=" zone-of-work">
      <br>
        <div class="dashboard-zone">
          <el-link type="warning" style="margin-top: -35px; float: right;" @click="deconnexion()"><vs-icon icon="logout"  color="#67d967"></vs-icon> Déconnexion</el-link>
          <vs-row>
            <vs-col v-tooltip="'col - 2'" vs-type="flex" vs-justify="center" vs-align="center" vs-w="5.3">
                <vs-card>
                  <vs-col v-tooltip="'col - 2'" vs-type="flex" vs-justify="center" vs-align="center" vs-w="5.3">
                      <vs-card>
                        <vs-avatar size="60px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/50/User_icon-cp.svg/1200px-User_icon-cp.svg.png"/>
                        <p style="color: #808080a1;padding-top: 10px;">{{users.name}}</p>
                      </vs-card>
                  </vs-col>
                  <vs-col v-tooltip="'col - 2'" vs-type="grid" vs-justify="center" vs-align="center" vs-w="5.3">
                    <router-link to="/dashboard_list"><vs-button style="width: 100%;" line-origin="left" color="dark" type="line">Liste des résidences</vs-button></router-link>
                    <router-link to="/dashboard"><vs-button style="width: 100%;" line-origin="left" color="dark" type="line">Liste les réservations</vs-button></router-link>
                    <router-link to="/dashboard_profile"><vs-button style="width: 100%;" line-origin="left" color="dark" type="line">Configurations</vs-button></router-link>
                  </vs-col>
                </vs-card>
            </vs-col>
            <vs-col v-tooltip="'col - 2'" vs-type="flex" vs-justify="center" vs-align="center" vs-w="0.3">
                
            </vs-col>
            <vs-col v-tooltip="'col - 2'" vs-type="flex" vs-justify="left" vs-align="left" vs-w="1.6">
                <vs-card style="text-align: left">
                  
                  <vs-avatar color="warning" icon="list" />
                  <p style="color: #808080a1;padding-top: 10px;">Réservations</p>
                  <p style="font-weight: bold; font-size: 16px; color: gray; padding-top: 10px;">212 <vs-icon icon="trending_up"  color="#67d967"></vs-icon></p>
                  <p style="font-size: 12px; color: #808080a1; padding-top: 10px;">212 <span style="color: orange">en cours...</span></p>
                </vs-card>
            </vs-col>
            <vs-col v-tooltip="'col - 2'" vs-type="flex" vs-justify="center" vs-align="center" vs-w="1.6">
              <vs-card style="text-align: left">
                  <vs-avatar color="warning" icon="visibility" />
                  <p style="color: #808080a1;padding-top: 10px;">Visite</p>
                  <p style="font-weight: bold; font-size: 16px; color: gray; padding-top: 10px;">212 <vs-icon icon="visibility"  color="#67d967"></vs-icon></p>
                  <p style="font-size: 12px; color: #808080a1; padding-top: 10px;">212 <span style="color: orange">aujourd'hui</span></p>
                </vs-card>
            </vs-col>
            <vs-col v-tooltip="'col - 2'" vs-type="flex" vs-justify="center" vs-align="center" vs-w="1.6">
              <vs-card style="text-align: left">
                  <vs-avatar color="warning" icon="night_shelter" />
                  <p style="color: #808080a1;padding-top: 10px;">Résidences</p>
                  <p style="font-weight: bold; font-size: 16px; color: gray; padding-top: 10px;">212 <vs-icon icon="autorenew"  color="#67d967"></vs-icon></p>
                  <p style="font-size: 12px; color: #808080a1; padding-top: 10px;"><router-link to="/dashboard-new"><el-link type="warning">Ajouter ici</el-link></router-link> </p>
                </vs-card>
            </vs-col>
            <vs-col v-tooltip="'col - 2'" vs-type="flex" vs-justify="center" vs-align="center" vs-w="1.6">
              
            </vs-col>
          </vs-row>
          
          <el-card class="box-card">
            <router-link to="/dashboard-new"><el-link type="warning" style="font-size: 25px">Cliquez ici pour ajouter une résidence</el-link></router-link>
            <vs-table style="text-align: left" stripe :data="residences">
              <template slot="header">
                <h3 style="color: orange; padding: 15px 0px;">
                  Réservations
                </h3>
              </template>
              <template slot="thead">
                <vs-th>
                  Résidence
                </vs-th>
                <vs-th>
                  Référence
                </vs-th>
                <vs-th>
                  Client
                </vs-th>
                <vs-th>
                  Période
                </vs-th>
                <vs-th>
                  Actions
                </vs-th>
              </template>

              <template slot-scope="{data}">
                <vs-tr :key="indextr" v-for="(tr, indextr) in data" >
                  <vs-td :data="data[indextr].libelle">
                    {{data[indextr].libelle}}
                  </vs-td>

                  <vs-td :data="data[indextr].libelle">
                    <span style="color: orange;">{{data[indextr].reference}}</span>
                  </vs-td>

                  <vs-td :data="data[indextr].id">
                    <span>{{data[indextr].nom}}</span>
                    <vs-chip style="float: right;"><vs-icon icon="call" ></vs-icon> {{data[indextr].contact}}</vs-chip>
                  </vs-td>

                  <vs-td :data="data[indextr].id">
                    {{data[indextr].du}} au {{data[indextr].au}} <vs-chip color="#67d967" style="float: right;">{{data[indextr].nbjour}} jours</vs-chip>
                  </vs-td>

                  <vs-td :data="data[indextr].id">
                    <vs-button color="primary" type="flat" icon="visibility" @click="views(data[indextr]), datechange = false"></vs-button>
                    
                  </vs-td>
                </vs-tr>
              </template>
            </vs-table>
          </el-card>

           
        </div>
    </div>
    <vs-prompt
      color="success"
      :title="'Réservation N° '+ reef"
      accept-text="Valider réservation"
      cancel-text="Annuler réservation"
      @cancel="reservationAnnule()"
      @accept="reservationValide()"
      @close="close"
      :buttons-hidden="errorReserve"
      :is-valid="validName"
      :active.sync="del">
       <div class="con-exemple-prompt">
      <p style="font-size: 16px; text-align: center; font-weight: bold;">Réservation du <span style="color: orange;">{{dateDu}}</span> Au <span style="color: orange;">{{dateAu}}</span> <vs-icon icon="logout" style="cursor: pointer;" color="#67d967" @click="datechange = true"></vs-icon></p>
      <el-row v-if="datechange">
          <el-col :span="12">
            <div class="grid-content bg-purple" style="display: grid">
                <span>DU</span>
                <input  @change="reservationform()" :min="new Date().toISOString().split('T')[0]" style="padding: 5px; border-radius: 5px; width: 95%" type="date" placeholder="Name" v-model="dateDu"/>
            </div>
          </el-col>
          <el-col :span="12">
            <div class="grid-content bg-purple" style="display: grid">
                <span>AU</span>
                <input :min="dateDu" @change="reservationform()" style="padding: 5px; border-radius: 5px; width: 95%" type="date" placeholder="Name" v-model="dateAu"/>
            </div>
          </el-col>
       </el-row>
      <br>
      <vs-divider/>
      <vs-row>
            <vs-col v-tooltip="'col - 2'" vs-type="block" vs-justify="center" vs-align="center" vs-w="6">
              <center><vs-chip style="padding: 8px; font-weight: bold;" color="#67d967">{{jourreserve}} jours</vs-chip></center><br><br>
              <span style="padding: 8px;">Par : <b>{{nomreserve}}</b></span><br><br>
              <b><vs-chip style="float: left; margin-top: -10px;"><vs-icon icon="call" ></vs-icon> {{contactresid}}</vs-chip></b>
            </vs-col>
            <vs-col v-tooltip="'col - 2'" vs-type="block" vs-justify="center" vs-align="center" vs-w="6">
              <center><vs-chip style="padding: 8px; float: right; font-weight: bold;" color="#ffa500">{{typer}}</vs-chip></center><br><br>
              <span style="float: right;"><b>{{libelleresid}}</b></span><br>
              <span style="padding: 8px; float: right;">{{villeresid}} - {{zoneresid}}</span>
            </vs-col>
      </vs-row>
      
      <el-carousel style="border: 3px solid #ff9800; height: 307px" arrow="always" v-if="!videoCall">
                        <el-carousel-item>
                           <center>
                            <img :src="imagea" height="300">
                            
                            </center>
                        </el-carousel-item>
                        <el-carousel-item v-if="imageb.length > 10">
                           <center>
                            <img :src="imageb" height="300">
                            
                            </center>
                        </el-carousel-item>
                        <el-carousel-item v-if="imagec.length > 10">
                           <center>
                            <img :src="imagec" height="300">
                            
                            </center>
                        </el-carousel-item>
                        
                        
                    </el-carousel>
       </div>
     </vs-prompt>
     <vs-prompt
      color="success"
      title="Annulation de réservation"
      accept-text="Valider Annulation"
      @cancel="reservationAnnulee()"
      @accept="dell= false"
      @close="close"
      :buttons-hidden="errorReserve"
      :is-valid="validName"
      :active.sync="dell">
       <div class="con-exemple-prompt">
      <p style="font-size: 16px; text-align: center; font-weight: bold;">Réservation du <span style="color: orange;">03/04/2022</span> Au <span style="color: orange;">04/04/2022</span></p><br>
      <vs-divider/>
      <vs-row>
            <vs-col v-tooltip="'col - 2'" vs-type="block" vs-justify="center" vs-align="center" vs-w="6">
              <center><vs-chip style="padding: 8px; font-weight: bold;" color="#67d967">{{jourreserve}} jours : 75000 CFA</vs-chip></center><br><br>
              <span style="padding: 8px;">Par : <b>{{users.name}}</b></span><br><br>
              <b><vs-chip style="float: left; margin-top: -10px;"><vs-icon icon="call" ></vs-icon> 0102529831</vs-chip></b>
            </vs-col>
            <vs-col v-tooltip="'col - 2'" vs-type="block" vs-justify="center" vs-align="center" vs-w="6">
              <center><vs-chip style="padding: 8px; float: right; font-weight: bold;" color="#ffa500">2 PIECES</vs-chip></center><br><br>
              <span style="float: right;"><b>Résidence des lagunes</b></span><br>
              <span style="padding: 8px; float: right;">Abidjan - Cocody</span>
            </vs-col>
      </vs-row>
      <vs-divider/>
      <p style="font-size: 18px; text-align: center; font-weight: bold;">Motif d'Annulation</p><br>
      <vs-select
              
              class="select-zone web-search"
              label="Motif"
              v-model="select2"
              >
              <vs-select-item :key="index" :value="item.text" :text="item.text" v-for="item,index in options2" />
            </vs-select>
      
       </div>
     </vs-prompt>
  </div>
</template>

<script>
import axios from 'axios';
// @ is an alias to /src

export default {
  name: 'Web',
  computed: {
    users() {
      return this.$store.state.users;
    }
  },
  data(){
    return {
      useri: {
        name: '',
        email: '',
        contact: '',
      },
      videoCall: false,
      libelleresid: '',
      imagea: '',
      imageb: '',
      imagec: '',
      villeresid: '',
      zoneresid: '',
      nomreserve: '',
      typer: '',
      contactresid: '',
      jourreserve: 3,
      moisreserve: null,
      dateDu: '2022-09-19',
      dateAu: '2022-09-22',
      datechange: false,
      select2:'Tous types',
      options2:[
        {text:'Client ne répond pas au téléphone',value:0},
        {text:'Client réporte la réservation',value:1},
        {text:'Client veut plus réserver',value:2},
      ],
      viewsData: null,
      reef:4589321908760,
      numberOk: true,
      select1:0,
      select3:0,
      select4:0,
      residences: null,
      del: false,

      userss:[
      {
        "id": 1,
        "name": "Leanne Graham",
        "username": "Bret",
        "email": "Sincere@april.biz",
        "website": "hildegard.org",
      },
      {
        "id": 2,
        "name": "Ervin Howell",
        "username": "Antonette",
        "email": "Shanna@melissa.tv",
        "website": "anastasia.net",
      },
      {
        "id": 3,
        "name": "Clementine Bauch",
        "username": "Samantha",
        "email": "Nathan@yesenia.net",
        "website": "ramiro.info",
      },
      {
        "id": 4,
        "name": "Patricia Lebsack",
        "username": "Karianne",
        "email": "Julianne.OConner@kory.org",
        "website": "kale.biz",
      },
      {
        "id": 5,
        "name": "Chelsey Dietrich",
        "username": "Kamren",
        "email": "Lucio_Hettinger@annie.ca",
        "website": "demarco.info",
      },
      {
        "id": 6,
        "name": "Mrs. Dennis Schulist",
        "username": "Leopoldo_Corkery",
        "email": "Karley_Dach@jasper.info",
        "website": "ola.org",
      },
      {
        "id": 7,
        "name": "Kurtis Weissnat",
        "username": "Elwyn.Skiles",
        "email": "Telly.Hoeger@billy.biz",
        "website": "elvis.io",
      },
      {
        "id": 8,
        "name": "Nicholas Runolfsdottir V",
        "username": "Maxime_Nienow",
        "email": "Sherwood@rosamond.me",
        "website": "jacynthe.com",
      },
      {
        "id": 9,
        "name": "Glenna Reichert",
        "username": "Delphine",
        "email": "Chaim_McDermott@dana.io",
        "website": "conrad.com",
      },
      {
        "id": 10,
        "name": "Clementina DuBuque",
        "username": "Moriah.Stanton",
        "email": "Rey.Padberg@karina.biz",
        "website": "ambrose.net",
      }
    ]
    }
  },
  methods: {
    deconnexion() {
      this.$store.commit('Connexion', this.useri);
      this.users.name = '';
      this.$router.push({ path: '/login' });
    },
    views(data) {
      this.viewsData = data;
      this.del = true;
      this.reef = this.viewsData.reference;
      this.dateDu = this.viewsData.du;
      this.dateAu = this.viewsData.au;
      this.jourreserve = this.viewsData.nbjour;
      this.nomreserve = this.viewsData.nom;
      this.villeresid = this.viewsData.ville;
      this.zoneresid = this.viewsData.zone;
      this.contactresid = this.viewsData.contact;
      this.typer = this.viewsData.typer;
      this.imagea = this.viewsData.imagea;
      this.imageb = this.viewsData.imageb;
      this.imagec = this.viewsData.imagec;

    },
    reservationform() {
      const dt = new Date(this.dateDu);
      const month = dt.getMonth() + 1;
      const year = dt.getFullYear();
      const daysInMonth = new Date(year, month, 0).getDate();
      
      const mf = this.dateAu.substring(5, 7);
      const md = this.dateDu.substring(5, 7);
      const fin = this.dateAu.slice(-2);
      const debut = this.dateDu.slice(-2);
      const dif = mf - md;
      if(dif == '0') {
        this.moisreserve = 0;
      }
      if(dif == '1') {
        this.moisreserve = daysInMonth;
      }
      
      this.jourreserve = fin - debut + this.moisreserve;
      this.errorReserve = false;
      if(this.dateAu == '') {
        this.jourreserve = null;
        this.errorReserve = true;
      }
    },
    reservationAnnule() {
      this.del = false;
      this.dell = true;
    },

    reservationAnnulee() {
      this.dell = !this.dell;
    },
    
     handleClose() {
        
      },
    getResidences() {
      this.$vs.loading({
        type:'point',
      })
      axios.get('https://autre.sarezide.com/sarezide_get_reservations_touts.php?ref=' + this.users.id)
      .then((response) => {
        this.residences = response.data.data;
        console.log(this.residences);
        this.$vs.loading.close()
      }, (error) => {
        console.log(error);
        this.$vs.loading.close()
      });
    },

    sendsms() {
      const data = {
            'grant_type': 'client_credentials'
            } 
      axios.post('https://api.orange.com/oauth/v3/token', data, {
        headers: {
          'Authorization': 'Basic UjFpcWpvaTZhN2pjTmdHUmt0QkRqWE9kc1NFcVVSM2Q6eXpob1pPcVpCZzR5QXZVMg==',
          'Content-Type': 'application/x-www-form-urlencoded',
        },
      })
      .then((response) => {
        console.log(response);
      }, (error) => {
        console.log(error);
      });
    },

    sendsmss() {
        const data = {
          "outboundSMSMessageRequest": {
                "address": "tel:+2250102529831",
                "senderAddress":"tel:+2250102529831",
                "outboundSMSTextMessage": {
                  "message": "Bonjour Monsieur Sanogo, votre réservation sur SAREZIDE à été enregistré.\nREF: 2376580934\nNous vous contactons bientôt.\n www.sarezide.com"
                }
              }
            } 
      axios.post('https://api.orange.com/smsmessaging/v1/outbound/tel%3A%2B2250102529831/requests', data, {
        headers: {
          'Authorization': 'Bearer ImVuXQafgq6BCDATyTucOQXHiaZD',
          'Content-Type': 'application/json',
        },
      })
      .then((response) => {
        this.verif(response)
      }, (error) => {
        console.log(error);
      });
    },
    verifcon() {
          if(this.users.name == '') {
            this.$router.push({ path: '/login' });
          }
        }
  },
  mounted() {
    this.getResidences();
    this.verifcon();
  },
}
</script>
