@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400&display=swap');
.head-head-resid {
    width: 100%;
    margin: 0px;
    z-index: 1;
}

.head-column-of-logo {
    color: #5e5eff;
    font-size: 30px
}

.zone-of-work {
    width: 1220px;
    margin: 0 auto;
    z-index: 1;
}

.zone-of-work-m {
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    z-index: 1;
}

.zone-of-work-mobile {
    padding: 10px;
}

.zone-of-search {
    padding-top: 20px;
    padding-bottom: 20px;
}

.select-zone {
    padding: 5px;
    color: #64688c;
}

.mobile-select-zone {
    padding: 5px;
    width: 100%;
}

.select-zone-button {
    background-color: white;
    padding: 5px;
    width: 100%;
    padding: 10px;
    margin: 0 auto;
    margin-top: 15px;
}

.result-zone {
    padding-left: 18px;
    width: 100%;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
    width: 100%;
}

.result-item {
    width: 100%;
}

.result-item-detail {
    padding-left: 5px;
    display: grid;
}

.result-item-detail-m {
    padding-left: 0px;
    display: block;
}

.mobile-result-item-detail {
    padding-left: 7px;
    display: block;
}

.result-title {
    font-size: 18px;
}

.result-title-m {
    font-size: 15px;
}

.result-title-detail {
    font-size: 20px;
}

.mobile-result-title {
    font-size: 15px;
}

.result-location {
    font-size: 12px;
    color: #5e5eff;
}

.result-location-m {
    font-size: 10px;
    color: #5e5eff;
    padding-top: 10px
}

.result-location-detail {
    font-size: 16px;
    color: #5e5eff;
}

.mobile-result-location {
    font-size: 13px;
    color: #5e5eff;
}

.services-list {
    display: flex;
    padding-top: 8px;
}

.services-list-icon {
    font-size: 24px;
    color: #9c9ea1;
    padding: 5px
}

.services-list-iconw {
    font-size: 16px;
    color: #9c9ea1;
}

.services-list-icon-m {
    font-size: 14px;
    color: #9c9ea1;
    padding: 5px
}

.mobile-services-list-icon {
    font-size: 16px;
    color: #9c9ea1;
    padding: 5px
}

.result-item-price-zone {
    padding: 5px;
    display: grid;
    text-align: center;
}

.mobile-result-item-price-zone {
    padding: 10px;
    display: grid;
    text-align: center;
}

.result-price-delay {
    font-size: 11px;
    
}

.result-residence-type {
    font-size: 15px;
    color: #5e5eff
}

.result-price {
    font-size: 20px;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
}

.result-price-detail {
    font-size: 25px;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
}

.result-text {
    font-size: 13px;
    color: #9c9ea1;
    padding-top: 15px
}

.result-text-detail {
    font-size: 16px;
    text-align: justify;
    color: #9c9ea1;
    padding-top: 15px;
    line-height: 22px;
}

.mobile-result-text {
    font-size: 12px;
    color: #9c9ea1;
    padding-top: 10px
}

.result-list-title {
    padding-top: 10px;
    color: #1f74ff
}

.result-price-reduction {
    font-size: 11px;
    color: #1f74ff;
}

.result-price-journee {
    font-size: 11px;
    color: #9c9ea1;
    padding: 1px;
}

.result-left-zone {
    padding: 5px;
}

.left-zone-title {
    font-size: 14px;
    font-weight: bold;
    color: #5e5eff;
}

.left-zone-list {
    font-weight: 300;
    color: #9c9ea1;
    font-size: 11px;
}



.mobile-head-connexion {
    font-size: 12px;
    float: right;
    margin-top: -8px;
}

.mobile-zone-recherche {
    background-color: white;
}

.login-zone {
    text-align: center;
    width: 500px;
    margin: 0 auto;
    margin-top: 30px;
}

.login-zone-m {
    text-align: center;
    max-width: 500px;
    margin: 30px auto;
}

.dashboard-zone {
    text-align: center;
    width: 1100px;
    margin: 0 auto;
    margin-top: 30px;
}

.dashboard-zone-m {
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
}

.el-carousel__container .el-carousel__arrow {
    background-color: #5e5eff;
}

.el-carousel .el-carousel__container {
    position: relative;
    height: 300px;
  }

.vs-icon {
    margin-top: -6px;
}

.card-nav {
    background-color: white;
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
    padding: 2px;
}

.ico i {
    color: #1f74ff;
  }

.vs-select--options ul {
      display: grid;
  }

.vs-card--content {
    margin-bottom: 0px;
}

.foot-action {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 4px 5px;
    background: white;
    margin-left: -10px;
    z-index: 10000000;
    box-shadow: 0 3px 15px 5px rgba(0,0,0,.2),0 2px 5px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
}

.logo-center {
    transform: translateY(100%);
    width: 70%;
    margin-left: 15%
}

.VueCarousel-pagination {
    margin-top: -75px;
    z-index: 100;
    color: #5e5eff;
}

.VueCarousel-navigation-prev {
    margin-left: 40px;
    border: 1px solid #5e5eff;
    background: #5e5eff;
    color: white;
    border-radius: 30px;
}

.VueCarousel-navigation-next {
    margin-right: 40px;
    border: 1px solid #5e5eff;
    background: #5e5eff;
    color: white;
    border-radius: 30px;
}
.VueCarousel-navigation button {
    background-color: #5e5eff;
    color: #5e5eff
}

.VueCarousel-navigation-button {
    color: #5e5eff;
    background-color: #5e5eff;
}

#zoom .VueCarousel-wrapper {
    height: 100%;
}


.VueCarousel-navigation-button {
    color: red
}

.el-dialog {
    width: 100%;
    height: 100vh;
    position: fixed;
}

.service-title {
    padding-left: 10px;
    color: gray;
    margin-top: -1px;
    position: absolute;
}

.grid-content {
    padding-top: 15px
}

.item_localisation {
    width: 110px;
    margin: 3px;
}

.item_localisation_web {
    width: 285px;
    margin: 3px;
}

.recherche-block {
    border-radius: 0.5rem;
    margin: 40px 1px;
    padding: 14px;
}

.web-search div input {
    font-size: 12px;
    background-color: #ecfafb;
    border: none;
    padding: 14px;
    color: #64688c;
    letter-spacing:.5px;
}

.web-searchh div input {
    font-size: 12px;
    background-color: white;
    border: none;
    padding: 14px;
    color: #64688c;
    letter-spacing:.5px;
}

.web-search:hover div input {
    font-size: 12px;
    background-color: #ecfafb;
    border: none;
    padding: 14px;
    color: #64688c;
    letter-spacing:.5px;
    cursor:text;
}

.nav-head .vs-con-items{
    margin: 0 auto;
}

.headers-button-themea {
    padding: 0px 20px;
    line-height: 80px;
    color: #383a4e;
    white-space: nowrap;
    font-size: 15px;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    font-family: 'Jost', sans-serif;
}

.headers-right-button-themea {
    border-radius: 15px;
    padding: 0 40px;
    border-radius: 50px;
    height: 50px; white-space: nowrap;
    font-family: 'Jost', sans-serif;
    letter-spacing: 2px;
}

.vs-card--content {
    padding: 0px;
    font-size: .8rem;
    margin-bottom: 15px;
}

.accueil-bodyimg-themea {
    background-image: linear-gradient(to top right, rgba(228, 221, 221, 0.199) 10%, rgba(0, 0, 0, 0.068) 60%),
    url("../assets/test22.jpg");
    height: 550px;
    margin-top: -25px;
    background-attachment: fixed;
    background-size:cover;
    background-position:right center;
    background-repeat: no-repeat;
    border-bottom: 13px solid white;
}

.accueil-bodyservice-themea {
    max-width: 1100px;
    margin: 130px auto;
}

.accueil-bodycard-themea {
    max-width: 1200px;
    margin: -70px auto;
}

.accueil-bodytitle-themea {
    color: white;
    margin-top: -40px;
    font-weight: 600;
    font-size: 70px;
    font-family: 'Jost', sans-serif;
}

.accueil-bodytitle-themeamo {
    color: white;
    margin-top: -40px;
    font-weight: 600;
    font-size: 50px;
    font-family: 'Jost', sans-serif;
}

.accueil-bodysubtitle-themea {
    color: white;
    font-size: 17px;
    font-family: 'Jost', sans-serif;
    font-weight: normal;
}

.accueil-bodysearch-themea {
    max-width: 1100px;
    margin: 30px auto;
}

.input {
    background-color: #fbf8ec;
}

.accueil-bodyserviceitem-themea {
    background-color: #f2ffff;
    text-align: center;
    display: grid;
    padding: 30px;
    font-family: 'Jost', sans-serif;
    font-weight: bold;
    font-size: 14px;
    border-radius: 20px;
}

.accueil-bodyserviceitemdetail-themea {
    background-color: white;
    text-align: center;
    display: grid;
    padding: 25px;
    font-family: 'Jost', sans-serif;
    font-weight: bold;
    font-size: 16px;
    border-radius: 20px;
}

.accueil-bodyserviceitemdetail-themea21 {
    background-color: white;
    text-align: center;
    display: grid;
    padding: 12px;
    font-family: 'Jost', sans-serif;
    font-weight: bold;
    font-size: 13px;
    border-radius: 20px;
}

.accueil-bodyserviceitemdetail-themeacaract {
    background-color: white;
    text-align: center;
    display: grid;
    padding: 15px;
    font-family: 'Jost', sans-serif;
    font-weight: bold;
    font-size: 16px;
    border-radius: 20px;
}

.accueil-bodycarditem-themea {
    text-align: center;
    display: grid;
    padding: 50px;
    font-family: 'Jost', sans-serif;
    font-weight: bold;
    font-size: 16px;
    border-radius: 20px;
}

.accueil-bodycarditem-themeamo {
    text-align: center;
    display: grid;
    padding: 10px;
    font-family: 'Jost', sans-serif;
    font-weight: bold;
    font-size: 16px;
    border-radius: 20px;
}

.accueil-body-corp {
    background-color: #f2ffff;
}

body {
    background-color: #f2ffff;
}

.accueil-bodycarditemtext-themea {
    font-family: 'Jost', sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 400;
    color: #64688c;
    line-height: 1.75;
}

.accueil-bodyhelp-themea {
    max-width: 700px;
    margin: 160px auto;
}

.accueil-bodycarditem-themea {
    width: 500px;
    text-align: center;
    display: grid;
    padding: 50px;
    font-family: 'Jost', sans-serif;
    font-weight: bold;
    font-size: 16px;
    border-radius: 20px;
}

.accueil-bodycarditem-themeb {
    text-align: center;
    display: grid;
    padding: 50px;
    font-family: 'Jost', sans-serif;
    font-weight: bold;
    font-size: 16px;
    border-radius: 20px;
}

.vs-icon {
    font-size: 15px;
    margin-top: 0;
}

.material-icons {
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-feature-settings: "liga";
}

.con-vs-avatar {
    width: 23px;
    height: 23px;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    display: inline-block;
    margin: 5px;
}

.el-date-editor input {
    background-color: #ecfafb;
    width: 100%;
}

.imgselectlist:hover {
    cursor: pointer;
}

.testss {
    position: -webkit-sticky;
    position: sticky;
    top: 10px;
    box-sizing: border-box;
}

.el-dialog__body {
    padding: 0px;
    color: #606266;
    font-size: 14px;
    word-break: break-all;
}

.el-timeline-item__node--large {
    left: -2px;
    width: 24px;
    height: 24px;
}

.el-timeline-item__icon {
    color: #FFF;
    font-size: 16px;
}

.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .zone-recherche-accueil:hover {
    color: orange;
    cursor: pointer;
    width: 100%;
  }

  .designSelect {
    border: 2px solid #b6d5d7;
    margin: 5px;
  }

  .designSelect input {
    padding: 15px;
    color: red;
  }