<template>
  <div id="app">
    <vs-alert v-if="isOffline" title="Pas de connexion" active="true" color="danger" icon="wifi_off">
    Vous êtes hors ligne, les informations ne sont pas actualisées. Vérifiez votre connexion internet.
    </vs-alert>
    <div class="head-contour">

      <Headmobile v-if="isMobile" msg="Welcome to Your Vue.js App"/>
      <Head v-else msg="Welcome to Your Vue.js App"/>

    </div>
    <router-view class="corps"/>

    <Footer v-if="currentUrl != 'https://sarezide.com/accueil' || currentUrl != 'http://sarezide.com/accueil'" class="footer"/>

  </div>
</template>
<script>
// @ is an alias to /src
// import Footer from '@/components/Footer.vue'
import Head from '@/components/Head.vue'
import Headmobile from '@/components/Headmobile.vue'
import { isMobile } from 'mobile-device-detect';
import axios from 'axios';
export default {
  name: 'Home',
  components: {
    Head,
    Headmobile,
   // Footer
  },
   data(){
    return {
      currentUrl: 'http://localhost:8080/accueil',
      isMobile: isMobile,
      lala: this.$store.state.enLigne,
      ip: null,
    }
  },
  methods: {
    Visite() {
      this.currentUrl = window.location.href;
      fetch('https://api.ipify.org?format=json')
      .then(x => x.json())
      .then(({ ip }) => {
          this.ip = ip;
          console.log(this.ip);
          this.SaveIp();
      });
    },

    SaveIp() {
      axios.get('https://autre.sarezide.com/vue.php?ip='+ this.ip)
        .then((response) => {
          console.log(response)
        }, (error) => {
          console.log(error);
        });
        axios.get('https://autre.sarezide.com/sarezide_vuer.php?ip='+ this.ip)
        .then((response) => {
          console.log(response)
        }, (error) => {
          console.log(error);
        });
    }
  },
  mounted() {
    this.Visite()
  },
  
}
</script>
<style>

.corps {
  background: #f2ffff;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

#nav {
  padding: 5px 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}

.head-contour {
  padding: 1px;
}

.footer {
   width: 100%;
   color: white;
   text-align: center;
}
</style>
