<template>
    <div class="corps">
      <div class=" zone-of-work">
        <br>
          <div class="dashboard-zone">
            <el-link type="warning" style="margin-top: -35px; float: right;" @click="deconnexion()"><vs-icon icon="logout"  color="#67d967"></vs-icon> Déconnexion</el-link>
            <vs-row>
              <vs-col v-tooltip="'col - 2'" vs-type="flex" vs-justify="center" vs-align="center" vs-w="5.3">
                  <vs-card>
                    <vs-col v-tooltip="'col - 2'" vs-type="flex" vs-justify="center" vs-align="center" vs-w="5.3">
                        <vs-card>
                          <vs-avatar size="60px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/50/User_icon-cp.svg/1200px-User_icon-cp.svg.png"/>
                          <p style="color: #808080a1;padding-top: 10px;">{{users.name}}</p>
                        </vs-card>
                    </vs-col>
                    <vs-col v-tooltip="'col - 2'" vs-type="grid" vs-justify="center" vs-align="center" vs-w="5.3">
                      <router-link to="/dashboard_list"><vs-button style="width: 100%;" line-origin="left" color="dark" type="line">Liste des résidences</vs-button></router-link>
                      <router-link to="/dashboard"><vs-button style="width: 100%;" line-origin="left" color="dark" type="line">Liste les réservations</vs-button></router-link>
                      <router-link to="/dashboard_profile"><vs-button style="width: 100%;" line-origin="left" color="dark" type="line">Configurations</vs-button></router-link>
                    </vs-col>
                  </vs-card>
              </vs-col>
              <vs-col v-tooltip="'col - 2'" vs-type="flex" vs-justify="center" vs-align="center" vs-w="0.3">
                  
              </vs-col>
              <vs-col v-tooltip="'col - 2'" vs-type="flex" vs-justify="left" vs-align="left" vs-w="1.6">
                  <vs-card style="text-align: left">
                    <vs-avatar color="warning" icon="list" />
                    <p style="color: #808080a1;padding-top: 10px;">Réservations</p>
                    <p style="font-weight: bold; font-size: 16px; color: gray; padding-top: 10px;">212 <vs-icon icon="trending_up"  color="#67d967"></vs-icon></p>
                    <p style="font-size: 12px; color: #808080a1; padding-top: 10px;">212 <span style="color: orange">en cours...</span></p>
                  </vs-card>
              </vs-col>
              <vs-col v-tooltip="'col - 2'" vs-type="flex" vs-justify="center" vs-align="center" vs-w="1.6">
                <vs-card style="text-align: left">
                    <vs-avatar color="warning" icon="visibility" />
                    <p style="color: #808080a1;padding-top: 10px;">Visite</p>
                    <p style="font-weight: bold; font-size: 16px; color: gray; padding-top: 10px;">212 <vs-icon icon="visibility"  color="#67d967"></vs-icon></p>
                    <p style="font-size: 12px; color: #808080a1; padding-top: 10px;">212 <span style="color: orange">aujourd'hui</span></p>
                  </vs-card>
              </vs-col>
              <vs-col v-tooltip="'col - 2'" vs-type="flex" vs-justify="center" vs-align="center" vs-w="1.6">
                <vs-card style="text-align: left">
                    <vs-avatar color="warning" icon="night_shelter" />
                    <p style="color: #808080a1;padding-top: 10px;">Résidences</p>
                    <p style="font-weight: bold; font-size: 16px; color: gray; padding-top: 10px;">212 <vs-icon icon="autorenew"  color="#67d967"></vs-icon></p>
                    <p style="font-size: 12px; color: #808080a1; padding-top: 10px;"><router-link to="/dashboard-new"><el-link type="warning">Ajouter ici</el-link></router-link> </p>
                  </vs-card>
              </vs-col>
              <vs-col v-tooltip="'col - 2'" vs-type="flex" vs-justify="center" vs-align="center" vs-w="1.6">
                
              </vs-col>
            </vs-row>
            
            <el-card class="box-card">
              <router-link to="/dashboard-new"><el-link type="warning" style="font-size: 25px">Cliquez ici pour ajouter une résidence</el-link></router-link>
                <vs-card v-for="item in residences" :key="item.id_resid">
                      <el-row>
                          <el-col :span="4">
                              <div class="grid-content bg-purple">
                              <img :src="item.imagea" width="130">
                              
                              </div>
                          </el-col>
                          <el-col :span="10">
                              <div class="grid-content bg-purple" style="display: grid;">
                                  <span style="font-size: 18px">{{item.libelle}}</span>
                                  <span style="font-size: 15px; color: #ff9800">{{item.ville}} - {{item.zone}} - {{item.quartier}}</span>
                                  <span style="font-size: 12px; color: gray; padding-top: 5px">Publié le {{item.dte}}</span>
                                  <span style="font-size: 18px; padding-top: 8px; font-weight: bold">{{item.jourt}} CFA</span>
                              </div>
                          </el-col>
                          <el-col :span="4">
                              <div class="grid-content bg-purple">
                              <br>
                                  <p>Statut</p>
                                  <p style="padding-top: 5px; color: #17e117" v-if="item.statut==1">En Ligne</p>
                                  <p style="padding-top: 5px; color: red" v-else>Refusé</p>
                              </div>
                          </el-col>
                          <el-col :span="6">
                              <div class="grid-content bg-purple" style="padding: 20px; display: flex">
                                  <vs-button color="primary" type="border" icon="visibility" style="margin: 3px"></vs-button>
                                  <vs-button color="success" type="border" icon="edit" style="margin: 3px"></vs-button>
                                  <vs-button color="danger" type="border" icon="delete" style="margin: 3px" @click="choisid(item.id_resid)"></vs-button>
                              </div>
                          </el-col>
                      </el-row>
                   </vs-card>
            </el-card>
  
              
          </div>
      </div>
      <el-dialog
      style="z-index: 1000000"
        title="Tips"
        :visible.sync="del"
        width="30%"
        :before-close="handleClose">
        <span>Ceci est un message</span>
        <span slot="footer" class="dialog-footer">
          <el-button @click="del = false">Annuler</el-button>
          <el-button type="primary" @click="supResidences(), del = false">Confirmer</el-button>
        </span>
      </el-dialog>
    </div>
  </template>
  
  <script>
  import axios from 'axios';
  // @ is an alias to /src
  
  export default {
    name: 'Web',
    computed: {
      users() {
        return this.$store.state.users;
      }
    },
    data(){
      return {
        useri: {
          name: '',
          email: '',
          contact: '',
        },
        numberOk: true,
        select1:0,
        select2:0,
        select3:0,
        select4:0,
        residences: null,
        del: false,
        var: '',
        userss:[
        {
          "id": 1,
          "name": "Leanne Graham",
          "username": "Bret",
          "email": "Sincere@april.biz",
          "website": "hildegard.org",
        },
        {
          "id": 2,
          "name": "Ervin Howell",
          "username": "Antonette",
          "email": "Shanna@melissa.tv",
          "website": "anastasia.net",
        },
        {
          "id": 3,
          "name": "Clementine Bauch",
          "username": "Samantha",
          "email": "Nathan@yesenia.net",
          "website": "ramiro.info",
        },
        {
          "id": 4,
          "name": "Patricia Lebsack",
          "username": "Karianne",
          "email": "Julianne.OConner@kory.org",
          "website": "kale.biz",
        },
        {
          "id": 5,
          "name": "Chelsey Dietrich",
          "username": "Kamren",
          "email": "Lucio_Hettinger@annie.ca",
          "website": "demarco.info",
        },
        {
          "id": 6,
          "name": "Mrs. Dennis Schulist",
          "username": "Leopoldo_Corkery",
          "email": "Karley_Dach@jasper.info",
          "website": "ola.org",
        },
        {
          "id": 7,
          "name": "Kurtis Weissnat",
          "username": "Elwyn.Skiles",
          "email": "Telly.Hoeger@billy.biz",
          "website": "elvis.io",
        },
        {
          "id": 8,
          "name": "Nicholas Runolfsdottir V",
          "username": "Maxime_Nienow",
          "email": "Sherwood@rosamond.me",
          "website": "jacynthe.com",
        },
        {
          "id": 9,
          "name": "Glenna Reichert",
          "username": "Delphine",
          "email": "Chaim_McDermott@dana.io",
          "website": "conrad.com",
        },
        {
          "id": 10,
          "name": "Clementina DuBuque",
          "username": "Moriah.Stanton",
          "email": "Rey.Padberg@karina.biz",
          "website": "ambrose.net",
        }
      ]
      }
    },
    methods: {
      deconnexion() {
        this.$store.commit('Connexion', this.useri);
        this.users.name = '';
        this.$router.push({ path: '/login' });
      },
      
       choisid(i) {
        this.del=true;
        this.var=i;
        },
        supResidences() {
        this.$vs.loading({
          type:'point',
        })
        axios.get('https://autre.sarezide.com/sarezide_supprimer_resid.php?id=' + this.var)
        .then((response) => {
          this.residences = response.data.data;
          this.$vs.loading.close()
        }, (error) => {
          console.log(error);
          this.$vs.loading.close()
        });
      },
      getResidences() {
        this.$vs.loading({
          type:'point',
        })
        axios.get('https://autre.sarezide.com/sarezide_get_residences.php?id=' + this.users.id)
        .then((response) => {
          this.residences = response.data.data;
          this.$vs.loading.close()
        }, (error) => {
          console.log(error);
          this.$vs.loading.close()
        });
      },
      verifcon() {
            if(this.users.name == '') {
              this.$router.push({ path: '/login' });
            }
          }
    },
    mounted() {
      this.getResidences();
      this.verifcon();
    },
  }
  </script>
  