<template>
    <div class="corps">
      <div class=" zone-of-work">
        <br>
          <div class="dashboard-zone">
            <el-link type="warning" style="margin-top: -35px; float: right;" @click="deconnexion()"><vs-icon icon="logout"  color="#67d967"></vs-icon> Déconnexion</el-link>
              <vs-row>
                <vs-col v-tooltip="'col - 2'" vs-type="flex" vs-justify="center" vs-align="center" vs-w="5.3">
                    <vs-card>
                      <vs-col v-tooltip="'col - 2'" vs-type="flex" vs-justify="center" vs-align="center" vs-w="5.3">
                          <vs-card>
                            <vs-avatar size="60px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/50/User_icon-cp.svg/1200px-User_icon-cp.svg.png"/>
                            <p style="color: #808080a1;padding-top: 10px;">{{users.name}}</p>
                          </vs-card>
                      </vs-col>
                      <vs-col v-tooltip="'col - 2'" vs-type="grid" vs-justify="center" vs-align="center" vs-w="5.3">
                        <router-link to="/dashboard_list"><vs-button style="width: 100%;" line-origin="left" color="dark" type="line">Liste des résidences</vs-button></router-link>
                        <router-link to="/dashboard"><vs-button style="width: 100%;" line-origin="left" color="dark" type="line">Liste les réservations</vs-button></router-link>
                        <router-link to="/dashboard_profile"><vs-button style="width: 100%;" line-origin="left" color="dark" type="line">Configurations</vs-button></router-link>
                      </vs-col>
                    </vs-card>
                </vs-col>
                <vs-col v-tooltip="'col - 2'" vs-type="flex" vs-justify="center" vs-align="center" vs-w="0.3">
                    
                </vs-col>
                <vs-col v-tooltip="'col - 2'" vs-type="flex" vs-justify="left" vs-align="left" vs-w="1.6">
                    <vs-card style="text-align: left">
                      <vs-avatar color="warning" icon="list" />
                      <p style="color: #808080a1;padding-top: 10px;">Réservations</p>
                      <p style="font-weight: bold; font-size: 16px; color: gray; padding-top: 10px;">212 <vs-icon icon="trending_up"  color="#67d967"></vs-icon></p>
                      <p style="font-size: 12px; color: #808080a1; padding-top: 10px;">212 <span style="color: orange">en cours...</span></p>
                    </vs-card>
                </vs-col>
                <vs-col v-tooltip="'col - 2'" vs-type="flex" vs-justify="center" vs-align="center" vs-w="1.6">
                  <vs-card style="text-align: left">
                      <vs-avatar color="warning" icon="visibility" />
                      <p style="color: #808080a1;padding-top: 10px;">Visite</p>
                      <p style="font-weight: bold; font-size: 16px; color: gray; padding-top: 10px;">212 <vs-icon icon="visibility"  color="#67d967"></vs-icon></p>
                      <p style="font-size: 12px; color: #808080a1; padding-top: 10px;">212 <span style="color: orange">aujourd'hui</span></p>
                    </vs-card>
                </vs-col>
                <vs-col v-tooltip="'col - 2'" vs-type="flex" vs-justify="center" vs-align="center" vs-w="1.6">
                  <vs-card style="text-align: left">
                      <vs-avatar color="warning" icon="night_shelter" />
                      <p style="color: #808080a1;padding-top: 10px;">Résidences</p>
                      <p style="font-weight: bold; font-size: 16px; color: gray; padding-top: 10px;">212 <vs-icon icon="autorenew"  color="#67d967"></vs-icon></p>
                      <p style="font-size: 12px; color: #808080a1; padding-top: 10px;"><router-link to="/dashboard-new"><el-link type="warning">Ajouter ici</el-link></router-link> </p>
                    </vs-card>
                </vs-col>
                <vs-col v-tooltip="'col - 2'" vs-type="flex" vs-justify="center" vs-align="center" vs-w="1.6">
                  
                </vs-col>
              </vs-row>
              <vs-card style="margin-top: 20px; padding: 15px;">
                  
                    <span style="font-size: 18px">Ajouté les services d'aproximité</span>
                  <vs-divider/>
                  <div style="text-align: left">
                   <el-form ref="form" label-width="120px">
                      <el-form-item label="Nom Résidence">
                          <el-col :span="5">
                          <el-input v-model="form.serv" placeholder="Service" maxlength="45" show-word-limit></el-input>
                          </el-col>
                          <el-col :span="13">
                          
                            <el-input v-model="form.detailv" placeholder="Détails" maxlength="45" show-word-limit></el-input>
                          </el-col>
                          <el-col :span="5">
                          <el-input v-model="form.distv" placeholder="Distance en mettre" maxlength="45" show-word-limit></el-input>
                          </el-col>
                          
                      </el-form-item>
                      
                     
                      
                    
                     
                      
                      <el-alert v-if="error"
                        :title="errorMessage"
                        type="error"
                        effect="dark">
                      </el-alert>
                     
                      <el-form-item>
                          <el-button type="primary" @click="Before()">Ajouter résidence</el-button>
                          <el-button>Annuler</el-button>
                      </el-form-item>
                      </el-form>
                  </div>
              </vs-card>
              <el-card class="box-card">
            <vs-table style="text-align: left" stripe :data="liste">
              <template slot="header">
                <h3 style="color: orange; padding: 15px 0px;">
                  Services
                </h3>
              </template>
              <template slot="thead">
                <vs-th>
                  service
                </vs-th>
                <vs-th>
                  detail
                </vs-th>
                <vs-th>
                  distance
                </vs-th>
              </template>

              <template slot-scope="{data}">
                <vs-tr :key="indextr" v-for="(tr, indextr) in data" >
                  <vs-td :data="data[indextr].service">
                    {{data[indextr].service}}
                  </vs-td>

                  <vs-td :data="data[indextr].service">
                    {{data[indextr].detail}}
                  </vs-td>

                  <vs-td :data="data[indextr].service">
                    {{data[indextr].distance}}
                   
                  </vs-td>

                 
                </vs-tr>
              </template>
            </vs-table>
          </el-card>
          </div>
      </div>
    </div>
  </template>
  
  <script>
  import axios from 'axios';
  // @ is an alias to /src
  
  export default {
    name: 'Web',
    computed: {
      users() {
        return this.$store.state.users;
      }
    },
    data(){
      return {
        liste: [],
        center: {lat: 51.093048, lng: 6.842120},
        markers: [{
            id: 'dfsldjl3r',
            position: {
              lat: 51.093048, lng: 6.842120, title: 'Surat'
            },
          }],
        currentPlacelat: null,
        currentPlacelng: null,
        places: [],
        error: false,
        errorMessage: '',
        useri: {
          name: '',
          email: '',
          contact: '',
        },
        content: "<p>Entrez la description ici...</p>",
          form: {
            serv: '',
            detailv: '',
            distv: '',
            
          },
          options1:[
          {text:'2 jours',value:0},
          {text:'3 jours',value:1},
          {text:'4 jours',value:2},
          {text:'5 jours',value:3},
          {text:'1 semaine',value:4},
          {text:'1 mois',value:5},
        ],
          imagea: null,
          imageurla: null,
          imageb: null,
          imagec: null,
          imaged: null,
        numberOk: true,
        select1:0,
        select2:0,
        select3:0,
        select4:0,
        annee: null,
        villeListe: null,
        zoneListe: null,
        typeListe: null,
      }
    },
    methods: {
      deconnexion() {
        this.$store.commit('Connexion', this.useri);
        this.users.name = '';
        this.$router.push({ path: '/login' });
      },
  
        getVille() {
          this.$vs.loading({
            type:'point',
          })
          axios.get('https://autre.sarezide.com/sarezide_get_ville.php')
          .then((response) => {
            this.villeListe = response.data.data;
            console.log(this.ville);
            this.$vs.loading.close()
          }, (error) => {
            console.log(error);
            this.$vs.loading.close()
          });
      },
  
      successUpload(data){
        console.log(data)
        this.$vs.notify({color:'success',title:'Upload Success',text:'Lorem ipsum dolor sit amet, consectetur'})
      },
  
      getZone() {
          this.$vs.loading({
            type:'point',
          })
          axios.get('https://autre.sarezide.com/sarezide_get_zone.php?resid=Abidjan')
          .then((response) => {
            this.zoneListe = response.data.data;
            console.log(this.zone);
            this.$vs.loading.close()
          }, (error) => {
            console.log(error);
            this.$vs.loading.close()
          });
      },
  
      getType() {
          this.$vs.loading({
            type:'point',
          })
          axios.get('https://autre.sarezide.com/sarezide_get_typeresid.php')
          .then((response) => {
            this.typeListe = response.data.data;
            console.log(this.zone);
            this.$vs.loading.close()
          }, (error) => {
            console.log(error);
            this.$vs.loading.close()
          });
      },
  
      Before(){
          this.onSubmit();
      },
  
        onSubmit() {
        let formData = new FormData();
        formData.append('resid', this.$route.query.resid);
        formData.append('service', this.form.serv);
        formData.append('detail', this.form.detailv);
        formData.append('distance', this.form.distv);
        
        this.$vs.loading({
          type:'point',
        })
        axios.post('https://autre.sarezide.com/proximitess.php', formData)
         .then((response) => {
          this.liste = response.data;
          console.log(this.liste);
          this.$vs.loading.close();
          this.$notify.success({
            title: 'Enregistrement OK!',
            message: 'Votre résidence à été enregistré',
            showClose: false
          });
        })
        .catch(function (error) {
          console.log(error);
          this.$vs.loading.close()
        });
        },
  
        printYear: function () {
              return new Date().getFullYear() + 
              '' + new Date().getMonth()+ 
              '' + new Date().getDate()+
              '' + new Date().getHours()+
              '' + new Date().getMinutes()+
              '' + new Date().getMilliseconds()+
              '' + new Date().getSeconds();
        },
  
        uploadImage(e, a) {
              var files = e.target.files || e.dataTransfer.files;
              if (!files.length)
                  return;
              this.image = files[0]; 
  
              let formData = new FormData();
              let uploadPreset = "dsegjq9c"
              let cloudinaryUrl = "https://api.cloudinary.com/v1_1/r-sidence-meubl-e/upload"
              this.annee = this.printYear();
              formData.append('file', this.image);
              formData.append('public_id', this.annee);
              formData.append('upload_preset', uploadPreset)
  
              axios.post(cloudinaryUrl, formData)
              .then(res => {
                  let imageUrl = res.data;
                  if(a == 'a') {
                      this.imagea = imageUrl.url;
                      this.imageurla = imageUrl.url;
                  }
                  if(a == 'b') {
                      this.imageb = imageUrl.url;
                  }
                  if(a == 'c') {
                      this.imagec = imageUrl.url;
                  }
                  if(a == 'd') {
                      this.imaged = imageUrl.url;
                  }
              })
              .catch(err => {
                  console.log(err)
              })
          },
          handleImageAdded: function(file, Editor, cursorLocation, resetUploader) {
            // An example of using FormData
            // NOTE: Your key could be different such as:
            // formData.append('file', file)
  
            var formData = new FormData();
            formData.append("image", file);
  
            axios({
              url: "https://fakeapi.yoursite.com/images",
              method: "POST",
              data: formData
            })
              .then(result => {
                const url = result.data.url; // Get url from response
                Editor.insertEmbed(cursorLocation, "image", url);
                resetUploader();
              })
              .catch(err => {
                console.log(err);
              });
          },
          verifcon() {
            if(this.users.name == '') {
              this.$router.push({ path: '/login' });
            }
          },
          setPlace(place) {
        this.currentPlace = place;
      },
      geolocate: function() {
        navigator.geolocation.getCurrentPosition(position => {
          this.center = {
            lat: position.coords.latitude,
            lng: position.coords.longitude
          };
          this.markers[0].position.lat = this.center.lat;
          this.markers[0].position.lng = this.center.lng;
         
        });
      }
    },
    mounted() {
      this.geolocate();
      this.getVille();
      this.getZone();
      this.getType();
      this.verifcon();
      
    }
  }
  </script>
  