<template>
    <div class="corps">
      <div class=" zone-of-work">
        <br>
          <div class="dashboard-zone">
            <el-link type="warning" style="margin-top: -35px; float: right;" @click="deconnexion()"><vs-icon icon="logout"  color="#67d967"></vs-icon> Déconnexion</el-link>
            <vs-row>
              <vs-col v-tooltip="'col - 2'" vs-type="flex" vs-justify="center" vs-align="center" vs-w="5.3">
                  <vs-card>
                    <vs-col v-tooltip="'col - 2'" vs-type="flex" vs-justify="center" vs-align="center" vs-w="5.3">
                        <vs-card>
                          <vs-avatar size="60px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/50/User_icon-cp.svg/1200px-User_icon-cp.svg.png"/>
                          <p style="color: #808080a1;padding-top: 10px;">{{users.name}}</p>
                        </vs-card>
                    </vs-col>
                    <vs-col v-tooltip="'col - 2'" vs-type="grid" vs-justify="center" vs-align="center" vs-w="5.3">
                      <router-link to="/dashboard_list"><vs-button style="width: 100%;" line-origin="left" color="dark" type="line">Liste des résidences</vs-button></router-link>
                      <router-link to="/dashboard"><vs-button style="width: 100%;" line-origin="left" color="dark" type="line">Liste les réservations</vs-button></router-link>
                      <router-link to="/dashboard_profile"><vs-button style="width: 100%;" line-origin="left" color="dark" type="line">Configurations</vs-button></router-link>
                    </vs-col>
                  </vs-card>
              </vs-col>
              <vs-col v-tooltip="'col - 2'" vs-type="flex" vs-justify="center" vs-align="center" vs-w="0.3">
                  
              </vs-col>
              <vs-col v-tooltip="'col - 2'" vs-type="flex" vs-justify="left" vs-align="left" vs-w="1.6">
                  <vs-card style="text-align: left">
                    <vs-avatar color="warning" icon="list" />
                    <p style="color: #808080a1;padding-top: 10px;">Réservations</p>
                    <p style="font-weight: bold; font-size: 16px; color: gray; padding-top: 10px;">212 <vs-icon icon="trending_up"  color="#67d967"></vs-icon></p>
                    <p style="font-size: 12px; color: #808080a1; padding-top: 10px;">212 <span style="color: orange">en cours...</span></p>
                  </vs-card>
              </vs-col>
              <vs-col v-tooltip="'col - 2'" vs-type="flex" vs-justify="center" vs-align="center" vs-w="1.6">
                <vs-card style="text-align: left">
                    <vs-avatar color="warning" icon="visibility" />
                    <p style="color: #808080a1;padding-top: 10px;">Visite</p>
                    <p style="font-weight: bold; font-size: 16px; color: gray; padding-top: 10px;">212 <vs-icon icon="visibility"  color="#67d967"></vs-icon></p>
                    <p style="font-size: 12px; color: #808080a1; padding-top: 10px;">212 <span style="color: orange">aujourd'hui</span></p>
                  </vs-card>
              </vs-col>
              <vs-col v-tooltip="'col - 2'" vs-type="flex" vs-justify="center" vs-align="center" vs-w="1.6">
                <vs-card style="text-align: left">
                    <vs-avatar color="warning" icon="night_shelter" />
                    <p style="color: #808080a1;padding-top: 10px;">Résidences</p>
                    <p style="font-weight: bold; font-size: 16px; color: gray; padding-top: 10px;">212 <vs-icon icon="autorenew"  color="#67d967"></vs-icon></p>
                    <p style="font-size: 12px; color: #808080a1; padding-top: 10px;"><router-link to="/dashboard-new"><el-link type="warning">Ajouter ici</el-link></router-link> </p>
                  </vs-card>
              </vs-col>
              <vs-col v-tooltip="'col - 2'" vs-type="flex" vs-justify="center" vs-align="center" vs-w="1.6">
                
              </vs-col>
            </vs-row>
            
            <el-card class="box-card">
                <vs-row>
                    <vs-col v-tooltip="'col - 2'" vs-type="flex" vs-justify="center" vs-align="center" vs-w="6">
                        <vs-avatar size="260px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/50/User_icon-cp.svg/1200px-User_icon-cp.svg.png"/>
                    </vs-col>
                    <vs-col v-tooltip="'col - 2'" vs-type="flex" vs-justify="center" vs-align="center" vs-w="6">
                        <vs-card style="margin-top: 20px">
                            <span style="font-size: 18px">Informations Utilisateur</span>
                            <el-alert v-if="connexionOK"
                            :title="connexionMessage"
                            type="success"
                            effect="dark">
                            </el-alert>
                            <el-alert v-if="error"
                            :title="errorMessage"
                            type="error"
                            effect="dark">
                            </el-alert>
                            <el-alert v-if="connexionKO"
                            :title="connexionMessage"
                            type="error"
                            effect="dark">
                            </el-alert>
                            <vs-divider/>
                            <div style="text-align: left" v-if="!connexionOK">
                            <vs-input style="margin: 25px auto; width: 80%;" icon-no-border icon="account_circle" :label-placeholder="users.name" v-model="nom" disabled/>
                            <vs-input style="margin: 25px auto; width: 80%;" icon-no-border icon="email" :label-placeholder="users.email" v-model="email" disabled/>
                            <vs-input style="margin: 25px auto; width: 80%;" icon-no-border icon="phone" :label-placeholder="users.number" v-model="contact" disabled/>
                            <vs-input style="margin: 25px auto; width: 80%" icon-no-border icon="password" label-placeholder="Cliquez pour modifier le mot de passe" @focus="passw=true" v-model="mdp"/>
                           
                            
                            </div>
                            <router-link to="/dashboard" v-if="connexionOK">
                                <vs-button color="success" type="border">Aller à mon espace</vs-button>
                            </router-link>
                        </vs-card>
                    </vs-col>
                </vs-row>
             
            </el-card>

          </div>
      </div>
      <el-dialog
      style="z-index: 1000000"
        title="Modifier mon mot de passe"
        :visible.sync="passw"
        width="30%"
        :before-close="handleClose">
        <vs-input style="margin: 25px auto; width: 60%" icon-no-border icon="password" type="password" label-placeholder="Ancien mot de passe" @focus="passw=true" v-model="mdp"/>
        <vs-input style="margin: 25px auto; width: 60%" icon-no-border icon="password" type="password" label-placeholder="Nouveau mot de passe" @focus="passw=true" v-model="mdp"/>
        <vs-button style="margin: 0 auto; width: 60%; display: block; margin-bottom: 15px" color="success" type="filled" @click="inscription()">Valider inscription</vs-button>
        <span slot="footer" class="dialog-footer">
            <vs-button style="margin: 0 auto; width: 60%; display: block; margin-bottom: 15px"  type="filled" @click="passw=false">Annuler</vs-button>
        </span>
      </el-dialog>
      
    </div>
  </template>
  
  <script>
  import axios from 'axios';
  // @ is an alias to /src
  
  export default {
    name: 'Web',
    computed: {
      users() {
        return this.$store.state.users;
      }
    },
    data(){
      return {
        useri: {
          name: '',
          email: '',
          contact: '',
        },
        nom: '',
        email: '',
        contact: '',
        mdp: null,
        errorMessage: '',
        connexionData: null,
        connexionOK: false,
        error: false,
        connexionKO: false,
        connexionMessage: '',
        numberOk: true,
        select1:0,
        select2:0,
        select3:0,
        select4:0,
        residences: null,
        del: false,
        passw: false,
        utilis: null,
        userss:[
        {
          "id": 1,
          "name": "Leanne Graham",
          "username": "Bret",
          "email": "Sincere@april.biz",
          "website": "hildegard.org",
        },
        {
          "id": 2,
          "name": "Ervin Howell",
          "username": "Antonette",
          "email": "Shanna@melissa.tv",
          "website": "anastasia.net",
        },
        {
          "id": 3,
          "name": "Clementine Bauch",
          "username": "Samantha",
          "email": "Nathan@yesenia.net",
          "website": "ramiro.info",
        },
        {
          "id": 4,
          "name": "Patricia Lebsack",
          "username": "Karianne",
          "email": "Julianne.OConner@kory.org",
          "website": "kale.biz",
        },
        {
          "id": 5,
          "name": "Chelsey Dietrich",
          "username": "Kamren",
          "email": "Lucio_Hettinger@annie.ca",
          "website": "demarco.info",
        },
        {
          "id": 6,
          "name": "Mrs. Dennis Schulist",
          "username": "Leopoldo_Corkery",
          "email": "Karley_Dach@jasper.info",
          "website": "ola.org",
        },
        {
          "id": 7,
          "name": "Kurtis Weissnat",
          "username": "Elwyn.Skiles",
          "email": "Telly.Hoeger@billy.biz",
          "website": "elvis.io",
        },
        {
          "id": 8,
          "name": "Nicholas Runolfsdottir V",
          "username": "Maxime_Nienow",
          "email": "Sherwood@rosamond.me",
          "website": "jacynthe.com",
        },
        {
          "id": 9,
          "name": "Glenna Reichert",
          "username": "Delphine",
          "email": "Chaim_McDermott@dana.io",
          "website": "conrad.com",
        },
        {
          "id": 10,
          "name": "Clementina DuBuque",
          "username": "Moriah.Stanton",
          "email": "Rey.Padberg@karina.biz",
          "website": "ambrose.net",
        }
      ]
      }
    },
    methods: {
      inscription() {
      if(this.email.length < 8){
        this.errorMessage = 'Email incorrect'
        this.error = true;
      } else if(this.contact.length != 10) {
        this.errorMessage = 'Le contact mobile doit être de 10 caractères'
        this.error = true;
      } else if(this.mdp.length < 8) {
        this.errorMessage = 'Mot de passe trop court, 8 carractères minimum'
        this.error = true;
      }  else if(this.nom.length < 5) {
        this.errorMessage = 'Entrez un nom correct'
        this.error = true;
      } else {
        this.valide();
      }
    },
    valide() {
      this.error = false;
      let formData = new FormData();
      formData.append('nom', this.nom);
      formData.append('email', this.email);
      formData.append('contact', this.contact);
      formData.append('mdp', this.mdp);
      this.$vs.loading({
        type:'point',
      })
      axios.post('https://autre.sarezide.com/sarezide_inscription.php', formData,)
      .then((response) => {
        this.verif(response);
        this.$vs.loading.close()
      }, (error) => {
        console.log(error);
        this.$vs.loading.close()
      });
    },
    verif(data) {
        this.connexionKO = false;
         this.connexionOK = false;
       console.log(data);
       this.connexionMessage = data.data.mes
       if(data.data.valide == 1) {
         this.connexionKO = false;
         this.connexionOK = true;
       }
       if(data.data.valide == 2) {
         this.connexionKO = true;
         this.connexionOK = false;
       }
    },

      deconnexion() {
        this.$store.commit('Connexion', this.useri);
        this.users.name = '';
        this.$router.push({ path: '/login' });
      },
      
       handleClose() {
          
        },
      getResidences() {
        this.$vs.loading({
          type:'point',
        })
        axios.get('https://autre.sarezide.com/sarezide_get_users.php')
        .then((response) => {
          this.utilis = response.data.data;
          this.$vs.loading.close()
        }, (error) => {
          console.log(error);
          this.$vs.loading.close()
        });
      },
      verifcon() {
            if(this.users.name == '') {
              this.$router.push({ path: '/login' });
            }
          }
    },
    mounted() {
      this.getResidences();
      this.verifcon();
    },
  }
  </script>
  