<template>
    <div class="corps">
      <div class=" zone-of-work-m">
          <div class="dashboard-zone-m">
            <br>
            <el-link type="warning" style="margin-top: -35px; float: right;" @click="deconnexion()"><vs-icon icon="logout"  color="#67d967"></vs-icon> Déconnexion</el-link>
              <vs-row>
                <vs-col v-tooltip="'col - 2'" vs-type="flex" vs-justify="center" vs-align="center" vs-w="8.7">
                    <vs-card style=" padding: 3px;">
                      <vs-col v-tooltip="'col - 2'" vs-type="flex" vs-justify="center" vs-align="center" vs-w="5.3">
                          <vs-card>
                            <vs-avatar size="60px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/50/User_icon-cp.svg/1200px-User_icon-cp.svg.png"/>
                            <p style="color: #808080a1;padding-top: 10px;">{{users.name}}</p>
                          </vs-card>
                      </vs-col>
                      <vs-col v-tooltip="'col - 2'" vs-type="grid" vs-justify="center" vs-align="center" vs-w="6">
                        <router-link to="/dashboard"><vs-button style="width: 100%;" line-origin="left" color="dark" type="line">Mes résidences</vs-button></router-link>
                        <router-link to="/dashboard_reservation_list"><vs-button style="width: 100%;" line-origin="left" color="dark" type="line">Mes réservations</vs-button></router-link>
                        <router-link to="/dashboard-newm"><vs-button style="width: 100%;" line-origin="left" color="dark" type="line">Ajouter résidence</vs-button></router-link>
                      </vs-col>
                    </vs-card>
                </vs-col>
                <vs-col v-tooltip="'col - 2'" vs-type="flex" vs-justify="center" vs-align="center" vs-w="0.3">
                    
                </vs-col>
                <vs-col v-tooltip="'col - 2'" vs-type="flex" vs-justify="left" vs-align="left" vs-w="3">
                    <vs-card style="text-align: left; padding: 3px;">
                      <vs-avatar color="warning" icon="list" />
                      <p style="color: #808080a1;padding-top: 10px;">Réservations</p>
                      <p style="font-weight: bold; font-size: 16px; color: gray; padding-top: 10px;">0 <vs-icon icon="trending_up"  color="#67d967"></vs-icon></p>
                      <p style="font-size: 12px; color: #808080a1; padding-top: 10px;">0 <span style="color: orange">en cours...</span></p>
                    </vs-card>
               
                  
                </vs-col>
              </vs-row>
  
  
              <vs-card style="max-width: 400px; margin: 0 auto">
                 
                  <vs-divider/>
                    <span style="font-size: 18px">Liste des réservations</span>
                  <vs-divider/>
                  <div style="text-align: left">
                   <vs-card v-for="item in residences" :key="item.id_resid">
                      <el-row>
                          <el-col :span="8">
                              <div class="grid-content bg-purple">
                              <img :src="item.imagearef" style="width: 100%; max-height: 85px">
                              <div class="grid-content bg-purple">
                              <br>
                                  <p>Statut</p>
                                  <p style="padding-top: 5px; color: #17e117" v-if="item.statut==1">En Ligne</p>
                                  <p style="padding-top: 5px; color: red" v-else>Refusé</p>
                              </div>
                              </div>
                          </el-col>
                          <el-col :span="12">
                              <div class="grid-content bg-purple" style="display: grid; padding-left: 5px">
                                  <span style="font-size: 16px">{{item.libelle}}</span>
                                  <span style="font-size: 14px; color: #ff9800">{{item.ville}} - {{item.zone}} - {{item.quartier}}</span>
                                  <span style="font-size: 12px; color: gray; padding-top: 5px">Publié le {{item.dte}}</span>
                                  <span style="font-size: 18px; padding-top: 8px; font-weight: bold">{{item.jourt}} CFA</span>
                              </div>
                          </el-col>
                          <el-col :span="4">
                              <div class="grid-content bg-purple" style="padding-left: 10px; display: grid">
                                <router-link :to="'/detail?id=' + item.id_resid">
                                  <vs-button color="primary" type="border" icon="visibility" style="margin: 3px"></vs-button>
                                </router-link> 
                                  <vs-button @click="openAlert(item.id_resid)" color="danger" type="border" icon="delete" style="margin: 3px"></vs-button>
                              </div>
                          </el-col>
                      </el-row>
                   </vs-card>
                  </div>
              </vs-card>
          </div>
      </div>
      <el-dialog
      style="z-index: 1000000"
        title="Tips"
        :visible.sync="del"
        width="30%"
        :before-close="handleClose">
        <span>Ceci est un message</span>
        <span slot="footer" class="dialog-footer">
          <el-button @click="del = false">Annuler</el-button>
          <el-button type="primary" @click="del = false">Confirmer</el-button>
        </span>
      </el-dialog>
    </div>
  </template>
  
  <script>
  import axios from 'axios';
  // @ is an alias to /src
  
  export default {
    name: 'Web',
    computed: {
      users() {
        return this.$store.state.users;
      }
    },
    data(){
      return {
        useri: {
          name: '',
          email: '',
          contact: '',
        },
        numberOk: true,
        select1:0,
        select2:0,
        select3:0,
        select4:0,
        residences: null,
        del: false,
        colorAlert:'danger',
        idsup: null,
      }
    },
    methods: {
      deconnexion() {
        this.$store.commit('Connexion', this.useri);
        this.users.name = '';
        this.$router.push({ path: '/recherche' });
      },
  
       openAlert(id){
         this.idsup = id;
        this.$vs.dialog({
          color:'danger',
          title: 'Suppression',
          acceptText: 'Oui supprimer',
          text: 'Êtes vous sûre de vouloir supprimer ?',
          accept:this.delResidences
        })
      },
       acceptAlert(){
        this.$vs.notify({
          color:'success',
          position: 'top-right',
          title:'Supprimé',
          text:'Supprimé avec succès'
        });
      },
      delResidences() {
        this.$vs.loading({
          type:'point',
        })
        axios.get('https://autre.sarezide.com/sarezide_supprimer_resid.php?id=' + this.idsup)
        .then((response) => {
          this.residences = response.data.data;
          this.$vs.loading.close();
          this.acceptAlert();
        }, (error) => {
          console.log(error);
          this.$vs.loading.close()
        });
      },
      getResidences() {
        this.$vs.loading({
          type:'point',
        })
        axios.get('https://autre.sarezide.com/sarezide_get_reservations_alls.php?ref=' + this.users.id)
        .then((response) => {
          this.residences = response.data.data;
          this.$vs.loading.close()
        }, (error) => {
          console.log(error);
          this.$vs.loading.close()
        });
      },
      verifcon() {
            if(this.users.name == '') {
              this.$router.push({ path: '/login' });
            }
          }
    },
    mounted() {
      this.getResidences();
      this.verifcon();
    },
  }
  </script>
  